Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

feat: Integrate Microsoft eval-recipes benchmarking for amplihack evaluation
  .claude/agents/eval-recipes/amplihack/agent.yaml
  .claude/agents/eval-recipes/amplihack/command_template.txt
  .claude/agents/eval-recipes/amplihack/install.dockerfile
  .claude/agents/eval-recipes/claude_code/agent.yaml
  .claude/agents/eval-recipes/claude_code/command_template.txt
  .claude/agents/eval-recipes/claude_code/install.dockerfile
  .claude/tools/benchmarking/README.md
  .claude/tools/benchmarking/__init__.py
  .claude/tools/benchmarking/agent_config.py
  .claude/tools/benchmarking/docker_manager.py
  .claude/tools/benchmarking/results.py
  .claude/tools/benchmarking/runner.py
  .claude/tools/benchmarking/secrets_manager.py
  .gitguardian.yaml
  Makefile
  pyproject.toml
  tests/test_benchmarking/__init__.py
  tests/test_benchmarking/test_agent_config.py
  tests/test_benchmarking/test_docker_manager.py
  tests/test_benchmarking/test_results.py
  tests/test_benchmarking/test_runner.py
  tests/test_benchmarking/test_secrets_manager.py
Due: check-imports, check-dependencies

feat: Add containerized mode for Docker
  IMPLEMENTATION_SUMMARY.md
  src/amplihack/cli.py
  src/amplihack/launcher/core.py
  tests/integration/test_launcher_containerized.py
  verify_containerized.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Prevent infinite hang in UVX launch from home directory (#1444)
  src/amplihack/utils/project_initializer.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: Update component catalog timestamp
  .claude/context/COMPONENT_CATALOG.md
Due: none

chore: Update .version to latest commit
  .claude/.version
Due: none

fix: StatusLine not working in UVX mode - use template instead of inline
  pyproject.toml
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: StatusLine not working in UVX mode - use template instead of inline (#1447)
  pyproject.toml
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Default 'tool' to EXECUTABLE for eval compatibility
  .claude/agents/amplihack/specialized/prompt-writer.md
Due: none

fix: Run Claude Code as non-root user in Docker (proper solution)
  .claude/agents/eval-recipes/amplihack/install.dockerfile
  .claude/agents/eval-recipes/claude_code/install.dockerfile
Due: none

fix: Copy statusline.sh during UVX installation
  .claude/context/PROJECT.md.bak
  .claude/settings.json
  .claude/skills/docx/ooxml
  .claude/skills/docx/ooxml/README.md
  .claude/skills/docx/ooxml/scripts/pack.py
  .claude/skills/docx/ooxml/scripts/unpack.py
  .claude/skills/pptx/ooxml
  .claude/skills/pptx/ooxml/README.md
  .claude/skills/pptx/ooxml/scripts/pack.py
  .claude/skills/pptx/ooxml/scripts/unpack.py
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  src/amplihack/__init__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

fix: Re-implement PR #1438 - Stage to working directory, not temp + StatusLine
  pyproject.toml
  src/amplihack/__init__.py
  src/amplihack/cli.py
  src/amplihack/safety/safe_copy_strategy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add agent configs for eval-recipes benchmarking
  .claude/agents/eval-recipes/README.md
  .claude/agents/eval-recipes/amplihack/agent.yaml
  .claude/agents/eval-recipes/amplihack/command_template.txt
  .claude/agents/eval-recipes/amplihack/install.dockerfile
  .claude/agents/eval-recipes/claude_code/agent.yaml
  .claude/agents/eval-recipes/claude_code/command_template.txt
  .claude/agents/eval-recipes/claude_code/install.dockerfile
Due: none

feat: Add 3-option prompt - overwrite (default), temp, or cancel
  src/amplihack/cli.py
  src/amplihack/safety/safe_copy_strategy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove verify_containerized.py from repo root
  verify_containerized.py
Due: check-imports, check-dependencies

docs: Add Docker usage guide (non-root user pattern)
  docs/DOCKER.md
Due: none

fix: Non-interactive detection - check --auto/-p flags, not stdin
  src/amplihack/safety/safe_copy_strategy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add concurrent session note + gitignore backup dirs
  .gitignore
  src/amplihack/safety/safe_copy_strategy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add working Docker support (Dockerfile + docker-compose)
  docker/Dockerfile
  docker/README.md
  docker/docker-compose.yml
Due: none

fix: Re-implement PR #1438 - Stage to working directory + StatusLine (#1449)
  .gitignore
  src/amplihack/__init__.py
  src/amplihack/cli.py
  src/amplihack/safety/safe_copy_strategy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add agentic testing guide for future PRs
  .claude/context/AGENTIC_TESTING_GUIDE.md
Due: none

feat: Add eval-recipes-runner skill for benchmark validation
  .claude/skills/eval-recipes-runner/skill.md
Due: none

feat: Add Azure admin automation tools for bulk user and role management
  scripts/azure-admin/README.md
  scripts/azure-admin/azure-assign-roles.sh
  scripts/azure-admin/create-azure-users.sh
Due: none

fix: Ignore deleted files in conflict detection
  src/amplihack/safety/git_conflict_detector.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Ignore deleted files in conflict detection (#1457)
  src/amplihack/safety/git_conflict_detector.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Always set CLAUDE_PROJECT_DIR for command discovery in UVX
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add explicit tool vs skill classification to context
  .claude/context/TOOL_VS_SKILL_CLASSIFICATION.md
Due: none

fix: Make tool vs skill classification prominent in CLAUDE.md
  CLAUDE.md
Due: none

fix: Add ripgrep to prerequisites + ignore deleted files in conflict detection
  src/amplihack/utils/prerequisites.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Update classification to prefer tool+skill pattern
  .claude/context/TOOL_VS_SKILL_CLASSIFICATION.md
  CLAUDE.md
Due: none

arch: Add workflows-as-skills architectural proposal
  Specs/EXTENSIBILITY_ARCHITECTURE_V3.md
Due: none

fix: Always set CLAUDE_PROJECT_DIR for command discovery in UVX mode (#1458)
  src/amplihack/cli.py
  src/amplihack/utils/prerequisites.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add comprehensive eval-recipes benchmarking guide
  docs/BENCHMARKING.md
Due: none

fix: Add YAML frontmatter to all slash commands for proper discovery
  .claude/commands/amplihack/analyze.md
  .claude/commands/amplihack/auto.md
  .claude/commands/amplihack/cascade.md
  .claude/commands/amplihack/debate.md
  .claude/commands/amplihack/expert-panel.md
  .claude/commands/amplihack/fix.md
  .claude/commands/amplihack/improve.md
  .claude/commands/amplihack/ingest-code.md
  .claude/commands/amplihack/install.md
  .claude/commands/amplihack/lock.md
  .claude/commands/amplihack/modular-build.md
  .claude/commands/amplihack/n-version.md
  .claude/commands/amplihack/reflect.md
  .claude/commands/amplihack/socratic.md
  .claude/commands/amplihack/transcripts.md
  .claude/commands/amplihack/ultrathink.md
  .claude/commands/amplihack/uninstall.md
  .claude/commands/amplihack/unlock.md
  .claude/commands/amplihack/xpia.md
Due: none

feat: Migrate all workflows to Claude Code skills
  .claude/commands/amplihack/ultrathink.md
  .claude/context/PROJECT.md.bak
  .claude/skills/cascade-workflow/SKILL.md
  .claude/skills/debate-workflow/SKILL.md
  .claude/skills/default-workflow/SKILL.md
  .claude/skills/default-workflow/reference/REVIEW_PHASES.md
  .claude/skills/investigation-workflow/SKILL.md
  .claude/skills/n-version-workflow/SKILL.md
  .claude/skills/philosophy-compliance-workflow/SKILL.md
Due: none

docs: Update CLAUDE.md with 3-mechanism architecture
  CLAUDE.md
Due: none

fix: Auto-recover from corrupted/non-executable Claude CLI binary
  src/amplihack/utils/claude_cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add comprehensive plan for PR #1461 scope
  Specs/PR_1461_COMPREHENSIVE_PLAN.md
Due: none

docs: Add Option A atomic delivery plan (5 PRs + experiment)
  Specs/ATOMIC_DELIVERY_PLAN.md
Due: none

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$
