Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$

fix: Change RustyClawd executable name from rustyclawd to rusty
  README.md
Due: none

fix: Restore README content removed in 03ff38c, keep RustyClawd section (#1881)
  .claude/.version
  .claude/context/DISCOVERIES.md
  .claude/context/USER_PREFERENCES.md
  README.md
Due: none

fix(power-steering): Fix infinite loop, counter persistence, and message customization (#1882)
  .claude/commands/amplihack/ps-diagnose.md
  .claude/tools/amplihack/hooks/power_steering_diagnostics.py
  .claude/tools/amplihack/hooks/power_steering_state.py
  .claude/tools/amplihack/hooks/tests/TEST_COVERAGE_SUMMARY_1882.md
  .claude/tools/amplihack/hooks/tests/test_issue_1882_power_steering_infinite_loop.py
  ISSUE_1882_IMPLEMENTATION_SUMMARY.md
  docs/features/power-steering/README.md
  docs/features/power-steering/changelog-v0.9.1.md
  docs/features/power-steering/migration-v0.9.1.md
  docs/features/power-steering/technical-reference.md
  docs/features/power-steering/troubleshooting.md
  docs/index.md
Due: check-imports, check-dependencies

fix: Align monotonicity tests with fail-open design
  .claude/tools/amplihack/hooks/tests/test_issue_1882_power_steering_infinite_loop.py
Due: check-imports, check-dependencies

refactor(power-steering): Extract fallback heuristics module to improve philosophy compliance
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/fallback_heuristics.py
  .claude/tools/amplihack/hooks/power_steering_state.py
  .claude/tools/amplihack/hooks/tests/test_fallback_heuristics.py
Due: check-imports, check-dependencies

fix(power-steering): Fix infinite loop, counter persistence, and message customization (#1882) (#1883)
  .claude/commands/amplihack/ps-diagnose.md
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/fallback_heuristics.py
  .claude/tools/amplihack/hooks/power_steering_diagnostics.py
  .claude/tools/amplihack/hooks/power_steering_state.py
  .claude/tools/amplihack/hooks/tests/TEST_COVERAGE_SUMMARY_1882.md
  .claude/tools/amplihack/hooks/tests/test_fallback_heuristics.py
  .claude/tools/amplihack/hooks/tests/test_issue_1882_power_steering_infinite_loop.py
  ISSUE_1882_IMPLEMENTATION_SUMMARY.md
  docs/features/power-steering/README.md
  docs/features/power-steering/changelog-v0.9.1.md
  docs/features/power-steering/migration-v0.9.1.md
  docs/features/power-steering/technical-reference.md
  docs/features/power-steering/troubleshooting.md
  docs/index.md
Due: check-imports, check-dependencies

fix: Set AMPLIHACK_SHUTDOWN_IN_PROGRESS before sys.exit in signal_handler
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Set AMPLIHACK_SHUTDOWN_IN_PROGRESS before sys.exit in signal_handler (#1885)
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

enhance(workflow): Add pre-commit hook installation check to Step 12 (#1887)
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

refactor(workflow): Implement PR review feedback for Step 12 enhancement
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

docs: Remove Makefile references from link checker documentation
  .claude/scenarios/check-broken-links/README.md
  .claude/scenarios/check-broken-links/examples/check_docs_site.sh
Due: none

enhance(workflow): Add pre-commit hook installation check to Step 12 (#1888)
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

docs: Fix 47 broken links on GitHub Pages
  broken_links_report.md
  mkdocs.yml
Due: none

docs: Fix 47 broken links on GitHub Pages (#1891)
  broken_links_report.md
  mkdocs.yml
Due: none
