Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

feat: Add automatic dependency installation with user permission (Issue #1466)
  src/amplihack/utils/prerequisites.py
  tests/test_prerequisites.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test: Fix mocking in prerequisite tests to properly mock subprocess.run
  tests/test_prerequisites.py
Due: check-imports, check-dependencies

feat: Update /ultrathink to invoke workflow skills with markdown fallback
  .claude/commands/amplihack/ultrathink.md
Due: none

fix: Add version to newer skills
  .claude/skills/context_management/SKILL.md
  .claude/skills/email-drafter/SKILL.md
  .claude/skills/meeting-synthesizer/SKILL.md
Due: none

feat: Add specialized workflow skills (cascade, debate, n-version, philosophy-compliance)
  .claude/skills/cascade-workflow/SKILL.md
  .claude/skills/debate-workflow/SKILL.md
  .claude/skills/n-version-workflow/SKILL.md
  .claude/skills/philosophy-compliance-workflow/SKILL.md
Due: none

feat: Add core workflow skills (default-workflow & investigation-workflow)
  .claude/skills/default-workflow/SKILL.md
  .claude/skills/default-workflow/reference/REVIEW_PHASES.md
  .claude/skills/investigation-workflow/SKILL.md
Due: none

docs: Add 3-mechanism architecture documentation (PR #5)
  .claude/workflow/CASCADE_WORKFLOW.md
  .claude/workflow/CONSENSUS_WORKFLOW.md
  .claude/workflow/DEBATE_WORKFLOW.md
  .claude/workflow/DEFAULT_WORKFLOW.md
  .claude/workflow/INVESTIGATION_WORKFLOW.md
  .claude/workflow/N_VERSION_WORKFLOW.md
  CLAUDE.md
  docs/WORKFLOW_TO_SKILLS_MIGRATION.md
Due: none

feat: Add experimental ultrathink-orchestrator skill (PR #6)
  .claude/skills/ultrathink-orchestrator/README.md
  .claude/skills/ultrathink-orchestrator/SKILL.md
Due: none

docs: Final summary - 6 atomic PRs ready for testing
  Specs/ALL_PRS_READY_FOR_TESTING.md
Due: none

feat: Implement /transcripts save command (fixes #1424, #1423)
  .claude/commands/transcripts.py
Due: check-imports, check-dependencies

feat: Add Agent SDK vs Plain API decision framework to builder.md (fixes #1465)
  .claude/agents/amplihack/core/builder.md
Due: none

feat: Add diagnostic instrumentation for auto mode bug (Phase 1 of #1425)
  DELIVERABLES.txt
  DIAGNOSTIC_AND_FIX_STRATEGY.md
  EXECUTIVE_SUMMARY.md
  FIX_DESIGNS.md
  INSTRUMENTATION_COMPLETE.md
  INSTRUMENTATION_REFERENCE.md
  MONITORING_AND_REGRESSION_PREVENTION.md
  PHASE_1_SUMMARY.md
  QUICK_START_DIAGNOSTIC.md
  README.md
  TEST_PLAN.md
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add API Validation Before Implementation pattern (fixes #1463)
  .claude/context/PATTERNS.md
Due: none

feat: Add project structure detection system (fixes #1464)
  .claude/agents/amplihack/utils/README.md
  .claude/agents/amplihack/utils/structure_detection.py
  .claude/agents/amplihack/utils/test_basic_functionality.py
  .claude/agents/amplihack/utils/test_structure_detection.py
  Specs/ProjectStructureDetection.md
  Specs/StructureDetectionAgentIntegration.md
  Specs/StructureDetectionImplementation.md
Due: check-imports, check-dependencies

fix: Remove stub implementation per Zero-BS philosophy
  .claude/commands/transcripts.py
Due: check-imports, check-dependencies

feat: Implement working /transcripts save command (no stubs)
  .claude/commands/transcripts.py
Due: check-imports, check-dependencies

fix: Remove legacy debug print statements per Zero-BS philosophy
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: PM Architect Phase 2 (AI Assistance) - Smart recommendations and rich delegation
  .claude/commands/amplihack/pm-prepare.md
  .claude/commands/amplihack/pm-suggest.md
  .claude/tools/amplihack/pm/PHASE2_IMPLEMENTATION.md
  .claude/tools/amplihack/pm/cli.py
  .claude/tools/amplihack/pm/intelligence.py
  .claude/tools/amplihack/pm/test_phase2.py
  .claude/tools/amplihack/pm/workstream.py
Due: check-imports, check-dependencies

feat: PM Architect Phase 3 (Coordination) - Multi-workstream management
  .claude/commands/amplihack/pm-coordinate.md
  .claude/tools/amplihack/pm/PHASE3_IMPLEMENTATION.md
  .claude/tools/amplihack/pm/cli.py
  .claude/tools/amplihack/pm/state.py
  .claude/tools/amplihack/pm/test_phase3.py
  .claude/tools/amplihack/pm/workstream.py
Due: check-imports, check-dependencies

feat: PM Architect Phase 4 (Autonomy) - Autonomous operation with learning
  .claude/commands/amplihack/pm-autopilot.md
  .claude/commands/amplihack/pm-explain.md
  .claude/tools/amplihack/pm/PHASE4_IMPLEMENTATION.md
  .claude/tools/amplihack/pm/PHASE4_SUMMARY.md
  .claude/tools/amplihack/pm/__init__.py
  .claude/tools/amplihack/pm/autopilot.py
  .claude/tools/amplihack/pm/cli.py
  .claude/tools/amplihack/pm/learning.py
  .claude/tools/amplihack/pm/state.py
  .claude/tools/amplihack/pm/test_phase4.py
Due: check-imports, check-dependencies

chore: Bump version to 0.3.0
  pyproject.toml
Due: none

feat: Remote execution with azlin (#1474)
  .claude/commands/amplihack/remote.md
  .claude/skills/remote-work/SKILL.md
  .claude/tools/amplihack/remote/README.md
  .claude/tools/amplihack/remote/__init__.py
  .claude/tools/amplihack/remote/cli.py
  .claude/tools/amplihack/remote/context_packager.py
  .claude/tools/amplihack/remote/errors.py
  .claude/tools/amplihack/remote/executor.py
  .claude/tools/amplihack/remote/integrator.py
  .claude/tools/amplihack/remote/orchestrator.py
  .claude/tools/amplihack/remote/test_components.py
  .claude/tools/amplihack/remote/test_real_azure.py
  .claude/tools/amplihack/remote/test_with_existing_vm.py
  .claude/tools/amplihack/remote/tests/__init__.py
  .claude/tools/amplihack/remote/tests/test_context_packager.py
  .claude/tools/amplihack/remote/tests/test_integrator.py
  .claude/tools/amplihack/remote/tests/test_orchestrator.py
Due: check-imports, check-dependencies

fix: Address philosophy violations in remote execution (#1489)
  .claude/tools/amplihack/remote/executor.py
  .claude/tools/amplihack/remote/integrator.py
  .claude/tools/amplihack/remote/orchestrator.py
Due: check-imports, check-dependencies

feat: Integrate remote command into amplihack CLI
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Integrate remote subcommand into amplihack CLI
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Emphasize Steps 11-12 are MANDATORY in workflow
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

feat: Enforce mandatory Steps 11-12 (Code Review) in UltraThink workflow
  .claude/commands/amplihack/ultrathink.md
Due: none

docs: Add SDK import syntax verification notes to builder.md
  .claude/agents/amplihack/core/builder.md
Due: none

refactor: Address PR #1482 review feedback (score 9/10)
  .claude/context/PATTERNS.md
Due: none

fix: Make /transcripts save honest about functionality (Zero-BS compliance)
  .claude/commands/transcripts.py
Due: check-imports, check-dependencies

refactor: Address code review feedback for structure detection
  .claude/agents/amplihack/utils/structure_detection.py
  .claude/agents/amplihack/utils/test_structure_detection.py
Due: check-imports, check-dependencies

fix: Add --no-bastion to bypass azlin interactive prompts
  .claude/tools/amplihack/remote/orchestrator.py
Due: check-imports, check-dependencies

Add YAML frontmatter to slash command files for proper Claude Code discovery
  .claude/commands/amplihack/analyze.md
  .claude/commands/amplihack/auto.md
  .claude/commands/amplihack/cascade.md
  .claude/commands/amplihack/debate.md
  .claude/commands/amplihack/expert-panel.md
  .claude/commands/amplihack/fix.md
  .claude/commands/amplihack/improve.md
  .claude/commands/amplihack/ingest-code.md
  .claude/commands/amplihack/install.md
  .claude/commands/amplihack/lock.md
  .claude/commands/amplihack/modular-build.md
  .claude/commands/amplihack/n-version.md
  .claude/commands/amplihack/reflect.md
  .claude/commands/amplihack/socratic.md
  .claude/commands/amplihack/transcripts.md
  .claude/commands/amplihack/ultrathink.md
  .claude/commands/amplihack/uninstall.md
  .claude/commands/amplihack/unlock.md
  .claude/commands/amplihack/xpia.md
Due: none

feat: Add session classification to Power Steering (fixes #1492)
  .claude/tools/amplihack/.power_steering_config
  .claude/tools/amplihack/considerations.yaml
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/SESSION_CLASSIFICATION_TEST_SPEC.md
  .claude/tools/amplihack/hooks/tests/TEST_COVERAGE_ANALYSIS.md
  .claude/tools/amplihack/hooks/tests/test_session_classification.py
Due: check-imports, check-dependencies

feat: Add session classification to Power Steering (fixes #1492)
  .claude/tools/amplihack/hooks/tests/SESSION_CLASSIFICATION_TEST_SPEC.md
  .claude/tools/amplihack/hooks/tests/TEST_COVERAGE_ANALYSIS.md
  .claude/tools/amplihack/hooks/tests/test_session_classification.py
Due: check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$
