Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$

Update CLAUDE.md to refine working philosophy
  CLAUDE.md
Due: none

Clarify workflow and agent delegation instructions
  CLAUDE.md
Due: none

feat: Add interactive dependency installation with user approval (#1430)
  .claude/skills/ANALYST_SEARCH_CAPABILITY.md
  .claude/skills/ANALYST_VALIDATION_PLAN.md
  .claude/skills/design-patterns-expert/examples/01_quick_lookup.md
  .claude/skills/design-patterns-expert/examples/02_implementation_guide.md
  .claude/skills/design-patterns-expert/examples/03_pattern_recognition.md
  .claude/skills/design-patterns-expert/examples/04_pattern_comparison.md
  .claude/skills/design-patterns-expert/examples/05_philosophy_check.md
  .claude/skills/design-patterns-expert/examples/06_deep_dive.md
  .claude/skills/economist-analyst/README.md
  .claude/skills/economist-analyst/SKILL.md
  .claude/skills/economist-analyst/tests/quiz.md
  .claude/skills/epidemiologist-analyst/SKILL.md
  .claude/skills/historian-analyst/SKILL.md
  .claude/skills/outside-in-testing/scripts/check-freshness.py
  .claude/skills/outside-in-testing/tests/test_skill_examples.py
  .claude/skills/political-scientist-analyst/QUICK_REFERENCE.md
  .claude/skills/political-scientist-analyst/SKILL.md
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_sdk_integration.py
  .claude/tools/amplihack/update_engine.py
  .claude/tools/amplihack/update_prefs.py
  docs/INTERACTIVE_INSTALLATION.md
  examples/interactive_install_demo.py
  src/amplihack/__version_manifest__.py
  src/amplihack/utils/prerequisites.py
  tests/test_interactive_installer.py
  tests/test_prerequisites.py
  tests/unit/tools/version_check/test_file_classifier.py
  tests/unit/tools/version_check/test_update_engine.py
  tests/unit/tools/version_check/test_update_prefs.py
  tests/unit/tools/version_check/test_version_checker.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Remove socratic questioning and skills sections
  CLAUDE.md
Due: none

fix: Strengthen workflow language and add to priority hierarchy (Quick Win) (#1411)
  .claude/context/USER_REQUIREMENT_PRIORITY.md
  CLAUDE.md
Due: none

fix: Use exact match for Auto Update section to prevent false matches (#1415)
  .claude/context/USER_PREFERENCES.md
  .claude/tools/amplihack/update_prefs.py
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Make /ultrathink default behavior
  README.md
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Make /ultrathink default behavior (#1416)
  README.md
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Resolve critical code quality issues (Phase 1) (#1426)
  .claude/tools/amplihack/reflection/lightweight_analyzer.py
  src/amplihack/proxy/manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add statusLine configuration to installation templates
  .claude/context/DISCOVERIES.md
  .claude/tools/amplihack/install.sh
  src/amplihack/utils/uvx_settings_template.json
Due: sync-hooks-validation

fix: Add statusLine configuration to installation templates (#1434)
  .claude/context/DISCOVERIES.md
  .claude/tools/amplihack/install.sh
  src/amplihack/utils/uvx_settings_template.json
Due: sync-hooks-validation

feat: Add RustyClawd support to amplihack launcher
  README.md
  src/amplihack/cli.py
  src/amplihack/launcher/core.py
  src/amplihack/utils/claude_trace.py
  src/amplihack/utils/rustyclawd_detect.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: UVX Stop hook not found - Check CLAUDE_PROJECT_DIR first
  .claude/context/DISCOVERIES.md
  src/amplihack/hooks/manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Use relative hook paths in project settings.json
  .claude/settings.json
Due: sync-hooks-validation

feat: Add interactive dependency installation with user approval (#1430) (#1432)
  .claude/tools/amplihack/hooks/power_steering_checker.py
  docs/INTERACTIVE_INSTALLATION.md
  examples/interactive_install_demo.py
  src/amplihack/__version_manifest__.py
  src/amplihack/utils/prerequisites.py
  tests/test_interactive_installer.py
  tests/test_prerequisites.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Stage .claude to working directory, not temp directory
  .claude/context/DISCOVERIES.md
  src/amplihack/cli.py
  src/amplihack/safety/safe_copy_strategy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Complete reviewer feedback - tests, error handling, philosophy
  src/amplihack/cli.py
  src/amplihack/hooks/manager.py
  tests/safety/test_safe_copy_strategy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add .claude.backup-* to .gitignore
  .gitignore
Due: none

fix: Simplify to prompt-based approach (no backup clutter)
  .gitignore
  src/amplihack/cli.py
  src/amplihack/safety/safe_copy_strategy.py
  tests/safety/test_safe_copy_strategy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Update DISCOVERIES.md with final prompt-based approach
  .claude/context/DISCOVERIES.md
Due: none

feat: Improve UX - List all files, default to Y
  src/amplihack/safety/safe_copy_strategy.py
  tests/safety/test_safe_copy_strategy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add philosophy workflow, templates, catalog, and workflow commands
  .claude/templates/agent-template.md
  .claude/templates/command-template.md
  .claude/templates/skill-template.md
  .claude/templates/workflow-template.md
  .claude/workflow/PHILOSOPHY_COMPLIANCE_WORKFLOW.md
  .pre-commit-config.yaml
Due: none

feat: Add workflow commands and component catalog
  .claude/commands/amplihack/default-workflow.md
  .claude/commands/amplihack/investigation-workflow.md
  .claude/commands/amplihack/philosophy-workflow.md
  .claude/context/COMPONENT_CATALOG.md
  .claude/context/COMPONENT_CATALOG_README.md
  .claude/tools/generate_catalog.py
  Makefile
Due: check-imports, check-dependencies

fix: Stage .claude to working directory instead of temp directory (#1438)
  .claude/context/DISCOVERIES.md
  .claude/settings.json
  src/amplihack/cli.py
  src/amplihack/hooks/manager.py
  src/amplihack/safety/safe_copy_strategy.py
  tests/safety/test_safe_copy_strategy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

fix: Apply pre-commit auto-fixes and resolve validation errors
  .claude/context/COMPONENT_CATALOG.md
  .claude/skills/ANALYST_SEARCH_CAPABILITY.md
  .claude/skills/ANALYST_VALIDATION_PLAN.md
  .claude/skills/design-patterns-expert/examples/01_quick_lookup.md
  .claude/skills/design-patterns-expert/examples/02_implementation_guide.md
  .claude/skills/design-patterns-expert/examples/03_pattern_recognition.md
  .claude/skills/design-patterns-expert/examples/04_pattern_comparison.md
  .claude/skills/design-patterns-expert/examples/05_philosophy_check.md
  .claude/skills/design-patterns-expert/examples/06_deep_dive.md
  .claude/skills/economist-analyst/README.md
  .claude/skills/economist-analyst/SKILL.md
  .claude/skills/economist-analyst/tests/quiz.md
  .claude/skills/epidemiologist-analyst/SKILL.md
  .claude/skills/historian-analyst/SKILL.md
  .claude/skills/microsoft-agent-framework/scripts/check-freshness.py
  .claude/skills/outside-in-testing/examples/electron/electron-ipc-testing.yaml
  .claude/skills/outside-in-testing/examples/electron/multi-window-coordination.yaml
  .claude/skills/outside-in-testing/examples/electron/single-window-basic.yaml
  .claude/skills/outside-in-testing/scripts/check-freshness.py
  .claude/skills/outside-in-testing/tests/test_skill_examples.py
  .claude/skills/political-scientist-analyst/QUICK_REFERENCE.md
  .claude/skills/political-scientist-analyst/SKILL.md
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_redirects.py
  .claude/tools/amplihack/hooks/tests/test_sdk_integration.py
  .claude/tools/amplihack/update_engine.py
  .claude/tools/amplihack/update_prefs.py
  .claude/tools/amplihack/validate_frontmatter.py
  .claude/tools/generate_catalog.py
  src/amplihack/__version_manifest__.py
  src/amplihack/cli.py
  src/amplihack/launcher/core.py
  src/amplihack/utils/claude_trace.py
  src/amplihack/utils/rustyclawd_detect.py
  tests/unit/tools/version_check/test_file_classifier.py
  tests/unit/tools/version_check/test_update_engine.py
  tests/unit/tools/version_check/test_update_prefs.py
  tests/unit/tools/version_check/test_version_checker.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Revert "fix: Stage .claude to working directory instead of temp directory (#1438)"
  .claude/context/DISCOVERIES.md
  .claude/settings.json
  src/amplihack/cli.py
  src/amplihack/hooks/manager.py
  src/amplihack/safety/safe_copy_strategy.py
  tests/safety/test_safe_copy_strategy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

hotfix: Remove redundant Path imports causing UnboundLocalError
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

hotfix: Remove redundant Path imports causing UnboundLocalError (#1442)
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add task classification to prevent tool vs skill confusion
  .claude/agents/amplihack/core/builder.md
  .claude/agents/amplihack/specialized/prompt-writer.md
  .claude/workflow/DEFAULT_WORKFLOW.md
  tests/unit/test_task_classification_standalone.py
Due: check-imports, check-dependencies

fix: Default to AMBIGUOUS for fail-secure classification
  .claude/agents/amplihack/specialized/prompt-writer.md
Due: none

fix: Align test default classification with agent spec (AMBIGUOUS)
  tests/unit/test_task_classification_standalone.py
Due: check-imports, check-dependencies

feat: Add feedback loops and invocation patterns documentation
  .claude/commands/amplihack/skill-builder-examples.md
  .claude/context/INVOCATION_PATTERNS.md
  .claude/context/WORKFLOW_FEEDBACK_LOOPS.md
  .claude/skills/agent-sdk/SKILL.md
  .claude/skills/microsoft-agent-framework/SKILL.md
Due: none

fix: Add frontmatter to microsoft-agent-framework skill
  .claude/skills/microsoft-agent-framework/SKILL.md
Due: none

fix: Prevent infinite hang in UVX launch from home directory
  src/amplihack/utils/project_initializer.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Integrate Microsoft eval-recipes benchmarking for amplihack evaluation
  .claude/agents/eval-recipes/amplihack/agent.yaml
  .claude/agents/eval-recipes/amplihack/command_template.txt
  .claude/agents/eval-recipes/amplihack/install.dockerfile
  .claude/agents/eval-recipes/claude_code/agent.yaml
  .claude/agents/eval-recipes/claude_code/command_template.txt
  .claude/agents/eval-recipes/claude_code/install.dockerfile
  .claude/tools/benchmarking/README.md
  .claude/tools/benchmarking/__init__.py
  .claude/tools/benchmarking/agent_config.py
  .claude/tools/benchmarking/docker_manager.py
  .claude/tools/benchmarking/results.py
  .claude/tools/benchmarking/runner.py
  .claude/tools/benchmarking/secrets_manager.py
  .gitguardian.yaml
  Makefile
  pyproject.toml
  tests/test_benchmarking/__init__.py
  tests/test_benchmarking/test_agent_config.py
  tests/test_benchmarking/test_docker_manager.py
  tests/test_benchmarking/test_results.py
  tests/test_benchmarking/test_runner.py
  tests/test_benchmarking/test_secrets_manager.py
Due: check-imports, check-dependencies

docs: Add BENCHMARKING.md from PR #1409
  docs/BENCHMARKING.md
Due: none
