Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$

feat: PM Architect label-triggered delegation workflow (#1524)
  .claude/skills/pm-architect/scripts/delegate_response.py
  .claude/skills/pm-architect/scripts/pytest.ini
  .claude/skills/pm-architect/scripts/tests/__init__.py
  .claude/skills/pm-architect/scripts/tests/conftest.py
  .claude/skills/pm-architect/scripts/tests/requirements-test.txt
  .claude/skills/pm-architect/scripts/tests/test_delegate_response.py
  .claude/skills/pm-architect/scripts/tests/test_generate_daily_status.py
  .claude/skills/pm-architect/scripts/tests/test_generate_roadmap_review.py
  .claude/skills/pm-architect/scripts/tests/test_triage_pr.py
  .github/workflows/pm-label-delegate.yml
  PHILOSOPHY_VIOLATION_ANALYSIS.md
  PR_SPLIT_RECOMMENDATION.md
  TEST_PLAN.md
Due: check-imports, check-dependencies

feat: Add progress visibility to power-steering execution (fixes #1522) (#1526)
  .claude/tools/statusline.sh
Due: none

fix: Clean up repository root - remove temporary files and move analysis docs
  .claude/runtime/logs/analysis_2025_11_22/PHILOSOPHY_DEEP_DIVE_ANALYSIS.md
  .claude/runtime/logs/analysis_2025_11_22/PHILOSOPHY_VIOLATION_ANALYSIS.md
  PR_SPLIT_RECOMMENDATION.md
  apply_additional_fixes.py
  baseline_results.json
  create_fixes.py
  docs/testing/TEST_PLAN.md
  identified_fixes.json
Due: check-imports, check-dependencies

feat: Add automatic Azure region fallback for VM provisioning
  .claude/tools/amplihack/remote/orchestrator.py
Due: check-imports, check-dependencies

fix: Handle None stderr in region fallback error detection
  .claude/tools/amplihack/remote/orchestrator.py
Due: check-imports, check-dependencies

fix: Clean up repository root - remove temporary files and move analysis docs (#1530)
  .claude/runtime/logs/analysis_2025_11_22/PHILOSOPHY_DEEP_DIVE_ANALYSIS.md
  .claude/runtime/logs/analysis_2025_11_22/PHILOSOPHY_VIOLATION_ANALYSIS.md
  PR_SPLIT_RECOMMENDATION.md
  apply_additional_fixes.py
  baseline_results.json
  create_fixes.py
  docs/testing/TEST_PLAN.md
  identified_fixes.json
Due: check-imports, check-dependencies

fix: Replace power-steering emoji with traffic light (🎯 → 🚦)
  .claude/tools/statusline.sh
Due: none

fix: Replace power-steering emoji with traffic light (🎯 → 🚦) (#1532)
  .claude/tools/statusline.sh
Due: none

feat: Add MkDocs documentation website with auto-deployment (#1502)
  .claude/agents/amplihack/core/builder.md
  .claude/commands/amplihack/remote.md
  .claude/context/DISCOVERIES.md
  .claude/scenarios/README.md
  .claude/skills/remote-work/SKILL.md
  .claude/tools/amplihack/remote/README.md
  .claude/tools/amplihack/remote/__init__.py
  .claude/tools/amplihack/remote/cli.py
  .claude/tools/amplihack/remote/context_packager.py
  .claude/tools/amplihack/remote/errors.py
  .claude/tools/amplihack/remote/executor.py
  .claude/tools/amplihack/remote/integrator.py
  .claude/tools/amplihack/remote/orchestrator.py
  .claude/tools/amplihack/remote/test_components.py
  .claude/tools/amplihack/remote/test_real_azure.py
  .claude/tools/amplihack/remote/test_with_existing_vm.py
  .claude/tools/amplihack/remote/tests/__init__.py
  .claude/tools/amplihack/remote/tests/test_context_packager.py
  .claude/tools/amplihack/remote/tests/test_integrator.py
  .claude/tools/amplihack/remote/tests/test_orchestrator.py
  .github/workflows/docs.yml
  .gitignore
  CLAUDE.md
  Makefile
  docs/README.md
  docs/index.md
  mkdocs.yml
  requirements-docs.txt
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Merge latest main to resolve conflicts
  tests/unit/test_claude_cli_recovery.py
Due: check-imports, check-dependencies

feat: Add task classification to prevent tool vs skill confusion (#1443)
  .claude/agents/amplihack/core/builder.md
  .claude/agents/amplihack/specialized/prompt-writer.md
  .claude/context/TOOL_VS_SKILL_CLASSIFICATION.md
  .claude/workflow/DEFAULT_WORKFLOW.md
  CLAUDE.md
  tests/unit/test_task_classification_standalone.py
Due: check-imports, check-dependencies

feat: Add Azure Service Principal authentication for remote execution
  .claude/tools/amplihack/remote/AUTH_SETUP.md
  .claude/tools/amplihack/remote/README_AUTH.md
  .claude/tools/amplihack/remote/auth.py
  .claude/tools/amplihack/remote/test_auth.py
  .env.example
Due: check-imports, check-dependencies

feat: Add agent configs for eval-recipes (config injection only) (#1450)
  .claude/agents/eval-recipes/README.md
  .claude/agents/eval-recipes/amplihack/agent.yaml
  .claude/agents/eval-recipes/amplihack/command_template.txt
  .claude/agents/eval-recipes/amplihack/install.dockerfile
  .claude/agents/eval-recipes/claude_code/agent.yaml
  .claude/agents/eval-recipes/claude_code/command_template.txt
  .claude/agents/eval-recipes/claude_code/install.dockerfile
  .claude/skills/eval-recipes-runner/skill.md
  README.md
  docs/BENCHMARKING.md
Due: none

feat: Integrate Azure Service Principal auth into orchestrator
  .claude/tools/amplihack/remote/orchestrator.py
Due: check-imports, check-dependencies

docs: Add profile management documentation and enforce doc discoverability
  .claude/tools/amplihack/considerations.yaml
  .claude/tools/amplihack/hooks/power_steering_checker.py
  README.md
  docs/PROFILE_MANAGEMENT.md
Due: check-imports, check-dependencies

feat: Add VM tagging with amplihack-remote identifier
  .claude/tools/amplihack/remote/orchestrator.py
Due: check-imports, check-dependencies

refactor: Remove experimental status from ultrathink-orchestrator skill
  .claude/skills/ultrathink-orchestrator/README.md
  .claude/skills/ultrathink-orchestrator/SKILL.md
  Specs/ALL_PRS_READY_FOR_TESTING.md
Due: none

fix(docs): Correct PROFILE_MANAGEMENT.md to match actual implementation
  docs/PROFILE_MANAGEMENT.md
Due: none

feat: Add concise Agent SDK vs Plain API guidance to builder.md
  .claude/agents/amplihack/core/builder.md
Due: none

fix: Add azure-identity dependency for SP authentication
  pyproject.toml
Due: none

docs: Remove all future feature references from profile documentation
  docs/PROFILE_MANAGEMENT.md
Due: none

refactor: Ruthlessly simplify API validation pattern
  .claude/context/PATTERNS.md
Due: none

feat: Add API Validation Before Implementation pattern (fixes #1463) (#1482)
  .claude/context/PATTERNS.md
Due: none

feat: Add comprehensive Azure administration skill
  .claude/skills/azure-admin/README.md
  .claude/skills/azure-admin/SKILL.md
  .claude/skills/azure-admin/docs/cli-patterns.md
  .claude/skills/azure-admin/docs/cost-optimization.md
  .claude/skills/azure-admin/docs/devops-automation.md
  .claude/skills/azure-admin/docs/mcp-integration.md
  .claude/skills/azure-admin/docs/resource-management.md
  .claude/skills/azure-admin/docs/role-assignments.md
  .claude/skills/azure-admin/docs/troubleshooting.md
  .claude/skills/azure-admin/docs/user-management.md
  .claude/skills/azure-admin/examples/bulk-user-onboarding.md
  .claude/skills/azure-admin/examples/environment-setup.md
  .claude/skills/azure-admin/examples/mcp-workflow.md
  .claude/skills/azure-admin/examples/role-audit.md
  .claude/skills/azure-admin/references/api-references.md
  .claude/skills/azure-admin/references/az-104-guide.md
  .claude/skills/azure-admin/references/microsoft-learn.md
Due: none

fix: Add --no-auto-connect flag to azlin command
  .claude/tools/amplihack/remote/orchestrator.py
Due: check-imports, check-dependencies

fix: Redirect stdin to DEVNULL for azlin subprocess
  .claude/tools/amplihack/remote/orchestrator.py
Due: check-imports, check-dependencies

fix: Add 60s wait after VM provisioning for initialization
  .claude/tools/amplihack/remote/orchestrator.py
Due: check-imports, check-dependencies

fix: Increase VM initialization wait to 240s for cloud-init
  .claude/tools/amplihack/remote/orchestrator.py
Due: check-imports, check-dependencies

fix: Remove capture_output to prevent azlin pipe blocking
  .claude/tools/amplihack/remote/orchestrator.py
Due: check-imports, check-dependencies

feat: Add configurable timeout and transparent error handling to auto mode
  src/amplihack/cli.py
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add statusLine config to existing settings.json during install
  .claude/tools/amplihack/install.sh
Due: none

fix: Address reviewer feedback - fix timeout calculation and add validation
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove unnecessary escaping in statusLine path insertion
  .claude/tools/amplihack/install.sh
Due: none

fix: Copy archive to ~/ before azlin cp (path resolution issue)
  .claude/tools/amplihack/remote/executor.py
Due: check-imports, check-dependencies

fix: Add statusLine config to existing settings.json during install (fixes #1539) (#1541)
  .claude/tools/amplihack/install.sh
Due: none

feat: Connect profile system to amplihack file staging
  .claude/commands/amplihack/profile.md
  .claude/tools/amplihack/profile_management/staging.py
  src/amplihack/__init__.py
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Move error handling to system boundaries per PHILOSOPHY.md
  .claude/tools/amplihack/profile_management/staging.py
  src/amplihack/__init__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add per-session statusline counters for power-steering and lock mode
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/statusline.sh
Due: check-imports, check-dependencies
