Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$

chore: Remove duplicate ultrathink.md - use amplihack/ultrathink.md
  .claude/commands/ultrathink.md
Due: none

docs: Add session handoff report
  HANDOFF_REPORT.md
Due: none

docs: Add session handoff report and TUI PR instructions
  TUI_PR_INSTRUCTIONS.md
Due: none

fix: Capture both STDOUT and STDERR in auto mode logging (#1045)
  TUI_PR_INSTRUCTIONS.md
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: Remove temporary workflow execution document
  WORKFLOW_EXECUTION.md
Due: none

fix: Log FULL stdout/stderr output per user requirement
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add import fallback for direct module testing
  amplifier-module-orchestrator-amplihack/core.py
Due: check-imports, check-dependencies

fix: Capture both STDOUT and STDERR in auto mode logging (#1045) (#1048)
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add complete DevContainer setup for GitHub Codespaces
  .devcontainer/OPTIMIZING_FOR_CODESPACES.md
  .devcontainer/POST_SETUP_README.md
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
Due: none

Add complete DevContainer setup for GitHub Codespaces (#1041)
  .devcontainer/OPTIMIZING_FOR_CODESPACES.md
  .devcontainer/POST_SETUP_README.md
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
Due: none

fix: Robust project root detection for UV/UVX deployments
  .claude/commands/builders.py
  .claude/commands/transcripts.py
  .claude/tools/amplihack/builders/claude_transcript_builder.py
  .claude/tools/amplihack/builders/codex_transcripts_builder.py
  .claude/tools/amplihack/memory/context_preservation.py
  .claude/tools/amplihack/memory/examples.py
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix project root detection and transcript export validation
  .claude/tools/xpia/hooks/post_tool_use.py
  .claude/tools/xpia/hooks/pre_tool_use.py
  .claude/tools/xpia/hooks/session_start.py
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Resolve transcript export path detection for all installation methods
  .claude/tools/amplihack/paths.py
  RUN_TEST.md
  TEST_COVERAGE.md
  test_logging_fixes.py
Due: check-imports, check-dependencies

fix: Restore auto mode logging to all three destinations
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Auto mode logging and transcript export fixes (#1049)
  .claude/commands/builders.py
  .claude/commands/transcripts.py
  .claude/tools/amplihack/builders/claude_transcript_builder.py
  .claude/tools/amplihack/builders/codex_transcripts_builder.py
  .claude/tools/amplihack/memory/context_preservation.py
  .claude/tools/amplihack/memory/examples.py
  .claude/tools/amplihack/paths.py
  .claude/tools/xpia/hooks/post_tool_use.py
  .claude/tools/xpia/hooks/pre_tool_use.py
  .claude/tools/xpia/hooks/session_start.py
  RUN_TEST.md
  TEST_COVERAGE.md
  src/amplihack/launcher/auto_mode.py
  test_logging_fixes.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: port 5 unique specialized agents from amplifier (#1038)
  .claude/agents/README.md
  .claude/agents/ambiguity-guardian.md
  .claude/agents/concept-extractor.md
  .claude/agents/insight-synthesizer.md
  .claude/agents/knowledge-archaeologist.md
  .claude/agents/post-task-cleanup.md
Due: none

feat: Add conditional --verbose flag for auto vs interactive mode
  .claude/tools/amplihack/builders/claude_transcript_builder.py
  .claude/tools/amplihack/builders/codex_transcripts_builder.py
  .claude/tools/amplihack/memory/context_preservation.py
  .claude/tools/amplihack/memory/examples.py
  .claude/tools/amplihack/paths.py
  .claude/tools/xpia/hooks/post_tool_use.py
  .claude/tools/xpia/hooks/pre_tool_use.py
  .claude/tools/xpia/hooks/session_start.py
  src/amplihack/cli.py
  src/amplihack/launcher/auto_mode.py
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: add extra newline to auto mode log output for better readability
  DESIGN_SPECIFICATION.md
  src/amplihack/launcher/auto_mode.py
  test_log_fix_manual.py
  tests/unit/test_auto_mode_log_formatting.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add conditional --verbose flag for auto vs interactive mode (#1050)
  src/amplihack/cli.py
  src/amplihack/launcher/auto_mode.py
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: add extra newline to auto mode log output for better readability (#1051)
  DESIGN_SPECIFICATION.md
  src/amplihack/launcher/auto_mode.py
  test_log_fix_manual.py
  tests/unit/test_auto_mode_log_formatting.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Make TodoWrite tool calls visible in auto mode
  src/amplihack/launcher/auto_mode.py
  src/amplihack/launcher/session_capture.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add thread-safe todos update to MessageCapture
  src/amplihack/launcher/auto_mode.py
  src/amplihack/launcher/session_capture.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Resolve auto mode transcript export path mismatch in UVX environments
  .claude/tools/amplihack/builders/claude_transcript_builder.py
  src/amplihack/launcher/auto_mode.py
  tests/test_transcript_codex_builders.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add exception documentation to ClaudeTranscriptBuilder
  .claude/tools/amplihack/builders/claude_transcript_builder.py
Due: check-imports, check-dependencies

fix: Make TodoWrite tool calls visible in auto mode (#1054)
  src/amplihack/launcher/auto_mode.py
  src/amplihack/launcher/session_capture.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix: Auto mode transcript export path mismatch in UVX environments (#1055)
  .claude/tools/amplihack/builders/claude_transcript_builder.py
  src/amplihack/launcher/auto_mode.py
  tests/test_transcript_codex_builders.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Auto-prepend /amplihack:ultrathink to auto mode prompts
  src/amplihack/cli.py
  tests/SUMMARY_AUTO_MODE_ULTRATHINK_TESTS.md
  tests/TEST_COVERAGE_AUTO_MODE_ULTRATHINK.md
  tests/e2e/test_cli_auto_mode_ultrathink_e2e.py
  tests/integration/test_cli_auto_mode_ultrathink.py
  tests/unit/test_cli_ensure_ultrathink.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Auto-prepend /amplihack:ultrathink to auto mode prompts (#1057)
  src/amplihack/cli.py
  tests/SUMMARY_AUTO_MODE_ULTRATHINK_TESTS.md
  tests/TEST_COVERAGE_AUTO_MODE_ULTRATHINK.md
  tests/e2e/test_cli_auto_mode_ultrathink_e2e.py
  tests/integration/test_cli_auto_mode_ultrathink.py
  tests/unit/test_cli_ensure_ultrathink.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: TodoWrite tracking in auto mode - correct SDK object handling
  src/amplihack/launcher/auto_mode.py
  tests/manual/test_todowrite_in_auto_mode.sh
  tests/unit/test_auto_mode_todowrite_fix.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add automated version management and display
  .github/workflows/version-bump.yml
  src/amplihack/cli.py
  src/amplihack/launcher/auto_mode_ui.py
  src/amplihack/version.py
  tests/test_version.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: enhance ClaudeTranscriptBuilder with optional working_dir parameter
  .claude/tools/amplihack/builders/claude_transcript_builder.py
  tests/manual/test_todowrite_in_auto_mode.sh
Due: check-imports, check-dependencies

fix: address critical regex bug and add explicit permissions
  .github/workflows/version-bump.yml
Due: none

feat: Add automated version management and display
  .github/workflows/version-bump.yml
  src/amplihack/cli.py
  src/amplihack/launcher/auto_mode_ui.py
  src/amplihack/version.py
  tests/test_version.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: correct heredoc syntax in version-bump workflow
  .github/workflows/version-bump.yml
Due: none

fix: Correct heredoc syntax in version-bump workflow
  .github/workflows/version-bump.yml
Due: none

fix: use stdin (-) in Python heredoc for proper argument passing
  .github/workflows/version-bump.yml
Due: none

fix: Use stdin (-) in Python heredoc
  .github/workflows/version-bump.yml
Due: none

fix: Support version detection in installed packages
  src/amplihack/version.py
  tests/test_version.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Support version detection in installed packages (#1064)
  src/amplihack/version.py
  tests/test_version.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
