Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

chore: Remove transient documentation files from project root (#1171)
  DESIGN_SPECIFICATION.md
  TEST_COVERAGE.md
  TEST_PLAN.md
Due: none

refactor: remove PyPI publishing, keep only version bumping and tagging
  .github/AUTO_VERSIONING.md
  .github/workflows/auto-version-bump.yml
Due: none

feat: Add metadata tracking for code ingestion index (Issue #1181)
  src/amplihack/memory/neo4j/README.md
  src/amplihack/memory/neo4j/__init__.py
  src/amplihack/memory/neo4j/identifier.py
  src/amplihack/memory/neo4j/ingestion_tracker.py
  src/amplihack/memory/neo4j/models.py
  src/amplihack/memory/neo4j/neo4j_schema.py
  src/amplihack/memory/neo4j/query_builder.py
  tests/test_neo4j/__init__.py
  tests/test_neo4j/conftest.py
  tests/test_neo4j/test_identifier.py
  tests/test_neo4j/test_ingestion_tracker.py
  tests/test_neo4j/test_models.py
  tests/test_neo4j/test_query_builder.py
  tests/test_neo4j/test_schema.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Convert relative imports to absolute imports in auto_mode.py (#1138)
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Change reflection to opt-in (disabled by default) #1184
  .claude/commands/amplihack/reflect.md
  .claude/commands/amplihack/reflection.md
  .claude/tools/amplihack/.reflection_config
Due: none

docs: Fix documentation inconsistencies in reflect.md
  .claude/commands/amplihack/reflect.md
Due: none

fix: Azure endpoint detection priority over GitHub Copilot (#1139)
  src/amplihack/proxy/config.py
  tests/proxy/test_azure_config.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Align environment variable default with config file
  .claude/tools/amplihack/reflection/reflection.py
Due: check-imports, check-dependencies

Fix Neo4j CodeIndexMetadata warnings on first startup
  src/amplihack/memory/neo4j/code_freshness.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add comprehensive README for .claude/tools/ directory
  .claude/tools/README.md
Due: none

chore: Remove errant pip error file from worktree
  =5.15.0
Due: none

fix: Change reflection to opt-in (disabled by default) (#1186)
  .claude/commands/amplihack/reflect.md
  .claude/commands/amplihack/reflection.md
  .claude/tools/amplihack/.reflection_config
  .claude/tools/amplihack/reflection/reflection.py
Due: check-imports, check-dependencies

Resolve merge conflicts: Apply CLI help text enhancements to main branch (#1173)
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add comprehensive README for .claude/tools/ directory (#1142)
  .claude/tools/README.md
  =5.15.0
Due: none

feat: Complete instruction injection feature for auto mode (Issue #1004) (#1141)
  .claude/tools/amplihack/hooks/session_start.py
  amplifier-module-orchestrator-amplihack/README.md
  amplifier-module-orchestrator-amplihack/__init__.py
  amplifier-module-orchestrator-amplihack/core.py
  amplifier-module-orchestrator-amplihack/examples/basic_usage.py
  amplifier-module-orchestrator-amplihack/models.py
  amplifier-module-orchestrator-amplihack/tests/test_core.py
  src/amplihack/cli.py
  src/amplihack/utils/claude_cli.py
  src/amplihack/utils/uvx_settings_template.json
  tests/integration/test_auto_mode_append_integration.py
  tests/proxy/test_github_copilot_litellm_integration.py
  tests/test_prerequisites.py
  tests/unit/test_auto_mode_injection.py
  tests/unit/test_auto_mode_ui.py
  tests/unit/test_expert_panel.py
  tests/unit/test_session_finder.py
  tests/unit/test_ui_sdk_integration.py
  tests/unit/test_ui_threading.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

Simplify TodoWrite mandate to minimal wording change (#1175)
  .claude/commands/amplihack/ultrathink.md
Due: none

test: Add comprehensive test coverage for integrated_proxy routing logic (#1135)
  src/amplihack/utils/defensive.py
  tests/unit/test_integrated_proxy_routing.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Rename tests/neo4j to tests/neo4j_container_detection to avoid import shadowing
  tests/neo4j_container_detection/__init__.py
  tests/neo4j_container_detection/test_neo4j_container_detection.py
Due: check-imports, check-dependencies

refactor: Address all code review feedback from reviewer agent
  src/amplihack/memory/neo4j/README.md
  src/amplihack/memory/neo4j/__init__.py
  src/amplihack/memory/neo4j/identifier.py
  src/amplihack/memory/neo4j/ingestion_tracker.py
  src/amplihack/memory/neo4j/query_builder.py
  tests/test_neo4j/test_query_builder.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add run_blarify method to BlarifyIntegration class
  src/amplihack/memory/neo4j/code_graph.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Integrate Neo4j credential detection into launcher startup (Issue #1190)
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add metadata tracking for code ingestion index (Issue #1181) (#1182)
  src/amplihack/memory/neo4j/README.md
  src/amplihack/memory/neo4j/__init__.py
  src/amplihack/memory/neo4j/identifier.py
  src/amplihack/memory/neo4j/ingestion_tracker.py
  src/amplihack/memory/neo4j/models.py
  src/amplihack/memory/neo4j/neo4j_schema.py
  src/amplihack/memory/neo4j/query_builder.py
  tests/neo4j_container_detection/__init__.py
  tests/neo4j_container_detection/test_neo4j_container_detection.py
  tests/test_neo4j/__init__.py
  tests/test_neo4j/conftest.py
  tests/test_neo4j/test_identifier.py
  tests/test_neo4j/test_ingestion_tracker.py
  tests/test_neo4j/test_models.py
  tests/test_neo4j/test_query_builder.py
  tests/test_neo4j/test_schema.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Integrate Neo4j credential detection into launcher startup (Issue #1190) (#1192)
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add run_blarify method to BlarifyIntegration class (#1191)
  src/amplihack/memory/neo4j/code_graph.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add run_blarify() method to BlarifyIntegration class
  src/amplihack/memory/neo4j/code_graph.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Improve error message context and clarify docstring
  src/amplihack/memory/neo4j/code_graph.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add message parameter to /amplihack:lock command (Issue #1194)
  .claude/commands/amplihack/lock.md
  .claude/tools/amplihack/hooks/stop.py
  tests/conftest.py
  tests/e2e/test_stop_hook_workflows.py
  tests/integration/test_stop_hook_lock_integration.py
  tests/integration/test_stop_hook_prompt_integration.py
  tests/unit/test_stop_hook_prompt.py
Due: check-imports, check-dependencies

feat: Add message parameter to /amplihack:lock command (Issue #1194) (#1197)
  .claude/commands/amplihack/lock.md
  .claude/tools/amplihack/hooks/stop.py
  tests/conftest.py
  tests/e2e/test_stop_hook_workflows.py
  tests/integration/test_stop_hook_lock_integration.py
  tests/integration/test_stop_hook_prompt_integration.py
  tests/unit/test_stop_hook_prompt.py
Due: check-imports, check-dependencies

Fix Neo4j startup warnings for missing CodeIndexMetadata label
  .claude/context/USER_PREFERENCES.md
  src/amplihack/memory/neo4j/code_freshness.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix Neo4j startup warnings for missing CodeIndexMetadata label (#1198)
  .claude/context/USER_PREFERENCES.md
Due: none

fix: Add blarify as project dependency
  pyproject.toml
Due: none

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$
