Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$

feat: Add configurable timeout and transparent error handling to auto mode (#1540)
  src/amplihack/cli.py
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Correct import path for profile_management module
  src/amplihack/__init__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

temp: Disable PR triage workflow until script is implemented
  .github/workflows/pm-pr-triage.yml
Due: none

feat: Per-session statusline counters for power-steering and lock mode (#1544)
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/statusline.sh
  .github/workflows/pm-pr-triage.yml
Due: check-imports, check-dependencies

fix: Use string path comparison in file filter
  .claude/tools/amplihack/profile_management/staging.py
Due: check-imports, check-dependencies

Remove redundant tool vs skill classification section
  CLAUDE.md
Due: none

fix: Use ~/amplihack-workspace instead of /home/amplihack
  .claude/tools/amplihack/remote/executor.py
Due: check-imports, check-dependencies

feat: Implement PR triage automation script (MVP mode)
  .github/scripts/pr_triage/README.md
  .github/scripts/pr_triage/analyzers_mvp.py
  .github/scripts/pr_triage/security.py
  .github/scripts/pr_triage/tests/test_analyzers.py
  .github/scripts/pr_triage/tests/test_analyzers_mvp.py
  .github/scripts/pr_triage/tests/test_formatters.py
  .github/scripts/pr_triage/tests/test_report_generator.py
  .github/scripts/pr_triage/tests/test_security.py
  .github/scripts/pr_triage/validator.py
  .github/scripts/pr_triage_main.py
Due: check-imports, check-dependencies

fix: Apply profile filtering to UVX launch staging
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Implement PR triage automation script (MVP mode) (#1548)
  .github/scripts/pr_triage/README.md
  .github/scripts/pr_triage/analyzers_mvp.py
  .github/scripts/pr_triage/security.py
  .github/scripts/pr_triage/tests/test_analyzers.py
  .github/scripts/pr_triage/tests/test_analyzers_mvp.py
  .github/scripts/pr_triage/tests/test_formatters.py
  .github/scripts/pr_triage/tests/test_report_generator.py
  .github/scripts/pr_triage/tests/test_security.py
  .github/scripts/pr_triage/validator.py
  .github/scripts/pr_triage_main.py
Due: check-imports, check-dependencies

fix: Re-enable PM - PR Triage workflow
  .github/workflows/pm-pr-triage.yml
Due: none

debug: Add debug output to file filter
  src/amplihack/__init__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add MCP Manager tool for conversational MCP configuration
  .claude/scenarios/mcp-manager/HOW_TO_CREATE_YOUR_OWN.md
  .claude/scenarios/mcp-manager/README.md
  .claude/scenarios/mcp-manager/__init__.py
  .claude/scenarios/mcp-manager/cli.py
  .claude/scenarios/mcp-manager/config_manager.py
  .claude/scenarios/mcp-manager/examples/basic_usage.py
  .claude/scenarios/mcp-manager/mcp_operations.py
  .claude/scenarios/mcp-manager/tests/__init__.py
  .claude/scenarios/mcp-manager/tests/fixtures/sample_config.json
  .claude/scenarios/mcp-manager/tests/test_cli.py
  .claude/scenarios/mcp-manager/tests/test_config_manager.py
  .claude/scenarios/mcp-manager/tests/test_mcp_operations.py
Due: check-imports, check-dependencies

fix: Improve path matching in file filter
  .claude/tools/amplihack/profile_management/staging.py
Due: check-imports, check-dependencies

fix: Address code review feedback for MCP Manager
  .claude/scenarios/mcp-manager/README.md
  .claude/scenarios/mcp-manager/mcp_operations.py
Due: check-imports, check-dependencies

chore: Add missing newlines to MCP Manager Python files
  .claude/scenarios/mcp-manager/__init__.py
  .claude/scenarios/mcp-manager/cli.py
  .claude/scenarios/mcp-manager/config_manager.py
  .claude/scenarios/mcp-manager/examples/basic_usage.py
  .claude/scenarios/mcp-manager/mcp_operations.py
  .claude/scenarios/mcp-manager/tests/__init__.py
  .claude/scenarios/mcp-manager/tests/test_cli.py
  .claude/scenarios/mcp-manager/tests/test_config_manager.py
  .claude/scenarios/mcp-manager/tests/test_mcp_operations.py
Due: check-imports, check-dependencies

Revise CLAUDE.md for workflow and skill references
  CLAUDE.md
Due: none

fix: Simplify file filter to use filename matching only
  .claude/tools/amplihack/profile_management/staging.py
Due: check-imports, check-dependencies

fix: Use exact path matching in file filter
  .claude/tools/amplihack/profile_management/staging.py
Due: check-imports, check-dependencies

debug: Add detailed debug output for path matching
  .claude/tools/amplihack/profile_management/staging.py
Due: check-imports, check-dependencies

fix: Use direct SSH instead of azlin connect for remote execution
  .claude/tools/amplihack/remote/executor.py
  .claude/tools/amplihack/remote/orchestrator.py
Due: check-imports, check-dependencies

debug: Add manifest debug output
  src/amplihack/__init__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Complete MCP Manager - All phases implemented
  .claude/scenarios/mcp-manager/cli.py
  .claude/scenarios/mcp-manager/mcp_operations.py
  .claude/scenarios/mcp-manager/tests/conftest.py
  .claude/scenarios/mcp-manager/tests/test_cli.py
  .claude/scenarios/mcp-manager/tests/test_mcp_operations.py
  .claude/scenarios/mcp_manager
  .claude/skills/mcp-manager/SKILL.md
Due: check-imports, check-dependencies

fix: Add missing os import in staging.py
  .claude/tools/amplihack/profile_management/staging.py
Due: check-imports, check-dependencies

debug: Show filtered agent paths in debug output
  .claude/tools/amplihack/profile_management/staging.py
Due: check-imports, check-dependencies

fix: Use git init + fetch instead of git clone for workspace setup
  .claude/tools/amplihack/remote/executor.py
Due: check-imports, check-dependencies

fix: Address ALL philosophy violations in MCP Manager
  .claude/scenarios/mcp-manager/cli.py
  .claude/scenarios/mcp-manager/config_manager.py
  .claude/scenarios/mcp-manager/mcp_operations.py
  .claude/scenarios/mcp-manager/tests/test_cli.py
  .claude/scenarios/mcp-manager/tests/test_config_manager.py
  .claude/scenarios/mcp-manager/tests/test_mcp_operations.py
  .claude/skills/mcp-manager/SKILL.md
Due: check-imports, check-dependencies

fix: Clone to temp dir then copy to workspace
  .claude/tools/amplihack/remote/executor.py
Due: check-imports, check-dependencies

feat: MCP Manager Tool & Skill (Phase 1 MVP) (#1550)
  .claude/scenarios/mcp-manager/HOW_TO_CREATE_YOUR_OWN.md
  .claude/scenarios/mcp-manager/README.md
  .claude/scenarios/mcp-manager/__init__.py
  .claude/scenarios/mcp-manager/cli.py
  .claude/scenarios/mcp-manager/config_manager.py
  .claude/scenarios/mcp-manager/examples/basic_usage.py
  .claude/scenarios/mcp-manager/mcp_operations.py
  .claude/scenarios/mcp-manager/tests/__init__.py
  .claude/scenarios/mcp-manager/tests/conftest.py
  .claude/scenarios/mcp-manager/tests/fixtures/sample_config.json
  .claude/scenarios/mcp-manager/tests/test_cli.py
  .claude/scenarios/mcp-manager/tests/test_config_manager.py
  .claude/scenarios/mcp-manager/tests/test_mcp_operations.py
  .claude/scenarios/mcp_manager
  .claude/skills/mcp-manager/SKILL.md
Due: check-imports, check-dependencies

fix: Use profile YAML patterns directly instead of ComponentDiscovery
  .claude/tools/amplihack/profile_management/staging.py
Due: check-imports, check-dependencies

fix: Radically simplify remote execution setup
  .claude/tools/amplihack/remote/executor.py
Due: check-imports, check-dependencies

cleanup: Remove debug output
  src/amplihack/__init__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Correct imports and add quickstart guide for MCP Manager
  .claude/scenarios/mcp-manager/QUICKSTART.md
  .claude/scenarios/mcp-manager/cli.py
Due: check-imports, check-dependencies

refactor: Reorganize PATTERNS.md and move to architect agent
  .claude/agents/amplihack/core/architect.md
  .claude/context/PATTERNS.md
  CLAUDE.md
Due: none

fix: Use python3 -m pip instead of bare pip command
  .claude/tools/amplihack/remote/executor.py
Due: check-imports, check-dependencies

feat: Add dynamic-debugger skill for interactive debugging via DAP-MCP
  .claude/skills/dynamic-debugger/SKILL.md
  .claude/skills/dynamic-debugger/configs/debugpy.json
  .claude/skills/dynamic-debugger/configs/delve.json
  .claude/skills/dynamic-debugger/configs/dotnet.json
  .claude/skills/dynamic-debugger/configs/gdb.json
  .claude/skills/dynamic-debugger/configs/java.json
  .claude/skills/dynamic-debugger/configs/lldb.json
  .claude/skills/dynamic-debugger/configs/node.json
  .claude/skills/dynamic-debugger/configs/rust-gdb.json
  .claude/skills/dynamic-debugger/examples.md
  .claude/skills/dynamic-debugger/patterns.md
  .claude/skills/dynamic-debugger/reference.md
  .claude/skills/dynamic-debugger/scripts/cleanup_debug.sh
  .claude/skills/dynamic-debugger/scripts/detect_language.py
  .claude/skills/dynamic-debugger/scripts/generate_dap_config.py
  .claude/skills/dynamic-debugger/scripts/monitor_session.py
  .claude/skills/dynamic-debugger/scripts/start_dap_mcp.sh
  .claude/skills/dynamic-debugger/tests/QUICKSTART.md
  .claude/skills/dynamic-debugger/tests/README.md
  .claude/skills/dynamic-debugger/tests/SUMMARY.md
  .claude/skills/dynamic-debugger/tests/conftest.py
  .claude/skills/dynamic-debugger/tests/coverage.xml
  .claude/skills/dynamic-debugger/tests/pytest.ini
  .claude/skills/dynamic-debugger/tests/requirements-test.txt
  .claude/skills/dynamic-debugger/tests/test_config_generation.py
  .claude/skills/dynamic-debugger/tests/test_e2e.sh
  .claude/skills/dynamic-debugger/tests/test_integration.py
  .claude/skills/dynamic-debugger/tests/test_language_detection.py
  .claude/skills/dynamic-debugger/tests/test_session_monitoring.py
Due: check-imports, check-dependencies

fix: Address critical review feedback on PATTERNS.md refactoring
  .claude/context/PATTERNS.md
  CLAUDE.md
Due: none

refactor: Reorganize PATTERNS.md and move to architect agent (#1551)
  .claude/agents/amplihack/core/architect.md
  .claude/context/PATTERNS.md
  CLAUDE.md
Due: none

fix: Use uvx to run amplihack (no install needed)
  .claude/tools/amplihack/remote/executor.py
Due: check-imports, check-dependencies

fix: Move global declaration before usage in monitor_session.py
  .claude/skills/dynamic-debugger/scripts/monitor_session.py
Due: check-imports, check-dependencies
