Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

fix: Command injection
  src/amplihack/proxy/manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Checksum verification
  src/amplihack/bundle_generator/packager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: Move module-spec-generator to proper subdirectory
  .claude/skills/module-spec-generator/QUICK_REFERENCE.md
  .claude/skills/module-spec-generator/README.md
  .claude/skills/module-spec-generator/SKILL.md
  .claude/skills/module-spec-generator/examples/analysis-workflow.md
  .claude/skills/module-spec-generator/examples/session-management-spec.md
  .claude/skills/module-spec-generator/examples/simple-utility-spec.md
Due: none

feat: Implement code-smell-detector Claude Code Skill (Issue #1228)
  .claude/skills/code-smell-detector/QUICK_START.md
  .claude/skills/code-smell-detector/README.md
  .claude/skills/code-smell-detector/SKILL.md
  .claude/skills/code-smell-detector/examples/smell_analysis_example.md
Due: none

feat: Add mermaid-diagram-generator Claude Code skill (Issue #1222)
  .claude/skills/mermaid-diagram-generator.md
Due: none

feat: Implement storytelling-synthesizer Claude Code Skill (Issue #1226)
  .claude/skills/storytelling-synthesizer/QUICK_REFERENCE.md
  .claude/skills/storytelling-synthesizer/README.md
  .claude/skills/storytelling-synthesizer/SKILL.md
  .claude/skills/storytelling-synthesizer/examples/blog-post-example.md
  .claude/skills/storytelling-synthesizer/examples/demo-script-example.md
  .claude/skills/storytelling-synthesizer/examples/marketing-example.md
  .claude/skills/storytelling-synthesizer/examples/presentation-example.md
Due: none

feat: Implement learning-path-builder Claude Code Skill (Issue #1227)
  .claude/skills/learning-path-builder.md
Due: none

feat: Implement knowledge-extractor Claude Code Skill (Issue #1229)
  .claude/skills/knowledge-extractor/README.md
  .claude/skills/knowledge-extractor/SKILL.md
  .claude/skills/knowledge-extractor/examples/agent-creation-example.md
  .claude/skills/knowledge-extractor/examples/discovery-extraction-example.md
  .claude/skills/knowledge-extractor/examples/pattern-extraction-example.md
Due: none

feat: Implement pr-review-assistant Claude Code Skill (Issue #1230)
  .claude/skills/pr-review-assistant/EXAMPLES.md
  .claude/skills/pr-review-assistant/QUICK_START.md
  .claude/skills/pr-review-assistant/README.md
  .claude/skills/pr-review-assistant/REVIEW_CHECKLIST.md
  .claude/skills/pr-review-assistant/SKILL.md
Due: none

feat: Re-add philosophy-guardian in correct subdirectory (Issue #1224)
  .claude/skills/philosophy-guardian/QUICK_REFERENCE.md
  .claude/skills/philosophy-guardian/README.md
  .claude/skills/philosophy-guardian/SKILL.md
Due: none

chore: Remove mermaid-diagram-generator (belongs in separate PR #1222)
  .claude/skills/mermaid-diagram-generator.md
Due: none

feat: Implement mermaid-diagram-generator Claude Code Skill (Issue #1222)
  .claude/skills/mermaid-diagram-generator.md
Due: none

Add Excel (XLSX) Skill from Anthropic
  .claude/skills/INTEGRATION_STATUS.md
  .claude/skills/module-spec-generator/README.md
  .claude/skills/xlsx/DEPENDENCIES.md
  .claude/skills/xlsx/README.md
  .claude/skills/xlsx/SKILL.md
  .claude/skills/xlsx/examples/example_usage.md
  .claude/skills/xlsx/scripts/recalc.py
  .claude/skills/xlsx/tests/test_xlsx_skill.py
  README.md
Due: check-imports, check-dependencies

Address PR #1261 review feedback: add pytest dependency and fix test references
  .claude/skills/docx/DEPENDENCIES.md
  .claude/skills/docx/tests/test_docx_skill.py
Due: check-imports, check-dependencies

Add Word (DOCX) Skill from Anthropic
  .claude/skills/INTEGRATION_STATUS.md
  .claude/skills/common/README.md
  .claude/skills/common/ooxml/README.md
  .claude/skills/common/ooxml/scripts/pack.py
  .claude/skills/common/ooxml/scripts/unpack.py
  .claude/skills/docx/DEPENDENCIES.md
  .claude/skills/docx/README.md
  .claude/skills/docx/SKILL.md
  .claude/skills/docx/examples/example_usage.md
  .claude/skills/docx/ooxml
  .claude/skills/docx/tests/test_docx_skill.py
  .claude/skills/module-spec-generator/README.md
Due: check-imports, check-dependencies

Add PowerPoint (PPTX) Skill from Anthropic
  .claude/skills/common/ooxml/README.md
  .claude/skills/module-spec-generator/README.md
  .claude/skills/pptx/DEPENDENCIES.md
  .claude/skills/pptx/README.md
  .claude/skills/pptx/SKILL.md
  .claude/skills/pptx/examples/example_usage.md
  .claude/skills/pptx/ooxml
  .claude/skills/pptx/scripts/html2pptx.js
  .claude/skills/pptx/scripts/inventory.py
  .claude/skills/pptx/scripts/rearrange.py
  .claude/skills/pptx/scripts/replace.py
  .claude/skills/pptx/scripts/thumbnail.py
  .claude/skills/pptx/tests/test_pptx_skill.py
Due: check-imports, check-dependencies

fix(quality): Type safety improvements (CRIT-007 to CRIT-009)
  .claude/tools/amplihack/session/file_utils.py
  src/amplihack/proxy/integrated_proxy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add logging to generic Exception catches in check_imports.py
  scripts/pre-commit/check_imports.py
Due: check-imports, check-dependencies

fix(quality): Database error handling improvements (HIGH-005 + partial CRIT-010)
  .gitignore
  src/amplihack/memory/database.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: Apply systematic code quality improvements (fixes 101-150)
  src/amplihack/memory/neo4j/extraction_patterns.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(quality): Remove Any from ContentBlockToolResult Union type (HIGH-006)
  src/amplihack/proxy/integrated_proxy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Improve type safety by replacing Any with specific JSON types
  .claude/tools/amplihack/session/file_utils.py
Due: check-imports, check-dependencies

docs: Add comprehensive code quality improvements (fixes 51-100)
  scripts/test_retrieval_isolation.py
  scripts/test_retrieval_isolation_simple.py
Due: check-imports, check-dependencies

fix(quality): Add logging to generic Exception catch in repository_creator.py (partial CRIT-010)
  src/amplihack/bundle_generator/repository_creator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add additional code quality analysis tool
  apply_additional_fixes.py
Due: check-imports, check-dependencies

fix: Auto-fix ruff linting issues (imports, unused vars, bare excepts)
  .claude/skills/common/ooxml/scripts/pack.py
  src/amplihack/memory/neo4j/__init__.py
  tests/integration/memory/neo4j/test_container_lifecycle.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Replace match/case with if/elif for Python 3.8 compatibility
  .claude/skills/common/ooxml/scripts/pack.py
Due: check-imports, check-dependencies

fix: Replace 2 bare except clauses (CRITICAL)
  scripts/test_retrieval_isolation.py
  scripts/test_retrieval_isolation_simple.py
Due: check-imports, check-dependencies

refactor: Reconcile PR #979 with recent skills work
  .claude/skills/README.md
  Specs/SkillsImplementationRoadmap.md
  Specs/SkillsIntegration.md
  Specs/SkillsIntegrationSummary.md
Due: none

fix: Replace bare except with specific Exception catch
  scripts/test_retrieval_isolation.py
Due: check-imports, check-dependencies

fix: Replace bare except with specific Exception catch
  scripts/test_retrieval_isolation_simple.py
Due: check-imports, check-dependencies

fix: Add exception chaining in tool streaming error handler
  src/amplihack/proxy/integrated_proxy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add exception chaining in tool completion error handler
  src/amplihack/proxy/integrated_proxy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Prevent Neo4j driver resource leak with finally block
  src/amplihack/memory/neo4j/port_manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Replace Any types with JSONValue in clean_gemini_schema
  src/amplihack/proxy/integrated_proxy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Use TypeVar for type-safe safe_read_json return type
  .claude/tools/amplihack/session/file_utils.py
Due: check-imports, check-dependencies

Remove amplihack-specific project context from CLAUDE.md
  .claude/context/USER_PREFERENCES.md
  CLAUDE.md
  src/amplihack/utils/defensive.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Replace Any with JSONType in safe_write_json parameter
  .claude/tools/amplihack/session/file_utils.py
Due: check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$
