Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

fix: Replace print() with logger.error() in database.py
  src/amplihack/memory/database.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove Any from ContentBlockToolResult.content Union type
  src/amplihack/proxy/integrated_proxy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Separate exception handling in database.py _row_to_memory()
  src/amplihack/memory/database.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Replace Any types with specific types in hook_processor.py
  .claude/tools/amplihack/hooks/hook_processor.py
Due: check-imports, check-dependencies

fix: Replace Any type with Protocol types in session_capture.py
  src/amplihack/launcher/session_capture.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

perf(neo4j): Eliminate N+1 queries using UNWIND batch operations
  src/amplihack/memory/neo4j/code_graph.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(CRIT-001): Replace bare except with specific Exception catch in test_retrieval_isolation.py
  scripts/test_retrieval_isolation.py
Due: check-imports, check-dependencies

fix(CRIT-002): Replace bare except with specific Exception catch in test_retrieval_isolation_simple.py
  scripts/test_retrieval_isolation_simple.py
Due: check-imports, check-dependencies

fix(CRIT-003): Add exception chaining to tool streaming failure in integrated_proxy.py
  src/amplihack/proxy/integrated_proxy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(CRIT-004): Add exception chaining to tool completion failure in integrated_proxy.py
  src/amplihack/proxy/integrated_proxy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(security): Improve exception handling in Neo4j credential check
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(CRIT-005,CRIT-006): Fix Neo4j driver resource leak in port_manager.py
  src/amplihack/memory/neo4j/port_manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(security): Improve exception handling in log tail window opener
  .claude/tools/amplihack/session/file_utils.py
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(security): Improve exception handling in PTY stdin feed thread
  .claude/tools/amplihack/session/file_utils.py
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(HIGH-001): Replace Any type with Union in save_metric value parameter
  .claude/tools/amplihack/hooks/hook_processor.py
Due: check-imports, check-dependencies

fix(security): Improve exception handling in proxy manager
  scripts/test_real_agent_with_memory.py
  src/amplihack/proxy/manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(CRIT-010a,CRIT-010b): Add error logging to generic Exception catches
  src/amplihack/bundle_generator/repository_creator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(security): Improve exception handling in retry mechanism
  src/amplihack/utils/defensive.py
  tests/test_interactive_stop_hook.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Integrate port conflict resolution into Neo4j container creation
  src/amplihack/memory/neo4j/lifecycle.py
  tests/integration/memory/neo4j/test_container_lifecycle.py
  tests/unit/memory/neo4j/test_lifecycle_port_resolution.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Address code review feedback - robust project root detection and missing import
  src/amplihack/memory/neo4j/lifecycle.py
  tests/integration/memory/neo4j/test_container_lifecycle.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(HIGH-002): Replace Any type with Union in save_session_data parameter
  .claude/tools/amplihack/hooks/hook_processor.py
Due: check-imports, check-dependencies

fix(docker): Dynamic UID/GID
  src/amplihack/docker/manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add mandatory end-to-end testing pattern to DISCOVERIES.md
  .claude/context/DISCOVERIES.md
Due: none

prefs: Add mandatory end-to-end testing preference
  .claude/context/USER_PREFERENCES.md
Due: none

fix: Add return type hint to Ne o4jContainerDetector.__init__
  src/amplihack/neo4j/detector.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add return type to PromptParser.__init__
  src/amplihack/bundle_generator/parser.py
  src/amplihack/launcher/auto_mode.py
  src/amplihack/launcher/prompt_templates.py
  src/amplihack/launcher/pty_manager.py
  src/amplihack/launcher/session.py
  src/amplihack/launcher/transcript_exporter.py
  src/amplihack/launcher/turn_executor.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add return type to __enter__
  .claude/tools/amplihack/session/session_manager.py
Due: check-imports, check-dependencies

fix: Add return type to __exit__
  .claude/tools/amplihack/session/session_manager.py
Due: check-imports, check-dependencies

fix: Complete type hint for List[Dict]
  .claude/tools/amplihack/hooks/claude_reflection.py
Due: check-imports, check-dependencies

fix: Complete return type hint
  .claude/tools/amplihack/hooks/claude_reflection.py
Due: check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$
