Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

Revert "Revert "fix(statusline): Normalize JSON input by removing newlines"" (#1642)
  .claude/tools/statusline.sh
Due: none

feat(hooks): Replace regex claim detection with LLM-based analysis (#1640)
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/power_steering_state.py
Due: check-imports, check-dependencies

docs: fix broken README anchor links by adding STATUSLINE sections (#1653)
  docs/reference/STATUSLINE.md
Due: none

Add slugify utility function for URL-friendly string conversion
  src/amplihack/utils/__init__.py
  src/amplihack/utils/string_utils.py
  tests/unit/test_string_utils.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add slugify utility function for URL-friendly string conversion
  src/amplihack/utils/string_utils.py
  tests/unit/test_string_utils.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: fix broken README anchor links by adding STATUSLINE sections (#1653) (#1659)
  docs/reference/STATUSLINE.md
Due: none

fix(hooks): XPIA pre_tool_use hook returns correct Claude Code protocol format
  .claude/tools/xpia/hooks/pre_tool_use.py
Due: check-imports, check-dependencies

fix(hooks): XPIA pre_tool_use hook returns correct Claude Code protocol format (#1664)
  .claude/tools/xpia/hooks/pre_tool_use.py
Due: check-imports, check-dependencies

fix(hooks): Add turn-aware state tracking to prevent power-steering infinite loop (#1643)
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/power_steering_state.py
Due: check-imports, check-dependencies

feat: Add slugify utility function for URL-safe slug generation
  src/amplihack/utils/__init__.py
  src/amplihack/utils/string_utils.py
  tests/unit/test_string_utils.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add slugify utility function for URL-friendly string conversion (#1666)
  src/amplihack/utils/string_utils.py
  tests/unit/test_string_utils.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(auto-mode): improve timeout handling for Opus model (#1667)
  src/amplihack/cli.py
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(neo4j): Fix Docker reconnection by reordering credential detection (#1615)
  src/amplihack/memory/neo4j/lifecycle.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(skill): Remove unimplemented adaptive calibration from consensus-voting
  .claude/skills/consensus-voting/SKILL.md
Due: none

Revert "fix(neo4j): Fix Docker reconnection by reordering credential detection (#1615)"
  src/amplihack/memory/neo4j/lifecycle.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Revert "Revert "fix(neo4j): Fix Docker reconnection by reordering credential detection (#1615)""
  src/amplihack/memory/neo4j/lifecycle.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Revert "fix(auto-mode): improve timeout handling for Opus model (#1667)"
  src/amplihack/cli.py
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore(docs): Refactor PATTERNS.md and DISCOVERIES.md with automated cleanup
  .claude/context/DISCOVERIES.md
  .claude/context/DISCOVERIES_ARCHIVE.md
  .claude/context/PATTERNS.md
  .github/scripts/docs_cleanup.py
  .github/workflows/docs-weekly-cleanup.yml
  .pre-commit-config.yaml
Due: check-imports, check-dependencies

feat(memory): Add seamless auto-install for Kùzu backend
  src/amplihack/cli.py
  src/amplihack/memory/auto_backend.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore(docs): Move SKILL_BUILDER_EXAMPLES from commands to docs
  docs/skills/SKILL_BUILDER_EXAMPLES.md
Due: none

fix(memory): Address review feedback for Kùzu auto-install
  src/amplihack/memory/auto_backend.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: wire up interactive installation for missing prerequisites
  src/amplihack/utils/prerequisites.py
  tests/test_prerequisites.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Update execution instructions for UltraThink command
  .claude/commands/amplihack/ultrathink.md
Due: none

chore(docs): Move SKILL_BUILDER_EXAMPLES from commands to docs (#1672)
  docs/skills/SKILL_BUILDER_EXAMPLES.md
Due: none

feat: wire up interactive installation for missing prerequisites (#1673)
  src/amplihack/utils/prerequisites.py
  tests/test_prerequisites.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore(docs): Refactor PATTERNS.md and DISCOVERIES.md with automated cleanup (#1670)
  .claude/context/DISCOVERIES.md
  .claude/context/DISCOVERIES_ARCHIVE.md
  .claude/context/PATTERNS.md
  .github/scripts/docs_cleanup.py
  .github/workflows/docs-weekly-cleanup.yml
  .pre-commit-config.yaml
Due: check-imports, check-dependencies

fix(devcontainer): Upgrade Python to 3.12 and fix uv sync dependency resolution
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .github/workflows/ci.yml
  Dockerfile
  docker/Dockerfile
  pyproject.toml
  uv.lock
Due: none

fix(devcontainer): Upgrade Python to 3.12 and fix uv sync dependency resolution (#1677)
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
  .github/workflows/ci.yml
  Dockerfile
  docker/Dockerfile
  pyproject.toml
  uv.lock
Due: none

chore(docs): Add weekly broken link checker for documentation (#1675)
  .github/scripts/link_checker.py
  .github/workflows/docs-link-checker.yml
Due: check-imports, check-dependencies

feat(memory): Add Kùzu embedded graph database as alternative to Neo4j Docker (#1617)
  pyproject.toml
  src/amplihack/cli.py
  src/amplihack/memory/__init__.py
  src/amplihack/memory/auto_backend.py
  src/amplihack/memory/kuzu/__init__.py
  src/amplihack/memory/kuzu/connector.py
  tests/memory/kuzu/__init__.py
  tests/memory/kuzu/test_kuzu_connector.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$
