Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$

Add RustyClawd support to amplihack launcher
  .claude/context/DISCOVERIES.md
  .claude/context/PROJECT.md
  .claude/context/PROJECT_AMPLIHACK.md
  .claude/context/USER_PREFERENCES.md
  .claude/settings.json
  .claude/tools/amplihack/hooks/claude_reflection.py
  .claude/tools/amplihack/hooks/user_prompt_submit.py
  .claude/tools/amplihack/session/file_utils.py
  src/amplihack/launcher/core.py.backup
  src/amplihack/utils/claude_trace.py
  src/amplihack/utils/rustyclawd_detect.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

Add RustyClawd as amplihack command
  .claude/settings.json
  README.md
  test_auto_mode.txt
Due: sync-hooks-validation

Add RustyClawd subparser to CLI
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add Azure Kubernetes SRE agent example
  examples/goal_agent_generator/aks_sre_example/README.md
  examples/goal_agent_generator/aks_sre_example/goal_prompt.md
Due: none

docs: Add 5 comprehensive agent examples with validation
  examples/goal_agent_generator/README.md
  examples/goal_agent_generator/api_documentation_generator/goal_prompt.md
  examples/goal_agent_generator/dependency_auditor/goal_prompt.md
  examples/goal_agent_generator/github_pr_manager/goal_prompt.md
  examples/goal_agent_generator/security_scanner/goal_prompt.md
  examples/goal_agent_generator/test_coverage_analyzer/goal_prompt.md
Due: none

fix: Add missing stop() function to stop hook + comprehensive .gitignore
  .claude/tools/amplihack/hooks/stop.py
  .gitignore
Due: check-imports, check-dependencies

fix: Add missing stop() function + gitignore for logs
  .gitignore
Due: none

fix: Add missing stop() function + gitignore for logs
  .claude/tools/amplihack/hooks/stop.py
  .gitignore
Due: check-imports, check-dependencies

fix: Add missing stop() function to stop hook
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

Add auto-install for RustyClawd
  src/amplihack/utils/rustyclawd_detect.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add missing .claude subdirectories to ESSENTIAL_DIRS (Issue #1312)
  src/amplihack/__init__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Prevent SystemExit race condition during graceful shutdown (Issue #1314)
  .claude/tools/amplihack/hooks/hook_processor.py
  src/amplihack/launcher/core.py
  tests/unit/test_hook_processor_run.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove data/ directory from ESSENTIAL_DIRS (Issue #1316)
  src/amplihack/__init__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Neo4j container selection handles existing containers correctly
  src/amplihack/memory/neo4j/config.py
  src/amplihack/memory/neo4j/container_selection.py
  src/amplihack/memory/neo4j/credential_detector.py
  src/amplihack/memory/neo4j/lifecycle.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Sanitize password logging and add comprehensive unit tests
  src/amplihack/memory/neo4j/credential_detector.py
  tests/unit/memory/neo4j/test_credential_detector.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add mandatory end-to-end test results
  E2E_TEST_RESULTS.md
Due: none

fix: Set shutdown flag in atexit to prevent stop hook hang and traceback
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add UNHEALTHY container status handler in Neo4j lifecycle (Issue #1322)
  src/amplihack/memory/neo4j/lifecycle.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Update test paths to use correct .claude/runtime/locks location (Issue #1324)
  tests/test_lock_unlock.py
Due: check-imports, check-dependencies

fix: Use absolute paths in lock/unlock commands to fix working directory mismatch
  .claude/commands/amplihack/lock.md
  .claude/commands/amplihack/unlock.md
  tests/test_lock_unlock.py
  tests/unit/test_lock_unlock_path_resolution.py
  tests/unit/test_stop_hook_paths.py
Due: check-imports, check-dependencies

feat: Respect user's NODE_OPTIONS memory configuration
  src/amplihack/launcher/core.py
  tests/integration/test_launcher_node_options.py
  tests/unit/test_node_options_merger.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Disable neo4j memory by default with CLI opt-in
  .claude/commands/amplihack/ingest-code.md
  .claude/tools/amplihack/hooks/session_start.py
  src/amplihack/cli.py
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add backwards compatibility for --use-graph-mem flag
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Create standalone lock tool for continuous work mode
  .claude/commands/amplihack/lock.md
  .claude/commands/amplihack/unlock.md
  .claude/tools/amplihack/lock_tool.py
Due: check-imports, check-dependencies

docs: Clarify lock command message passing from slash command to tool
  .claude/commands/amplihack/lock.md
Due: none

Fix pyright type errors in generated goal agent code
  src/amplihack/goal_agent_generator/packager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add progress indicator for blarify codebase indexing (fixes #1299)
  src/amplihack/memory/neo4j/code_graph.py
  tests/unit/memory/neo4j/test_code_graph_progress.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix bundle name validation for edge case scenarios
  src/amplihack/goal_agent_generator/agent_assembler.py
  src/amplihack/goal_agent_generator/tests/test_issue_1332.py
  src/amplihack/goal_agent_generator/tests/test_utils.py
  src/amplihack/goal_agent_generator/utils.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Address code review feedback: Fix thread safety and error handling
  src/amplihack/memory/neo4j/code_graph.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Resolve Azure OpenAI proxy integration issues
  README.md
  src/amplihack/launcher/core.py
  src/amplihack/proxy/server.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Apply suggestions from code review
  src/amplihack/launcher/core.py
  src/amplihack/proxy/server.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add investigation task complexity estimator for ultrathink (issue #1108)
  Specs/complexity_estimator_architecture.md
  Specs/complexity_estimator_tests.md
Due: none

feat: Add Claude Code Skill Builder command (#1339)
  .claude/commands/amplihack/SKILL_BUILDER_EXAMPLES.md
  .claude/commands/amplihack/skill-builder.md
  TESTING_PLAN.md
Due: none

feat: Add skill-builder SKILL for auto-discovery
  .claude/skills/skill-builder/SKILL.md
Due: none

fix: Add skill type support and progressive disclosure to skill-builder
  .claude/commands/amplihack/SKILL_BUILDER_EXAMPLES.md
  .claude/commands/amplihack/skill-builder.md
  .claude/skills/skill-builder/SKILL.md
  .claude/skills/skill-builder/examples.md
  .claude/skills/skill-builder/reference.md
Due: none

fix: Allow /amplihack:customize to modify preferences
  .claude/tools/amplihack/hooks/session_start.py
  .claude/tools/amplihack/hooks/user_prompt_submit.py
Due: check-imports, check-dependencies

docs: Add explicit URLs for original documentation sources
  .claude/skills/skill-builder/SKILL.md
Due: none

fix: Allow /amplihack:customize to modify preferences (#1342)
  .claude/tools/amplihack/hooks/session_start.py
  .claude/tools/amplihack/hooks/user_prompt_submit.py
Due: check-imports, check-dependencies

feat: Add comprehensive Claude Agent SDK skill with drift detection
  .claude/skills/agent-sdk/.metadata/versions.json
  .claude/skills/agent-sdk/README.md
  .claude/skills/agent-sdk/SKILL.md
  .claude/skills/agent-sdk/VALIDATION_REPORT.md
  .claude/skills/agent-sdk/drift-detection.md
  .claude/skills/agent-sdk/examples.md
  .claude/skills/agent-sdk/patterns.md
  .claude/skills/agent-sdk/reference.md
  .claude/skills/agent-sdk/scripts/check_drift.py
Due: check-imports, check-dependencies
