Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

fix(security): Replace ReDoS-vulnerable regex with safe length check
  src/amplihack/security/xpia_patterns.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor(cli): Extract argument parser helpers (eliminates 148 duplicate lines)
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(memory): Add explicit transaction rollback to prevent data corruption
  src/amplihack/memory/database.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(proxy): Sanitize credential exposure in error messages
  src/amplihack/proxy/integrated_proxy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(security): Use shlex parsing for bash command validation
  src/amplihack/security/xpia_defender.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(security): Add comprehensive IPv6 support to SSRF protection
  src/amplihack/security/xpia_defender.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(security): Redact sensitive data from security logs
  src/amplihack/security/xpia_defender.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(security): Expand URL parameter detection for JWT and SSRF vectors
  src/amplihack/security/xpia_patterns.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Wave 12 quality improvements - 11 issues resolved
  src/amplihack/docker/manager.py
  src/amplihack/knowledge_builder/modules/artifact_generator.py
  src/amplihack/knowledge_builder/modules/claude_caller.py
  src/amplihack/knowledge_builder/modules/knowledge_acquirer.py
  src/amplihack/knowledge_builder/modules/question_generator.py
  src/amplihack/memory/neo4j/models.py
  src/amplihack/neo4j/manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add input validation, performance optimizations, and comprehensive documentation
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/session/claude_session.py
  .claude/tools/amplihack/session/file_utils.py
  .claude/tools/amplihack/session/session_manager.py
Due: check-imports, check-dependencies

refactor: Add type hints to 10 functions in analyze-codebase
  .claude/scenarios/analyze-codebase/examples/basic_usage.py
  .claude/scenarios/analyze-codebase/tests/test_analyzer.py
Due: check-imports, check-dependencies

refactor: Replace 10 generic except Exception with specific exceptions
  .claude/tools/amplihack/builders/export_on_compact_integration.py
  .claude/tools/amplihack/context_preservation.py
  .claude/tools/amplihack/context_preservation_secure.py
  .claude/tools/amplihack/hooks/claude_reflection.py
  .claude/tools/amplihack/hooks/pre_compact.py
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

fix: Replace bare except with Exception in test scripts
  scripts/test_retrieval_isolation.py
  scripts/test_retrieval_isolation_simple.py
Due: check-imports, check-dependencies

refactor: Simplify _progress_str() fork suffix formatting
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Move code review artifacts to docs/reviews directory
  docs/reviews/CLEANUP_ANALYSIS.json
  docs/reviews/final_quality_pass_critical_issues.json
  docs/reviews/launcher_system_review.json
  docs/reviews/neo4j_graph_models_review.json
  docs/reviews/pattern_violations_quality_pass.json
  docs/reviews/wave1_memory_neo4j_review.json
Due: none

fix: Add exception chaining in integrated_proxy HTTPException raises
  src/amplihack/proxy/integrated_proxy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Prevent Neo4j driver resource leak with finally block
  src/amplihack/memory/neo4j/port_manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove security theater from content sanitization
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: Remove security theater from content injection
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Improve type safety in clean_gemini_schema function
  src/amplihack/proxy/integrated_proxy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Improve type safety in file_utils JSON functions
  .claude/tools/amplihack/session/file_utils.py
Due: check-imports, check-dependencies

refactor: Extract _extract_todos_from_tool_input helper method
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Improve exception handling with proper chaining
  scripts/test_retrieval_isolation.py
  scripts/test_retrieval_isolation_simple.py
  src/amplihack/proxy/integrated_proxy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add clarifying comments to PTY management code
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add clarifying comments to retry error handling
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add required --entity-id argument to blarify create command (#1263)
  src/amplihack/memory/neo4j/code_graph.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Use valid Docker TTY flag instead of invalid --no-TTY (#1253)
  src/amplihack/memory/database.py
  src/amplihack/memory/neo4j/base_graph.py
  src/amplihack/memory/neo4j/code_graph.py
  src/amplihack/memory/neo4j/doc_graph.py
  src/amplihack/memory/neo4j/external_knowledge.py
  src/amplihack/security/xpia_patterns.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add PDF Processing Skill from Anthropic (#1259)
  .claude/skills/INTEGRATION_STATUS.md
  .claude/skills/README.md
  .claude/skills/common/README.md
  .claude/skills/common/dependencies.txt
  .claude/skills/common/verification/README.md
  .claude/skills/common/verification/verify_skill.py
  .claude/skills/pdf/DEPENDENCIES.md
  .claude/skills/pdf/README.md
  .claude/skills/pdf/SKILL.md
  .claude/skills/pdf/examples/example_usage.md
  .claude/skills/pdf/tests/test_pdf_skill.py
  README.md
  src/amplihack/utils/defensive.py
  tests/test_defensive_basic.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Implement test-gap-analyzer Claude Code Skill (Issue #1225)
  .claude/skills/test-gap-analyzer/SKILL.md
Due: none

Add PDF Processing Skill from Anthropic
  .claude/skills/INTEGRATION_STATUS.md
  .claude/skills/README.md
  .claude/skills/common/README.md
  .claude/skills/common/dependencies.txt
  .claude/skills/common/verification/README.md
  .claude/skills/common/verification/verify_skill.py
  .claude/skills/pdf/DEPENDENCIES.md
  .claude/skills/pdf/README.md
  .claude/skills/pdf/SKILL.md
  .claude/skills/pdf/examples/example_usage.md
  .claude/skills/pdf/tests/test_pdf_skill.py
  README.md
Due: check-imports, check-dependencies

refactor(neo4j): Consolidate schema initialization into BaseGraphManager
  src/amplihack/memory/neo4j/base_graph.py
  src/amplihack/memory/neo4j/code_graph.py
  src/amplihack/memory/neo4j/doc_graph.py
  src/amplihack/memory/neo4j/external_knowledge.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Path traversal symlink
  src/amplihack/bundle_generator/filesystem_packager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$
