Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$

feat(devcontainer): Add ripgrep and auto-activate virtual environment
  .devcontainer/post-create.sh
  Dockerfile
  docker/Dockerfile
Due: none

docs: add timeout configuration documentation and discovery
  .claude/context/DISCOVERIES.md
  docs/AUTO_MODE.md
Due: none

fix(auto-mode): improve timeout handling for Opus model (#1667)
  src/amplihack/cli.py
  src/amplihack/launcher/auto_mode.py
  tests/unit/test_auto_mode_timeout.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(auto-mode): improve timeout handling for Opus model (#1667) (#1676)
  .claude/context/DISCOVERIES.md
  docs/AUTO_MODE.md
  src/amplihack/cli.py
  src/amplihack/launcher/auto_mode.py
  tests/unit/test_auto_mode_timeout.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(devcontainer): Update comment to reflect Python 3.12
  .devcontainer/devcontainer.json
Due: none

fix(devcontainer): Update comment to reflect Python 3.12 (#1678)
  .devcontainer/devcontainer.json
Due: none

feat(config): Add Docker MCP server integration for container management (#1618)
  .mcp.json
Due: none

feat(skills): Add consensus-voting skill for multi-agent decisions (#1620)
  .claude/skills/consensus-voting/README.md
  .claude/skills/consensus-voting/SKILL.md
Due: none

fix(power-steering): Add SIMPLE session type and invert next_steps logic
  .claude/tools/amplihack/considerations.yaml
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_phase2.py
Due: check-imports, check-dependencies

feat: Add simple greeting utility with TDD approach
  src/amplihack/utils/greeting.py
  tests/unit/test_greeting.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(workflow): Add runtime enforcement for DEFAULT_WORKFLOW steps
  .claude/tools/amplihack/hooks/tests/test_todo_interceptor.py
  .claude/tools/amplihack/hooks/tests/test_workflow_gate.py
  .claude/tools/amplihack/hooks/tests/test_workflow_state.py
  .claude/tools/amplihack/hooks/todo_interceptor.py
  .claude/tools/amplihack/hooks/workflow_gate.py
  .claude/tools/amplihack/hooks/workflow_state.py
Due: check-imports, check-dependencies

feat(benchmark): Add Opus 4.5 vs Sonnet 4.5 workflow adherence benchmark v2
  tests/benchmarks/analyze_benchmark_results.sh
  tests/benchmarks/benchmark_prompt.txt
  tests/benchmarks/opus_vs_sonnet_v2/BENCHMARK_REPORT_V2.md
  tests/benchmarks/results/20251125_203032/opus.pid
  tests/benchmarks/results/20251125_203032/opus_v2.pid
  tests/benchmarks/results/20251125_203032/sonnet.pid
  tests/benchmarks/results/unlimited_20251125_213135/opus.pid
  tests/benchmarks/results/unlimited_20251125_213135/sonnet.pid
  tests/benchmarks/run_workflow_compliance_benchmark.sh
  tests/benchmarks/workflow_compliance_benchmark.md
Due: none

fix(workflow): Address review feedback for enforcement module
  .claude/tools/amplihack/hooks/todo_interceptor.py
  .claude/tools/amplihack/hooks/workflow_gate.py
  .claude/tools/amplihack/hooks/workflow_state.py
Due: check-imports, check-dependencies

fix(power-steering): SDK-first analysis for ALL considerations
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_phase2.py
  Specs/power_steering_sdk_first_refactor.md
Due: check-imports, check-dependencies

docs(workflow): Add runtime enforcement section to docs
  docs/workflow-enforcement.md
Due: none

feat: Add benchmark suite v3 with 4 task complexity levels
  tests/benchmarks/benchmark_suite_v3/BENCHMARK_TASKS.md
  tests/benchmarks/benchmark_suite_v3/run_benchmarks.py
  tests/benchmarks/opus_vs_sonnet_v2/BENCHMARK_RESULTS.md
Due: check-imports, check-dependencies

fix(power-steering): Include results in continuation_prompt for visibility
  .claude/tools/amplihack/hooks/power_steering_checker.py
Due: check-imports, check-dependencies

feat(workflow): Enforce workflow classification via CLAUDE.md (#1686)
  .claude/commands/amplihack/ultrathink.md
  .claude/skills/default-workflow/SKILL.md
  .claude/skills/ultrathink-orchestrator/SKILL.md
  .claude/tools/amplihack/hooks/tests/test_todo_interceptor.py
  .claude/tools/amplihack/hooks/tests/test_workflow_gate.py
  .claude/tools/amplihack/hooks/tests/test_workflow_state.py
  .claude/tools/amplihack/hooks/todo_interceptor.py
  .claude/tools/amplihack/hooks/workflow_gate.py
  .claude/tools/amplihack/hooks/workflow_state.py
  .claude/workflow/Q&A_WORKFLOW.md
  CLAUDE.md
  docs/DISCOVERIES.md
  docs/workflow-enforcement.md
  tests/unit/test_workflow_enforcement.py
Due: check-imports, check-dependencies

fix(power-steering): Add SIMPLE session type and invert next_steps logic (#1682)
  .claude/tools/amplihack/considerations.yaml
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_phase2.py
  Specs/power_steering_sdk_first_refactor.md
Due: check-imports, check-dependencies

fix(docs): Apply prettier formatting to documentation
  CONFIGMANAGER_DOCUMENTATION.md
  config/default.yaml
  docs/howto/configuration-setup.md
  docs/howto/environment-variables.md
  docs/reference/config-manager.md
  src/amplihack/config/README.md
  src/amplihack/config/__init__.py
  src/amplihack/config/config_manager.py
  tests/unit/TEST_CONFIG_MANAGER_SUMMARY.md
  tests/unit/test_config_manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore(config): Remove temporary documentation summary file
  CONFIGMANAGER_DOCUMENTATION.md
Due: none

feat(plugins): Add extensible plugin system with security validation
  docs/howto/troubleshoot-plugins.md
  docs/reference/plugin-api.md
  docs/tutorials/create-your-first-plugin.md
  src/amplihack/plugins/README.md
  src/amplihack/plugins/__init__.py
  src/amplihack/plugins/base.py
  src/amplihack/plugins/builtin/__init__.py
  src/amplihack/plugins/builtin/hello.py
  src/amplihack/plugins/decorator.py
  src/amplihack/plugins/discovery.py
  src/amplihack/plugins/loader.py
  src/amplihack/plugins/registry.py
  tests/integration/plugins/__init__.py
  tests/integration/plugins/test_plugin_integration.py
  tests/unit/plugins/__init__.py
  tests/unit/plugins/conftest.py
  tests/unit/plugins/test_plugin_system.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add robust REST API client library (Issue #1691)
  src/amplihack/api/__init__.py
  src/amplihack/api/client.py
  src/amplihack/api/exceptions.py
  src/amplihack/api/models.py
  tests/integration/test_api_integration.py
  tests/unit/test_api_client.py
  tests/unit/test_api_conftest.py
  tests/unit/test_api_exceptions.py
  tests/unit/test_api_models.py
  tests/unit/test_security_controls.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add model evaluation benchmark skill and comprehensive benchmark suite v3
  .claude/skills/model-evaluation-benchmark/SKILL.md
  tests/benchmarks/README.md
  tests/benchmarks/benchmark_suite_v3/BENCHMARK_REPORT_V3.md
  tests/benchmarks/benchmark_suite_v3/CLEANUP_PROCESS.md
  tests/benchmarks/benchmark_suite_v3/README.md
  tests/benchmarks/benchmark_suite_v3/run_benchmarks.py
Due: check-imports, check-dependencies

feat: Add model evaluation benchmark skill and comprehensive benchmark suite v3 (#1700)
  .claude/skills/model-evaluation-benchmark/SKILL.md
  tests/benchmarks/README.md
  tests/benchmarks/benchmark_suite_v3/BENCHMARK_REPORT_V3.md
  tests/benchmarks/benchmark_suite_v3/CLEANUP_PROCESS.md
  tests/benchmarks/benchmark_suite_v3/README.md
  tests/benchmarks/benchmark_suite_v3/run_benchmarks.py
Due: check-imports, check-dependencies

fix: Restore sonnet[1m] as default model in amplihack launcher
  .pre-commit-config.yaml
  docs/reference/LAUNCHER_MODEL_CONFIGURATION.md
  src/amplihack/launcher/core.py
  tests/launcher/RUN_TESTS.sh
  tests/launcher/test_default_model.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: Address review feedback - extract DRY helper and add E2E tests
  src/amplihack/launcher/core.py
  tests/e2e/test_default_model_e2e.sh
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Restore sonnet[1m] as default model in amplihack launcher (#1702)
  .pre-commit-config.yaml
  docs/reference/LAUNCHER_MODEL_CONFIGURATION.md
  src/amplihack/launcher/core.py
  tests/e2e/test_default_model_e2e.sh
  tests/launcher/RUN_TESTS.sh
  tests/launcher/test_default_model.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remote execution fixes for E2E amplihack on Azure VMs
  .claude/tools/amplihack/remote/context_packager.py
  .claude/tools/amplihack/remote/executor.py
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove transcript path validation + retrieve from both locations
  .claude/tools/amplihack/remote/executor.py
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add amplihack: prefix to all command frontmatter for proper registration
  .claude/commands/amplihack/analyze.md
  .claude/commands/amplihack/auto.md
  .claude/commands/amplihack/cascade.md
  .claude/commands/amplihack/customize.md
  .claude/commands/amplihack/debate.md
  .claude/commands/amplihack/expert-panel.md
  .claude/commands/amplihack/fix.md
  .claude/commands/amplihack/improve.md
  .claude/commands/amplihack/ingest-code.md
  .claude/commands/amplihack/install.md
  .claude/commands/amplihack/knowledge-builder.md
  .claude/commands/amplihack/lock.md
  .claude/commands/amplihack/modular-build.md
  .claude/commands/amplihack/n-version.md
  .claude/commands/amplihack/reflect.md
  .claude/commands/amplihack/remote.md
  .claude/commands/amplihack/skill-builder.md
  .claude/commands/amplihack/socratic.md
  .claude/commands/amplihack/transcripts.md
  .claude/commands/amplihack/ultrathink.md
  .claude/commands/amplihack/uninstall.md
  .claude/commands/amplihack/unlock.md
  .claude/commands/amplihack/xpia.md
Due: none

fix: Add amplihack: prefix to command frontmatter for proper registration
  .claude/commands/amplihack/analyze.md
  .claude/commands/amplihack/auto.md
  .claude/commands/amplihack/cascade.md
  .claude/commands/amplihack/customize.md
  .claude/commands/amplihack/debate.md
  .claude/commands/amplihack/expert-panel.md
  .claude/commands/amplihack/fix.md
  .claude/commands/amplihack/improve.md
  .claude/commands/amplihack/ingest-code.md
  .claude/commands/amplihack/install.md
  .claude/commands/amplihack/knowledge-builder.md
  .claude/commands/amplihack/lock.md
  .claude/commands/amplihack/modular-build.md
  .claude/commands/amplihack/n-version.md
  .claude/commands/amplihack/reflect.md
  .claude/commands/amplihack/remote.md
  .claude/commands/amplihack/skill-builder.md
  .claude/commands/amplihack/socratic.md
  .claude/commands/amplihack/transcripts.md
  .claude/commands/amplihack/ultrathink.md
  .claude/commands/amplihack/uninstall.md
  .claude/commands/amplihack/unlock.md
  .claude/commands/amplihack/xpia.md
Due: none

fix: Add amplihack: prefix to command frontmatter for proper registration (#1743)
  .claude/commands/amplihack/analyze.md
  .claude/commands/amplihack/auto.md
  .claude/commands/amplihack/cascade.md
  .claude/commands/amplihack/customize.md
  .claude/commands/amplihack/debate.md
  .claude/commands/amplihack/expert-panel.md
  .claude/commands/amplihack/fix.md
  .claude/commands/amplihack/improve.md
  .claude/commands/amplihack/ingest-code.md
  .claude/commands/amplihack/install.md
  .claude/commands/amplihack/knowledge-builder.md
  .claude/commands/amplihack/lock.md
  .claude/commands/amplihack/modular-build.md
  .claude/commands/amplihack/n-version.md
  .claude/commands/amplihack/reflect.md
  .claude/commands/amplihack/remote.md
  .claude/commands/amplihack/skill-builder.md
  .claude/commands/amplihack/socratic.md
  .claude/commands/amplihack/transcripts.md
  .claude/commands/amplihack/ultrathink.md
  .claude/commands/amplihack/uninstall.md
  .claude/commands/amplihack/unlock.md
  .claude/commands/amplihack/xpia.md
Due: none

fix: Power-steering infinite loop on success (Issue #1744)
  .claude/tools/amplihack/hooks/power_steering_checker.py
Due: check-imports, check-dependencies

fix: Power-steering infinite loop on success (Issue #1744) (#1745)
  .claude/tools/amplihack/hooks/power_steering_checker.py
Due: check-imports, check-dependencies

feat: CLAUDE.md preservation during UVX deployment (Issue #1746)
  CLAUDE.md
  docs/features/claude-md-preservation.md
  src/amplihack/__init__.py
  src/amplihack/cli.py
  src/amplihack/utils/claude_md_preserver.py
  tests/unit/test_claude_md_preserver.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Run CLAUDE.md preservation before PROJECT.md init to preserve content
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
