Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

feat: Add context-aware reflection system
  .claude/tools/amplihack/hooks/claude_reflection.py
  .claude/tools/amplihack/reflection/context_detector.py
  .claude/tools/amplihack/reflection/test_context_detector.py
Due: check-imports, check-dependencies

feat: Add comprehensive investigation summary template with edge cases
  .claude/templates/INVESTIGATION_SUMMARY_TEMPLATE.md
Due: none

feat: Add INVESTIGATION_WORKFLOW.md for research tasks
  .claude/commands/amplihack/ultrathink.md
  .claude/workflow/INVESTIGATION_WORKFLOW.md
Due: none

feat: implement verbosity auto-adjustment based on task complexity and type
  .claude/context/VERBOSITY_MATRIX.md
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

feat: Add user satisfaction checkpoints after investigation synthesis
  .claude/templates/SATISFACTION_CHECKPOINT.md
  .claude/tools/amplihack/hooks/SATISFACTION_CHECKPOINT_README.md
  .claude/tools/amplihack/hooks/post_tool_use.py
  .claude/tools/amplihack/hooks/test_satisfaction_checkpoint.py
Due: check-imports, check-dependencies

feat: Add automatic mermaid diagram generation templates for system investigations
  .claude/agents/amplihack/specialized/analyzer.md
  .claude/templates/diagrams/COMPONENT_RELATIONSHIPS.md
  .claude/templates/diagrams/DATA_FLOW.md
  .claude/templates/diagrams/EXECUTION_SEQUENCE.md
  .claude/templates/diagrams/HOOK_SYSTEM_FLOW.md
  .claude/templates/diagrams/PREFERENCE_SYSTEM.md
  .claude/templates/diagrams/README.md
Due: none

feat: Add auto-documentation generation for investigation tasks
  .claude/agents/amplihack/specialized/knowledge-archaeologist.md
  .claude/docs/ARCHITECTURE_EXAMPLE.md
  .claude/docs/INVESTIGATION_EXAMPLE.md
  .claude/docs/README.md
  .claude/templates/FEEDBACK_SUMMARY.md
  .claude/templates/README.md
  .claude/templates/architecture-doc-template.md
  .claude/templates/investigation-doc-template.md
  .claude/workflow/INVESTIGATION_WORKFLOW.md
  CLAUDE.md
Due: none

feat: Add message budget awareness system for investigations
  .claude/context/INVESTIGATION_MESSAGE_BUDGETS.md
  .claude/workflow/INVESTIGATION_WORKFLOW.md
Due: none

feat: Add workflow phase grouping and progress indicators to TodoWrite
  Specs/TodoWritePhaseGrouping.md
  tests/unit/test_todowrite_phase_grouping.py
Due: check-imports, check-dependencies

feat: Add performance metrics and timestamped checkpoints to Ultra-Think sessions
  .claude/tools/amplihack/PERFORMANCE_METRICS_README.md
  .claude/tools/amplihack/hooks/post_tool_use.py
  .claude/tools/amplihack/performance_report.py
  Specs/UltraThinkPerformanceMetrics.md
  tests/unit/test_performance_metrics.py
Due: check-imports, check-dependencies

feat: Add documentation discovery step to analyzer agent
  .claude/agents/amplihack/specialized/analyzer.md
  .claude/context/PATTERNS.md
  TEST_PLAN.md
Due: none

feat: Implement message consolidation to eliminate empty assistant messages
  src/amplihack/launcher/auto_mode.py
  src/amplihack/launcher/message_consolidation.py
  src/amplihack/tests/test_message_consolidation.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Document massive parallel reflection workstream execution
  .claude/context/DISCOVERIES.md
  .claude/context/REFLECTION_FEATURES_2025_11.md
  .claude/tools/amplihack/hooks/stop.py
  .pre-commit-config.yaml
Due: check-imports, check-dependencies

fix: Add missing pytest-asyncio configuration to resolve 245+ async test failures
  pyproject.toml
Due: none

fix: Add import fallback for direct module testing
  amplifier-module-orchestrator-amplihack/core.py
Due: check-imports, check-dependencies

chore: Remove temporary workflow execution document
  WORKFLOW_EXECUTION.md
Due: none

Add comprehensive defensive utilities for LLM interactions and file I/O
  src/amplihack/utils/__init__.py
  src/amplihack/utils/defensive.py
  tests/test_defensive_basic.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove bypass logic and use unified LiteLLM routing (Issue #829 Phase 2)
  src/amplihack/proxy/integrated_proxy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Inject TRUST.md anti-sycophancy guidelines into session start (Issue #111)
  .claude/agents/amplihack/core/api-designer.md
  .claude/agents/amplihack/core/architect.md
  .claude/agents/amplihack/core/builder.md
  .claude/agents/amplihack/core/reviewer.md
  .claude/agents/amplihack/core/tester.md
  .claude/tools/amplihack/hooks/claude_reflection.py
  .claude/tools/amplihack/hooks/session_start.py
Due: check-imports, check-dependencies

docs: Add UVX cache clearing notice to README for frequent users
  README.md
Due: none

feat: Mandate TodoWrite for all ultrathink multi-step tasks
  .claude/commands/amplihack/ultrathink.md
Due: none

test: Add comprehensive edge case tests for launcher/core.py
  tests/unit/test_launcher_core_edge_cases.py
Due: check-imports, check-dependencies

Add comprehensive test coverage for integrated_proxy routing logic
  tests/unit/test_integrated_proxy_routing.py
Due: check-imports, check-dependencies

docs: Add comprehensive README for .claude/commands directory
  .claude/commands/README.md
Due: none

fix: Convert relative imports to absolute imports in auto_mode.py
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Azure endpoint detection priority over GitHub Copilot
  src/amplihack/proxy/config.py
  tests/proxy/test_azure_config.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Automatically invoke cleanup agent at end of tasks
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/test_stop_cleanup.py
Due: check-imports, check-dependencies

feat: Complete instruction injection feature for auto mode (Issue #1004)
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Auto-fix all 43 ruff import sorting errors
  .claude/tools/amplihack/orchestration/EXAMPLE_USAGE.py
  .claude/tools/amplihack/orchestration/claude_process.py
  .claude/tools/amplihack/orchestration/patterns/PATTERN_EXAMPLES.py
  .claude/tools/amplihack/orchestration/patterns/__init__.py
  .claude/tools/amplihack/orchestration/patterns/cascade.py
  .claude/tools/amplihack/orchestration/patterns/debate.py
  .claude/tools/amplihack/orchestration/patterns/expert_panel.py
  .claude/tools/amplihack/orchestration/patterns/n_version.py
  scripts/optimization_benchmark.py
  src/amplihack/cli.py
  src/amplihack/launcher/auto_mode.py
  src/amplihack/launcher/auto_mode_ui.py
  src/amplihack/launcher/fork_manager.py
  tests/agentic/test_expert_panel_outside_in.py
  tests/conftest.py
  tests/e2e/test_stop_hook_error_recovery.py
  tests/e2e/test_stop_hook_performance.py
  tests/integration/test_auto_mode_append_integration.py
  tests/integration/test_auto_mode_ui_integration.py
  tests/integration/test_expert_panel_integration.py
  tests/integration/test_stop_hook_lock_integration.py
  tests/integration/test_stop_hook_logging.py
  tests/integration/test_stop_hook_subprocess.py
  tests/proxy/test_message_sanitization.py
  tests/test_codex_launcher.py
  tests/unit/test_append_handler.py
  tests/unit/test_expert_panel.py
  tests/unit/test_orchestration_smoke.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Disable reflection by default in AutoMode (#1146)
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add --no-reflection CLI flag (#1147)
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add Neo4j graph memory user controls (issue #1149)
  .claude/commands/amplihack/ingest-code.md
  .claude/tools/amplihack/hooks/session_start.py
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add --no-reflection CLI flag (#1147) (#1150)
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add workflow enforcement and parallel investigation guidance (#1091)
  .claude/commands/amplihack/ultrathink.md
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

feat: Neo4j Memory System Foundation (Issue #1071) (#1077)
  .claude/commands/amplihack/ingest-code.md
  .claude/tools/amplihack/hooks/session_start.py
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$
