Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

fix: Detect actual Neo4j container ports instead of assuming .env is correct
  .claude/context/DISCOVERIES.md
  src/amplihack/memory/neo4j/port_manager.py
  tests/unit/memory/neo4j/test_port_manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: Update uv.lock version (0.1.0 -> 0.1.7)
  uv.lock
Due: none

feat: Add project-specific Neo4j containers with interactive selection
  src/amplihack/cli.py
  src/amplihack/memory/neo4j/CONTAINER_NAMING.md
  src/amplihack/memory/neo4j/config.py
  src/amplihack/memory/neo4j/container_selection.py
  src/amplihack/memory/neo4j/startup_wizard.py
  tests/memory/neo4j/test_container_selection.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add blarify as project dependency (#1201)
  pyproject.toml
Due: none

refactor: Address code review suggestions for port_manager.py
  src/amplihack/memory/neo4j/port_manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix Neo4j container port mismatch detection bug (#1202)
  .claude/context/DISCOVERIES.md
  src/amplihack/cli.py
  src/amplihack/memory/neo4j/CONTAINER_NAMING.md
  src/amplihack/memory/neo4j/config.py
  src/amplihack/memory/neo4j/container_selection.py
  src/amplihack/memory/neo4j/port_manager.py
  src/amplihack/memory/neo4j/startup_wizard.py
  tests/memory/neo4j/test_container_selection.py
  tests/unit/memory/neo4j/test_port_manager.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Revert "Fix Neo4j container port mismatch detection bug (#1202)"
  .claude/context/DISCOVERIES.md
  src/amplihack/cli.py
  src/amplihack/memory/neo4j/CONTAINER_NAMING.md
  src/amplihack/memory/neo4j/config.py
  src/amplihack/memory/neo4j/container_selection.py
  src/amplihack/memory/neo4j/port_manager.py
  src/amplihack/memory/neo4j/startup_wizard.py
  tests/memory/neo4j/test_container_selection.py
  tests/unit/memory/neo4j/test_port_manager.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Revert "Fix Neo4j container port mismatch detection bug (#1202)" (#1206)
  .claude/context/DISCOVERIES.md
  src/amplihack/cli.py
  src/amplihack/memory/neo4j/CONTAINER_NAMING.md
  src/amplihack/memory/neo4j/config.py
  src/amplihack/memory/neo4j/container_selection.py
  src/amplihack/memory/neo4j/port_manager.py
  src/amplihack/memory/neo4j/startup_wizard.py
  tests/memory/neo4j/test_container_selection.py
  tests/unit/memory/neo4j/test_port_manager.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Change blarify command from 'analyze' to 'create' (Issue #1208)
  src/amplihack/memory/neo4j/code_graph.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add Neo4j session end cleanup with connection tracking
  .claude/tools/amplihack/hooks/stop.py
  src/amplihack/neo4j/__init__.py
  src/amplihack/neo4j/connection_tracker.py
  src/amplihack/neo4j/shutdown_coordinator.py
  tests/unit/neo4j/__init__.py
  tests/unit/neo4j/test_connection_tracker.py
  tests/unit/neo4j/test_shutdown_coordinator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove duplicate --auto argument that breaks CLI startup
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Initialize CodeIndexMetadata schema to prevent Neo4j warnings
  src/amplihack/memory/neo4j/schema.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: resolve GitGuardian security check by using environment variables
  .gitguardian.yaml
  src/amplihack/neo4j/connection_tracker.py
  tests/unit/neo4j/test_connection_tracker.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Implement pre-push quality gate hook to prevent bypassed commits
  .claude/tools/amplihack/hooks/check_runners/__init__.py
  .claude/tools/amplihack/hooks/check_runners/base_checker.py
  .claude/tools/amplihack/hooks/check_runners/large_file_checker.py
  .claude/tools/amplihack/hooks/check_runners/merge_conflict_checker.py
  .claude/tools/amplihack/hooks/check_runners/pyright_checker.py
  .claude/tools/amplihack/hooks/check_runners/ruff_checker.py
  .claude/tools/amplihack/hooks/check_runners/secrets_checker.py
  .claude/tools/amplihack/hooks/check_runners/whitespace_checker.py
  .claude/tools/amplihack/hooks/pre_push.py
  .claude/tools/amplihack/hooks/quality_checker.py
  .claude/tools/amplihack/hooks/violations.py
Due: check-imports, check-dependencies

fix: correct .gitguardian.yaml to use version 2 format
  .gitguardian.yaml
Due: none

fix: add ignored_matches for Neo4j dev password in GitGuardian
  .gitguardian.yaml
Due: none

Fix: Neo4j container port detection and duplicate --auto argument (#1212)
  .claude/context/DISCOVERIES.md
  src/amplihack/cli.py
  src/amplihack/memory/neo4j/CONTAINER_NAMING.md
  src/amplihack/memory/neo4j/config.py
  src/amplihack/memory/neo4j/container_selection.py
  src/amplihack/memory/neo4j/port_manager.py
  src/amplihack/memory/neo4j/startup_wizard.py
  tests/memory/neo4j/test_container_selection.py
  tests/unit/memory/neo4j/test_port_manager.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: use v1 format for .gitguardian.yaml with matches-ignore
  .gitguardian.yaml
Due: none

feat: Add automode safety to prevent data loss from uvx unpacking (Issue #1090)
  .claude/context/USER_PREFERENCES.md
  src/amplihack/cli.py
  src/amplihack/launcher/auto_mode.py
  src/amplihack/safety/__init__.py
  src/amplihack/safety/git_conflict_detector.py
  src/amplihack/safety/prompt_transformer.py
  src/amplihack/safety/safe_copy_strategy.py
  tests/integration/test_automode_safety_integration.py
  tests/safety/test_git_conflict_detector.py
  tests/safety/test_prompt_transformer.py
  tests/safety/test_safe_copy_strategy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: use proper v2 format with secret.ignored_matches and secret.ignored_paths
  .gitguardian.yaml
Due: none

fix: Add cleanup handler for temporary directories (Issue #1090)
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Simple PreToolUse hook to prevent git --no-verify
  .claude/settings.json
  .claude/tools/amplihack/hooks/pre_tool_use.py
Due: sync-hooks-validation, check-imports, check-dependencies

fix: correct path exclusion pattern for src/amplihack/neo4j files
  .gitguardian.yaml
Due: none

feat: Simple PreToolUse hook to prevent git --no-verify (CORRECT solution)
  .claude/settings.json
  .claude/tools/amplihack/hooks/check_runners/__init__.py
  .claude/tools/amplihack/hooks/check_runners/base_checker.py
  .claude/tools/amplihack/hooks/check_runners/large_file_checker.py
  .claude/tools/amplihack/hooks/check_runners/merge_conflict_checker.py
  .claude/tools/amplihack/hooks/check_runners/pyright_checker.py
  .claude/tools/amplihack/hooks/check_runners/ruff_checker.py
  .claude/tools/amplihack/hooks/check_runners/secrets_checker.py
  .claude/tools/amplihack/hooks/check_runners/whitespace_checker.py
  .claude/tools/amplihack/hooks/pre_push.py
  .claude/tools/amplihack/hooks/pre_tool_use.py
  .claude/tools/amplihack/hooks/quality_checker.py
  .claude/tools/amplihack/hooks/violations.py
Due: sync-hooks-validation, check-imports, check-dependencies

fix: add specific GitGuardian occurrence IDs to ignored_matches
  .gitguardian.yaml
Due: none

fix: Add container_name parameter to resolve_port_conflicts (Issue #1215)
  src/amplihack/memory/neo4j/auto_setup.py
  src/amplihack/memory/neo4j/port_manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Initialize CodeIndexMetadata schema to prevent Neo4j warnings (#1218)
  src/amplihack/memory/neo4j/schema.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Simple PreToolUse hook to prevent git --no-verify (#1217)
  .claude/settings.json
  .claude/tools/amplihack/hooks/pre_tool_use.py
Due: sync-hooks-validation, check-imports, check-dependencies

fix: Change blarify command from 'analyze' to 'create' (Issue #1208) (#1210)
  src/amplihack/memory/neo4j/code_graph.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add automode safety to prevent data loss from uvx unpacking (Issue #1090) (#1214)
  src/amplihack/cli.py
  src/amplihack/launcher/auto_mode.py
  src/amplihack/safety/__init__.py
  src/amplihack/safety/git_conflict_detector.py
  src/amplihack/safety/prompt_transformer.py
  src/amplihack/safety/safe_copy_strategy.py
  tests/integration/test_automode_safety_integration.py
  tests/safety/test_git_conflict_detector.py
  tests/safety/test_prompt_transformer.py
  tests/safety/test_safe_copy_strategy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add container_name parameter to resolve_port_conflicts (Issue #1215) (#1216)
  src/amplihack/memory/neo4j/auto_setup.py
  src/amplihack/memory/neo4j/port_manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Address code review feedback and implement Phase 2 (Ctrl-C support)
  .claude/tools/amplihack/hooks/stop.py
  scripts/test_signal_handler_cleanup.py
  src/amplihack/hooks/__init__.py
  src/amplihack/hooks/manager.py
  src/amplihack/launcher/core.py
  src/amplihack/neo4j/connection_tracker.py
  tests/integration/test_signal_handlers.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Implement meeting-synthesizer Claude Code Skill (Issue #1220)
  .claude/skills/meeting-synthesizer/SKILL.md
Due: none

feat: Complete Phase 3 (Preferences) and Phase 4 (Polish)
  docs/features/neo4j-session-cleanup.md
  src/amplihack/neo4j/connection_tracker.py
  src/amplihack/neo4j/shutdown_coordinator.py
  tests/agentic/test_neo4j_cleanup_e2e.py
  tests/integration/test_signal_handlers.py
  tests/unit/neo4j/test_shutdown_coordinator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Implement email-drafter Claude Code skill (Issue #1223)
  .claude/skills/email-drafter/README.md
  .claude/skills/email-drafter/SKILL.md
  .claude/skills/email-drafter/tests/USAGE_TEST_CASES.md
Due: none

feat: Security hardening and retry logic (Phase 3 & 4 complete)
  .claude/tools/amplihack/hooks/stop.py
  docs/features/neo4j-session-cleanup.md
  src/amplihack/neo4j/connection_tracker.py
  src/amplihack/neo4j/shutdown_coordinator.py
  tests/agentic/test_neo4j_cleanup_e2e.py
  tests/unit/neo4j/test_connection_tracker.py
  tests/unit/neo4j/test_shutdown_coordinator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(proxy): Remove SSL verification bypass - enable proper certificate validation
  src/amplihack/proxy/integrated_proxy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$
