Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

docs: Add accurate profile management documentation
  README.md
  docs/PROFILE_MANAGEMENT.md
Due: none

docs: Add comprehensive statusline and indicators documentation
  README.md
Due: none

refactor: Make skills import canonical sources instead of duplicating content
  .claude/skills/default-workflow/SKILL.md
  .claude/skills/default-workflow/reference/REVIEW_PHASES.md
  .claude/skills/ultrathink-orchestrator/SKILL.md
Due: none

fix: Use relative paths instead of hardcoded absolute paths in skills
  .claude/skills/default-workflow/SKILL.md
  .claude/skills/ultrathink-orchestrator/SKILL.md
Due: none

docs: Add comprehensive statusline and indicators documentation (#1556)
  README.md
Due: none

refactor: Make skills import canonical sources instead of duplicating content (#1557)
  .claude/skills/default-workflow/SKILL.md
  .claude/skills/default-workflow/reference/REVIEW_PHASES.md
  .claude/skills/ultrathink-orchestrator/SKILL.md
Due: none

fix: Correct dap-mcp installation method (Python package, not npm)
  .claude/skills/dynamic-debugger/SKILL.md
  .claude/skills/dynamic-debugger/scripts/start_dap_mcp.sh
Due: none

fix: Use uvx --from git+... to run amplihack from source
  .claude/tools/amplihack/remote/executor.py
Due: check-imports, check-dependencies

fix: Correct power steering disable documentation to show runtime method
  .claude/context/DISCOVERIES.md
  .claude/tools/amplihack/HOW_TO_CUSTOMIZE_POWER_STEERING.md
  .claude/tools/amplihack/hooks/power_steering_checker.py
Due: check-imports, check-dependencies

docs: Clarify timing language for power steering disable methods
  .claude/context/DISCOVERIES.md
  .claude/tools/amplihack/HOW_TO_CUSTOMIZE_POWER_STEERING.md
Due: none

feat: Add session start hook for automatic pre-commit installation
  .claude/tools/amplihack/hooks/PRECOMMIT_INSTALLER_IMPLEMENTATION.md
  .claude/tools/amplihack/hooks/precommit_installer.py
  .claude/tools/amplihack/hooks/tests/LOCAL_TESTING_RESULTS.md
  .claude/tools/amplihack/hooks/tests/test_precommit_installer.py
  .claude/tools/amplihack/hooks/tests/verify_implementation.py
Due: check-imports, check-dependencies

fix: Correct power steering disable documentation to show runtime method (#1561)
  .claude/context/DISCOVERIES.md
  .claude/tools/amplihack/HOW_TO_CUSTOMIZE_POWER_STEERING.md
  .claude/tools/amplihack/hooks/power_steering_checker.py
Due: check-imports, check-dependencies

feat: Add git+https:// support to ProfileLoader
  .claude/tools/amplihack/profile_management/loader.py
Due: check-imports, check-dependencies

test: Add MCP integration tests per issue #1549 requirement #9
  .claude/skills/dynamic-debugger/tests/MCP_TESTING.md
  .claude/skills/dynamic-debugger/tests/test_mcp_integration.py
  .claude/skills/dynamic-debugger/tests/test_python_debug.py
Due: check-imports, check-dependencies

chore: Remove transient implementation documentation
  .claude/tools/amplihack/hooks/PRECOMMIT_INSTALLER_IMPLEMENTATION.md
  .claude/tools/amplihack/hooks/tests/LOCAL_TESTING_RESULTS.md
Due: none

docs: Add git+https:// examples to profile documentation
  docs/PROFILE_MANAGEMENT.md
Due: none

fix: Power-steering statusline counter now displays session_count
  .claude/tools/statusline.sh
Due: none

fix: Handle branch names with slashes in git URLs
  .claude/tools/amplihack/profile_management/loader.py
Due: check-imports, check-dependencies

feat: Connect profile system to amplihack file staging (#1542)
  .claude/commands/amplihack/profile.md
  .claude/tools/amplihack/profile_management/loader.py
  .claude/tools/amplihack/profile_management/staging.py
  README.md
  docs/PROFILE_MANAGEMENT.md
  src/amplihack/__init__.py
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Power-steering statusline counter now displays session_count (#1565)
  .claude/tools/statusline.sh
Due: none

feat: Add session start hook for automatic pre-commit installation (#1562)
  .claude/tools/amplihack/hooks/precommit_installer.py
  .claude/tools/amplihack/hooks/tests/test_precommit_installer.py
  .claude/tools/amplihack/hooks/tests/verify_implementation.py
Due: check-imports, check-dependencies

feat: Add Azure DevOps CLI Expert Skill (#1566)
  .claude/skills/azure-devops-cli/README.md
  .claude/skills/azure-devops-cli/examples/artifacts-reference.md
  .claude/skills/azure-devops-cli/examples/boards-reference.md
  .claude/skills/azure-devops-cli/examples/pipelines-reference.md
  .claude/skills/azure-devops-cli/examples/repos-reference.md
  .claude/skills/azure-devops-cli/examples/workflows/ci-cd-automation.md
  .claude/skills/azure-devops-cli/examples/workflows/release-management.md
  .claude/skills/azure-devops-cli/examples/workflows/team-collaboration.md
  .claude/skills/azure-devops-cli/skill.md
  .claude/skills/azure-devops-cli/tests/test-scenarios.md
Due: none

fix: Correct YAML frontmatter indentation in Azure DevOps CLI skill
  .claude/skills/azure-devops-cli/skill.md
Due: none

fix: Run claude directly instead of uvx amplihack
  .claude/tools/amplihack/remote/executor.py
Due: check-imports, check-dependencies

feat: Add auto-invocation of ultrathink for code/repo changes
  .claude/context/USER_PREFERENCES.md
  .claude/tools/amplihack/hooks/auto_ultrathink/__init__.py
  .claude/tools/amplihack/hooks/auto_ultrathink/__pycache__/action_executor.cpython-311.pyc
  .claude/tools/amplihack/hooks/auto_ultrathink/__pycache__/decision_engine.cpython-311.pyc
  .claude/tools/amplihack/hooks/auto_ultrathink/__pycache__/hook_integration.cpython-311.pyc
  .claude/tools/amplihack/hooks/auto_ultrathink/__pycache__/logger.cpython-311.pyc
  .claude/tools/amplihack/hooks/auto_ultrathink/__pycache__/preference_manager.cpython-311.pyc
  .claude/tools/amplihack/hooks/auto_ultrathink/__pycache__/request_classifier.cpython-311.pyc
  .claude/tools/amplihack/hooks/auto_ultrathink/action_executor.py
  .claude/tools/amplihack/hooks/auto_ultrathink/decision_engine.py
  .claude/tools/amplihack/hooks/auto_ultrathink/hook_integration.py
  .claude/tools/amplihack/hooks/auto_ultrathink/logger.py
  .claude/tools/amplihack/hooks/auto_ultrathink/preference_manager.py
  .claude/tools/amplihack/hooks/auto_ultrathink/request_classifier.py
  .claude/tools/amplihack/hooks/user_prompt_submit.py
  TEST_RESULTS.md
  test_auto_ultrathink_integration.py
  tests/auto_ultrathink/__pycache__/conftest.cpython-311-pytest-9.0.1.pyc
  tests/auto_ultrathink/accuracy/__pycache__/test_classification_accuracy.cpython-311-pytest-9.0.1.pyc
  tests/auto_ultrathink/accuracy/test_classification_accuracy.py
  tests/auto_ultrathink/accuracy/test_corpus.yaml
  tests/auto_ultrathink/conftest.py
  tests/auto_ultrathink/integration/__pycache__/test_hook_integration.cpython-311-pytest-9.0.1.pyc
  tests/auto_ultrathink/integration/test_hook_integration.py
  tests/auto_ultrathink/performance/__pycache__/test_benchmarks.cpython-311-pytest-9.0.1.pyc
  tests/auto_ultrathink/performance/test_benchmarks.py
  tests/auto_ultrathink/unit/__pycache__/test_action_executor.cpython-311-pytest-9.0.1.pyc
  tests/auto_ultrathink/unit/__pycache__/test_decision_engine.cpython-311-pytest-9.0.1.pyc
  tests/auto_ultrathink/unit/__pycache__/test_logger.cpython-311-pytest-9.0.1.pyc
  tests/auto_ultrathink/unit/__pycache__/test_preference_manager.cpython-311-pytest-9.0.1.pyc
  tests/auto_ultrathink/unit/__pycache__/test_request_classifier.cpython-311-pytest-9.0.1.pyc
  tests/auto_ultrathink/unit/test_action_executor.py
  tests/auto_ultrathink/unit/test_decision_engine.py
  tests/auto_ultrathink/unit/test_logger.py
  tests/auto_ultrathink/unit/test_preference_manager.py
  tests/auto_ultrathink/unit/test_request_classifier.py
Due: check-imports, check-dependencies

refactor: Scope to dap-mcp supported languages (Python/C++/Rust)
  .claude/skills/dynamic-debugger/SKILL.md
  .claude/skills/dynamic-debugger/configs/debugpy.json
  .claude/skills/dynamic-debugger/configs/future/README.md
  .claude/skills/dynamic-debugger/configs/future/delve.json
  .claude/skills/dynamic-debugger/configs/future/dotnet.json
  .claude/skills/dynamic-debugger/configs/future/gdb.json
  .claude/skills/dynamic-debugger/configs/future/java.json
  .claude/skills/dynamic-debugger/configs/future/node.json
  .claude/skills/dynamic-debugger/configs/future/rust-gdb.json
  .claude/skills/dynamic-debugger/configs/lldb.json
  .claude/skills/dynamic-debugger/scripts/detect_language.py
  .claude/skills/dynamic-debugger/scripts/generate_dap_config.py
  .claude/skills/dynamic-debugger/tests/coverage.xml
  .claude/skills/dynamic-debugger/tests/test_mcp_client.py
Due: check-imports, check-dependencies

docs: Improve Azure DevOps CLI skill discoverability and documentation
  .claude/skills/azure-devops-cli/skill.md
  README.md
Due: none

fix: Run 'claude -- -p prompt' directly (I AM Claude Code!)
  .claude/tools/amplihack/remote/executor.py
Due: check-imports, check-dependencies

feat: Add Azure DevOps CLI Expert Skill (#1568)
  .claude/skills/azure-devops-cli/README.md
  .claude/skills/azure-devops-cli/examples/artifacts-reference.md
  .claude/skills/azure-devops-cli/examples/boards-reference.md
  .claude/skills/azure-devops-cli/examples/pipelines-reference.md
  .claude/skills/azure-devops-cli/examples/repos-reference.md
  .claude/skills/azure-devops-cli/examples/workflows/ci-cd-automation.md
  .claude/skills/azure-devops-cli/examples/workflows/release-management.md
  .claude/skills/azure-devops-cli/examples/workflows/team-collaboration.md
  .claude/skills/azure-devops-cli/skill.md
  .claude/skills/azure-devops-cli/tests/test-scenarios.md
  README.md
Due: none

fix: Prevent stop hooks from running twice at each stop
  src/amplihack/launcher/core.py
  tests/manual_test_stop_hook_duplicate_fix.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: Address code review feedback
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Address code review feedback - fix critical bugs
  .claude/tools/amplihack/hooks/auto_ultrathink/README.md
  .claude/tools/amplihack/hooks/auto_ultrathink/action_executor.py
  .claude/tools/amplihack/hooks/auto_ultrathink/logger.py
  tests/auto_ultrathink/conftest.py
  tests/auto_ultrathink/unit/test_logger.py
Due: check-imports, check-dependencies

Remove Quick Setup section from README
  README.md
Due: none

docs: Add comprehensive documentation and make skill opt-in
  .claude/skills/README.md
  .claude/skills/dynamic-debugger/README.md
  .claude/skills/dynamic-debugger/SKILL.md
Due: none

feat: Dynamic debugger skill for interactive debugging via DAP-MCP (#1553)
  .claude/skills/README.md
  .claude/skills/dynamic-debugger/README.md
  .claude/skills/dynamic-debugger/SKILL.md
  .claude/skills/dynamic-debugger/configs/debugpy.json
  .claude/skills/dynamic-debugger/configs/future/README.md
  .claude/skills/dynamic-debugger/configs/future/delve.json
  .claude/skills/dynamic-debugger/configs/future/dotnet.json
  .claude/skills/dynamic-debugger/configs/future/gdb.json
  .claude/skills/dynamic-debugger/configs/future/java.json
  .claude/skills/dynamic-debugger/configs/future/node.json
  .claude/skills/dynamic-debugger/configs/future/rust-gdb.json
  .claude/skills/dynamic-debugger/configs/lldb.json
  .claude/skills/dynamic-debugger/examples.md
  .claude/skills/dynamic-debugger/patterns.md
  .claude/skills/dynamic-debugger/reference.md
  .claude/skills/dynamic-debugger/scripts/cleanup_debug.sh
  .claude/skills/dynamic-debugger/scripts/detect_language.py
  .claude/skills/dynamic-debugger/scripts/generate_dap_config.py
  .claude/skills/dynamic-debugger/scripts/monitor_session.py
  .claude/skills/dynamic-debugger/scripts/start_dap_mcp.sh
  .claude/skills/dynamic-debugger/tests/MCP_TESTING.md
  .claude/skills/dynamic-debugger/tests/QUICKSTART.md
  .claude/skills/dynamic-debugger/tests/README.md
  .claude/skills/dynamic-debugger/tests/SUMMARY.md
  .claude/skills/dynamic-debugger/tests/conftest.py
  .claude/skills/dynamic-debugger/tests/coverage.xml
  .claude/skills/dynamic-debugger/tests/pytest.ini
  .claude/skills/dynamic-debugger/tests/requirements-test.txt
  .claude/skills/dynamic-debugger/tests/test_config_generation.py
  .claude/skills/dynamic-debugger/tests/test_e2e.sh
  .claude/skills/dynamic-debugger/tests/test_integration.py
  .claude/skills/dynamic-debugger/tests/test_language_detection.py
  .claude/skills/dynamic-debugger/tests/test_mcp_client.py
  .claude/skills/dynamic-debugger/tests/test_mcp_integration.py
  .claude/skills/dynamic-debugger/tests/test_python_debug.py
  .claude/skills/dynamic-debugger/tests/test_session_monitoring.py
Due: check-imports, check-dependencies

docs: Fix profile management README - Remove non-existent features
  .claude/tools/amplihack/profile_management/README.md
Due: none

fix: Use 'amplihack launch -- -p prompt' for one-shot non-interactive execution
  .claude/tools/amplihack/remote/executor.py
Due: check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$
