Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$

chore: Remove transient documentation from project root
  DESIGN_SPECIFICATION.md
  HANDOFF_REPORT.md
  RUN_TEST.md
  TEST_COVERAGE.md
  TUI_PR_INSTRUCTIONS.md
Due: none

fix: Make TodoWrite tool tracking visible in auto mode and TUI (#1060)
  src/amplihack/launcher/auto_mode.py
  tests/manual/test_todowrite_in_auto_mode.sh
  tests/unit/test_auto_mode_todowrite_fix.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: Remove transient documentation from project root (#1065)
  DESIGN_SPECIFICATION.md
  HANDOFF_REPORT.md
  RUN_TEST.md
  TEST_COVERAGE.md
  TUI_PR_INSTRUCTIONS.md
Due: none

feat: Add SubagentStop Hook for agent lifecycle tracking
  .claude/settings.json
  .claude/tools/amplihack/hooks/SUBAGENT_STOP_README.md
  .claude/tools/amplihack/hooks/subagent_stop.py
  IMPLEMENTATION_SUMMARY.md
  test_subagent_stop_manual.py
  tests/hooks/test_subagent_stop.py
Due: sync-hooks-validation, check-imports, check-dependencies

feat: Add PreToolUse Logger for subagent analytics
  .claude/settings.json
  .claude/tools/amplihack/hooks/README_PRE_TOOL_USE.md
  .claude/tools/amplihack/hooks/pre_tool_use.py
  tests/hooks/__init__.py
  tests/hooks/test_pre_tool_use.py
Due: sync-hooks-validation, check-imports, check-dependencies

feat: Add post-tool-use quality checks without make
  .claude/tools/amplihack/hooks/post_tool_use.py
  IMPLEMENTATION_SUMMARY.md
  pyproject.toml
  src/amplihack/quality/README.md
  src/amplihack/quality/__init__.py
  src/amplihack/quality/checker.py
  src/amplihack/quality/config.py
  src/amplihack/quality/tests/__init__.py
  src/amplihack/quality/tests/test_checker.py
  src/amplihack/quality/tests/test_config.py
  src/amplihack/quality/tests/test_e2e.py
  src/amplihack/quality/tests/test_integration.py
  src/amplihack/quality/tests/test_validators.py
  src/amplihack/quality/validators/__init__.py
  src/amplihack/quality/validators/base_validator.py
  src/amplihack/quality/validators/json_validator.py
  src/amplihack/quality/validators/markdown_validator.py
  src/amplihack/quality/validators/python_validator.py
  src/amplihack/quality/validators/shell_validator.py
  src/amplihack/quality/validators/yaml_validator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add Subagent Mapper for agent debugging and analytics
  IMPLEMENTATION_SUMMARY.md
  example_usage.py
  src/amplihack/analytics/README.md
  src/amplihack/analytics/__init__.py
  src/amplihack/analytics/metrics_reader.py
  src/amplihack/analytics/subagent_mapper.py
  src/amplihack/analytics/tests/__init__.py
  src/amplihack/analytics/tests/test_metrics_reader.py
  src/amplihack/analytics/tests/test_subagent_mapper.py
  src/amplihack/analytics/tests/test_visualization.py
  src/amplihack/analytics/visualization.py
  test_performance.py
  verify_implementation.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add terminal enhancements for better CLI UX
  IMPLEMENTATION_SUMMARY.md
  QUICK_REFERENCE.md
  src/amplihack/terminal/README.md
  src/amplihack/terminal/__init__.py
  src/amplihack/terminal/enhancements.py
  src/amplihack/terminal/rich_output.py
  src/amplihack/terminal/tests/__init__.py
  src/amplihack/terminal/tests/test_e2e.py
  src/amplihack/terminal/tests/test_enhancements.py
  src/amplihack/terminal/tests/test_integration.py
  src/amplihack/terminal/tests/test_rich_output.py
  verify_terminal.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: Remove temporary artifacts and transient documentation
  DESIGN_SPECIFICATION.md
  HANDOFF_REPORT.md
  IMPLEMENTATION_SUMMARY.md
  RUN_TEST.md
  TEST_COVERAGE.md
  TUI_PR_INSTRUCTIONS.md
  example_usage.py
  test_performance.py
  verify_implementation.py
Due: check-imports, check-dependencies

fix: Correct type hint in get_summary method
  src/amplihack/quality/checker.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove all zero-BS violations (placeholders, assert True)
  tests/conftest.py
  tests/test_session_start_integration.py
  tests/unit/test_append_handler.py
Due: check-imports, check-dependencies

fix: Remove all zero-BS violations (placeholder tests and TDD stubs)
  DESIGN_SPECIFICATION.md
  HANDOFF_REPORT.md
  IMPLEMENTATION_SUMMARY.md
  RUN_TEST.md
  TEST_COVERAGE.md
  TUI_PR_INSTRUCTIONS.md
  test_subagent_stop_manual.py
  tests/conftest.py
  tests/test_requirement_preservation.py
  tests/test_session_start_integration.py
  tests/unit/test_append_handler.py
Due: check-imports, check-dependencies

fix: Remove all zero-BS violations from quality checks PR
  DESIGN_SPECIFICATION.md
  TEST_COVERAGE.md
  docs/implementation/quality_checks_pr_1074.md
  tests/test_requirement_preservation.py
Due: check-imports, check-dependencies

fix: Remove all zero-BS violations from PR #1076
  IMPLEMENTATION_SUMMARY.md
  QUICK_REFERENCE.md
  tests/proxy/test_error_reporter.py
  tests/proxy/test_port_selector.py
  tests/proxy/test_proxy_robustness.py
  tests/proxy/test_proxy_robustness_integration.py
  tests/test_bundle_generator_real_e2e.py
  tests/test_requirement_preservation.py
  verify_terminal.py
Due: check-imports, check-dependencies

fix: Remove all zero-BS violations from PR #1075
  src/amplihack/bundle_generator/distributor.py
  tests/conftest.py
  tests/test_requirement_preservation.py
  tests/test_session_start_integration.py
  tests/unit/test_append_handler.py
  tests/unit/test_session_finder.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: Remove point-in-time documentation from project root
  AGENTS.md
  DESIGN_SPECIFICATION.md
  HANDOFF_REPORT.md
  RUN_TEST.md
  TEST_COVERAGE.md
  TUI_PR_INSTRUCTIONS.md
Due: none

chore: Remove all non-essential documentation from root directory
  AGENTS.md
  DESIGN_SPECIFICATION.md
  HANDOFF_REPORT.md
  RUN_TEST.md
  TEST_COVERAGE.md
  TUI_PR_INSTRUCTIONS.md
  baseline_results.json
  test_log_fix_manual.py
  test_logging_fixes.py
Due: check-imports, check-dependencies

chore: Remove non-essential documentation and test files from project root
  AGENTS.md
  HANDOFF_REPORT.md
  RUN_TEST.md
  TUI_PR_INSTRUCTIONS.md
  baseline_results.json
  test_log_fix_manual.py
  test_logging_fixes.py
Due: check-imports, check-dependencies

chore: Remove point-in-time documentation and temporary test files
  docs/IMPLEMENTATION_SUMMARY.md
  test_log_fix_manual.py
  test_logging_fixes.py
Due: check-imports, check-dependencies

feat: add A/B test framework for memory system effectiveness validation
  docs/memory/AB_TEST_QUICK_REFERENCE.md
  docs/memory/AB_TEST_SUMMARY.md
  docs/memory/EFFECTIVENESS_TEST_DESIGN.md
  scripts/memory_test_harness.py
Due: check-imports, check-dependencies

feat: Add statusline script for session context display
  .claude/tools/statusline.sh
Due: none

feat: complete agent memory integration with working hooks and proof of value
  .claude/agents/amplihack/infrastructure/dependency-installer-agent.md
  .claude/agents/amplihack/infrastructure/neo4j-setup-agent.md
  .claude/settings.json
  .claude/tools/amplihack/hooks/agent_memory_hook.py
  .claude/tools/amplihack/hooks/session_stop.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/user_prompt_submit.py
  =5.15.0
  MEMORY_INTEGRATION_COMPLETE.md
  scripts/evaluate_pr_value.py
  scripts/test_memory_value.py
  scripts/test_real_agent_with_memory.py
  scripts/test_real_memory_benefit.sh
  src/amplihack/memory/neo4j/agent_integration.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

feat: Register statusline in settings.json
  .claude/settings.json
Due: sync-hooks-validation

fix: critical bug fixes for 100% test pass rate
  scripts/test_agent_memory_integration.py
  scripts/test_agent_sharing.py
  scripts/test_complete_e2e.py
  scripts/test_memory_api.py
  scripts/test_neo4j_connection.py
  scripts/test_retrieval_isolation_simple.py
  scripts/test_session_integration.py
  src/amplihack/memory/neo4j/memory_store.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: implement blarify code graph integration
  BLARIFY_INTEGRATION_COMPLETE.md
  docs/blarify_architecture.md
  docs/blarify_integration.md
  docs/blarify_quickstart.md
  scripts/import_codebase_to_neo4j.py
  scripts/test_blarify_integration.py
  src/amplihack/memory/neo4j/README_CODE_GRAPH.md
  src/amplihack/memory/neo4j/__init__.py
  src/amplihack/memory/neo4j/code_graph.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: implement documentation knowledge graph and external knowledge integration
  EXTERNAL_KNOWLEDGE_IMPLEMENTATION.md
  docs/doc_graph_quick_reference.md
  docs/documentation_knowledge_graph.md
  docs/external_knowledge_integration.md
  scripts/import_docs_to_neo4j.py
  scripts/import_external_knowledge.py
  scripts/test_doc_graph.py
  scripts/test_doc_parsing_only.py
  scripts/test_doc_parsing_standalone.py
  scripts/test_external_knowledge.py
  scripts/test_external_knowledge_unit.py
  src/amplihack/memory/neo4j/__init__.py
  src/amplihack/memory/neo4j/doc_graph.py
  src/amplihack/memory/neo4j/external_knowledge.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: enable APOC and verify blarify works with REAL codebase
  src/amplihack/memory/neo4j/empty-env.json
Due: none

fix: add APOC configuration to Docker Compose
  docker/docker-compose.neo4j.yml
Due: none

fix: replace --version with --help in claude-trace validation
  src/amplihack/utils/claude_trace.py
  tests/unit/test_claude_trace_validation.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: self-healing prerequisite management
  src/amplihack/launcher/core.py
  src/amplihack/memory/neo4j/auto_setup.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: integrate self-healing into launcher
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: clean up launcher syntax error
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: correct launcher function syntax
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: replace --version with --help in claude-trace validation (#1080)
  src/amplihack/utils/claude_trace.py
  tests/unit/test_claude_trace_validation.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: smart port conflict detection and auto-resolution
  .claude/settings.json
  .claude/tools/amplihack/hooks/agent_memory_hook.py
  .env.example
  src/amplihack/memory/neo4j/auto_setup.py
  src/amplihack/memory/neo4j/config.py
  src/amplihack/memory/neo4j/port_manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

feat: Code Understanding Engine with auto-freshness checking
  src/amplihack/memory/neo4j/code_freshness.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: logger not defined in Neo4j startup thread
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Docker Compose file no longer required
  src/amplihack/memory/neo4j/config.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: auto-load .env when getting password
  src/amplihack/memory/neo4j/config.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
