Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

hotfix(docs): Remove --strict flag to unblock GitHub Pages deployment (#1831)
  .github/workflows/docs.yml
Due: none

docs(gh-pages): Make GitHub Pages docs comprehensive and discoverable (#1824) (#1830)
  docs/document_driven_development/README.md
  docs/document_driven_development/phases/00_planning_and_alignment.md
  docs/document_driven_development/phases/01_documentation_retcon.md
  docs/document_driven_development/phases/02_approval_gate.md
  docs/document_driven_development/phases/03_implementation_planning.md
  docs/document_driven_development/phases/04_code_implementation.md
  docs/document_driven_development/phases/05_testing_and_verification.md
  docs/document_driven_development/phases/06_cleanup_and_push.md
  docs/features/README.md
  docs/features/claude-md-preservation.md
  docs/index.md
  docs/memory/README.md
  docs/security/README.md
  docs/troubleshooting/README.md
  scripts/validate_docs_navigation.py
  tests/docs/MANUAL_TEST_PLAN.md
  tests/docs/QUICK_REFERENCE.md
  tests/docs/README.md
  tests/docs/TEST_RESULTS_BASELINE.md
  tests/docs/test_documentation_structure.py
Due: check-imports, check-dependencies

hotfix(docs): Fix site_url and repo URLs in mkdocs.yml
  mkdocs.yml
Due: none

hotfix(docs): Fix site_url and repo URLs in mkdocs.yml (#1832)
  mkdocs.yml
Due: none

fix(docs): Correct azlin installation instructions
  docs/remote-sessions/TUTORIAL.md
  docs/remote-sessions/index.md
Due: none

docs(remote-sessions): Comprehensive quality fixes for documentation
  docs/remote-sessions/CLI_REFERENCE.md
  docs/remote-sessions/README.md
  docs/remote-sessions/TUTORIAL.md
  docs/remote-sessions/index.md
Due: none

docs(remote-sessions): Comprehensive quality fixes for all critical documentation issues (#1833)
  docs/remote-sessions/CLI_REFERENCE.md
  docs/remote-sessions/README.md
  docs/remote-sessions/TUTORIAL.md
  docs/remote-sessions/index.md
Due: none

feat: Add az-devops-boards skill for Azure DevOps work item management
  .claude/skills/az-devops-boards/IMPLEMENTATION_SUMMARY.md
  .claude/skills/az-devops-boards/README.md
  .claude/skills/az-devops-boards/examples/common-workflows.md
  .claude/skills/az-devops-boards/reference/field-reference.md
  .claude/skills/az-devops-boards/reference/work-item-types.md
  .claude/skills/az-devops-boards/skill.md
Due: none

feat: Add az-devops-tools suite with comprehensive tooling
  .claude/scenarios/az-devops-tools/HOW_TO_CREATE_YOUR_OWN.md
  .claude/scenarios/az-devops-tools/README.md
  .claude/scenarios/az-devops-tools/__init__.py
  .claude/scenarios/az-devops-tools/auth_check.py
  .claude/scenarios/az-devops-tools/common.py
  .claude/scenarios/az-devops-tools/create_work_item.py
  .claude/scenarios/az-devops-tools/format_html.py
  .claude/scenarios/az-devops-tools/link_parent.py
  .claude/scenarios/az-devops-tools/list_types.py
  .claude/scenarios/az-devops-tools/query_wiql.py
  .claude/scenarios/az-devops-tools/tests/__init__.py
  .claude/scenarios/az-devops-tools/tests/conftest.py
  .claude/skills/az-devops-boards/IMPLEMENTATION_SUMMARY.md
  .claude/skills/az-devops-boards/README.md
  .claude/skills/az-devops-boards/SKILL.md
  .claude/skills/az-devops-boards/examples/common-workflows.md
  .claude/skills/az-devops-boards/reference/field-reference.md
  .claude/skills/az-devops-boards/reference/work-item-types.md
  .claude/skills/az-devops-boards/skill.md
  README.md
  docs/azure-devops/README.md
  docs/azure-devops/authentication.md
  docs/azure-devops/html-formatting.md
  docs/azure-devops/queries.md
  docs/azure-devops/quick-start.md
  docs/azure-devops/troubleshooting.md
  docs/azure-devops/work-items.md
Due: check-imports, check-dependencies

refactor: Restructure as azure-devops skill with tool-first approach
  .claude/scenarios/az-devops-tools/create_pr.py
  .claude/scenarios/az-devops-tools/delete_work_item.py
  .claude/scenarios/az-devops-tools/get_work_item.py
  .claude/scenarios/az-devops-tools/list_repos.py
  .claude/scenarios/az-devops-tools/list_work_items.py
  .claude/scenarios/az-devops-tools/update_work_item.py
  .claude/skills/az-devops-boards/SKILL.md
  .claude/skills/azure-devops/HOW_TO_CREATE_YOUR_OWN.md
  .claude/skills/azure-devops/SKILL.md
  .claude/skills/azure-devops/artifacts.md
  .claude/skills/azure-devops/authentication.md
  .claude/skills/azure-devops/html-formatting.md
  .claude/skills/azure-devops/pipelines.md
  .claude/skills/azure-devops/queries.md
  .claude/skills/azure-devops/repos.md
  .claude/skills/azure-devops/work-items.md
  docs/azure-devops/README.md
  docs/azure-devops/html-formatting.md
  docs/azure-devops/quick-start.md
  docs/azure-devops/troubleshooting.md
Due: check-imports, check-dependencies

feat: Add az-devops-boards skill for Azure DevOps work item management (#1834)
  .claude/scenarios/az-devops-tools/HOW_TO_CREATE_YOUR_OWN.md
  .claude/scenarios/az-devops-tools/README.md
  .claude/scenarios/az-devops-tools/__init__.py
  .claude/scenarios/az-devops-tools/auth_check.py
  .claude/scenarios/az-devops-tools/common.py
  .claude/scenarios/az-devops-tools/create_pr.py
  .claude/scenarios/az-devops-tools/create_work_item.py
  .claude/scenarios/az-devops-tools/delete_work_item.py
  .claude/scenarios/az-devops-tools/format_html.py
  .claude/scenarios/az-devops-tools/get_work_item.py
  .claude/scenarios/az-devops-tools/link_parent.py
  .claude/scenarios/az-devops-tools/list_repos.py
  .claude/scenarios/az-devops-tools/list_types.py
  .claude/scenarios/az-devops-tools/list_work_items.py
  .claude/scenarios/az-devops-tools/query_wiql.py
  .claude/scenarios/az-devops-tools/tests/__init__.py
  .claude/scenarios/az-devops-tools/tests/conftest.py
  .claude/scenarios/az-devops-tools/update_work_item.py
  .claude/skills/azure-devops/HOW_TO_CREATE_YOUR_OWN.md
  .claude/skills/azure-devops/SKILL.md
  .claude/skills/azure-devops/artifacts.md
  .claude/skills/azure-devops/authentication.md
  .claude/skills/azure-devops/html-formatting.md
  .claude/skills/azure-devops/pipelines.md
  .claude/skills/azure-devops/queries.md
  .claude/skills/azure-devops/repos.md
  .claude/skills/azure-devops/work-items.md
  README.md
  docs/azure-devops/README.md
Due: check-imports, check-dependencies

fix: Replace sys.exit(1) calls in hooks, add evidence-based completion detection
  .claude/tools/amplihack/hooks/completion_evidence.py
  .claude/tools/amplihack/hooks/error_protocol.py
  .claude/tools/amplihack/hooks/hook_processor.py
  .claude/tools/amplihack/hooks/json_protocol.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/tests/test_completion_evidence.py
  .claude/tools/amplihack/hooks/tests/test_customization_e2e.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_evidence_integration.py
  .claude/tools/amplihack/hooks/tests/test_sdk_integration.py
Due: check-imports, check-dependencies

fix: Replace sys.exit(1) calls in hooks, add evidence-based completion detection (#1861)
  .claude/tools/amplihack/hooks/completion_evidence.py
  .claude/tools/amplihack/hooks/error_protocol.py
  .claude/tools/amplihack/hooks/hook_processor.py
  .claude/tools/amplihack/hooks/json_protocol.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/tests/test_completion_evidence.py
  .claude/tools/amplihack/hooks/tests/test_customization_e2e.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_evidence_integration.py
  .claude/tools/amplihack/hooks/tests/test_sdk_integration.py
Due: check-imports, check-dependencies

feat(gh-pages): Add automated link validator for deployed GitHub Pages sites
  scripts/QUICKSTART.md
  scripts/README_gh_pages_validator.md
  scripts/requirements.txt
  scripts/test_validate_gh_pages_links.py
  scripts/validate_gh_pages_links.py
Due: check-imports, check-dependencies

feat(gh-pages): Add automated link validator for deployed GitHub Pages sites (#1866)
  scripts/QUICKSTART.md
  scripts/README_gh_pages_validator.md
  scripts/requirements.txt
  scripts/test_validate_gh_pages_links.py
  scripts/validate_gh_pages_links.py
Due: check-imports, check-dependencies

fix: Address code review feedback for RustyClawd integration
  README.md
  src/amplihack/cli.py
  src/amplihack/launcher/core.py
  src/amplihack/utils/rustyclawd_detect.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add RustyClawd support to amplihack launcher (#1436)
  README.md
  src/amplihack/cli.py
  src/amplihack/launcher/core.py
  src/amplihack/utils/claude_trace.py
  src/amplihack/utils/rustyclawd_detect.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Prevent Neo4j Container Setup dialog when neo4j disabled by default
  src/amplihack/launcher/core.py
  tests/unit/test_launcher_neo4j_check.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Also add env var check to _interactive_neo4j_startup method
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Prevent Neo4j Container Setup dialog when neo4j disabled by default (#1871)
  src/amplihack/launcher/core.py
  tests/unit/test_launcher_neo4j_check.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(power-steering): Fix math display, SDK visibility, failure reasons, and final guidance (Issue #1872)
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/manual_verify_issue_1872.py
  .claude/tools/amplihack/hooks/tests/test_issue_1872_bug_fixes.py
  manual_test_results.md
Due: check-imports, check-dependencies

fix(power-steering): Address critical PR review feedback (PR #1873)
  .claude/tools/amplihack/hooks/claude_power_steering.py
Due: check-imports, check-dependencies

refactor(power-steering): Improve pattern compliance to 100% (PR #1873)
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
Due: check-imports, check-dependencies

learn: Add mandatory PR merge approval requirement
  .claude/context/USER_PREFERENCES.md
Due: none

docs: Document BrokenPipeError race condition in sessionstop hook
  .claude/context/DISCOVERIES.md
Due: none

fix(power-steering): Fix math display, SDK visibility, failure reasons, and final guidance (#1873)
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/manual_verify_issue_1872.py
  .claude/tools/amplihack/hooks/tests/test_issue_1872_bug_fixes.py
  manual_test_results.md
Due: check-imports, check-dependencies

fix: Add IOError handling to prevent exit hang on pipe closure
  .claude/tools/amplihack/hooks/hook_processor.py
  .claude/tools/amplihack/hooks/tests/test_hook_processor.py
Due: check-imports, check-dependencies

chore: Remove leftover documentation files from previous sessions
  DOCUMENTATION_LINK_PATTERNS_ANALYSIS.md
  HANDOFF.md
  LINK_FIX_QUICK_REFERENCE.md
  LINK_PATTERNS_VISUAL_GUIDE.md
  PATTERN_ANALYSIS_SUMMARY.md
  broken_links_report.md
Due: none

chore: Restore unrelated docs files - keep PR focused on BrokenPipeError fix
  DOCUMENTATION_LINK_PATTERNS_ANALYSIS.md
  HANDOFF.md
  LINK_FIX_QUICK_REFERENCE.md
  LINK_PATTERNS_VISUAL_GUIDE.md
  PATTERN_ANALYSIS_SUMMARY.md
  broken_links_report.md
Due: none

chore: Remove unrelated investigation docs from PR
  .claude/context/DISCOVERIES.md
  .claude/context/USER_PREFERENCES.md
Due: none

fix: Add IOError handling to prevent exit hang on pipe closure (#1875)
  .claude/tools/amplihack/hooks/hook_processor.py
  .claude/tools/amplihack/hooks/tests/test_hook_processor.py
Due: check-imports, check-dependencies

fix: Revert inappropriate deprecations from PR #1686
  .claude/commands/amplihack/ultrathink.md
  .claude/skills/default-workflow/SKILL.md
  .claude/skills/ultrathink-orchestrator/SKILL.md
  .claude/tools/amplihack/hooks/tests/test_todo_interceptor.py
  .claude/tools/amplihack/hooks/tests/test_workflow_gate.py
  .claude/tools/amplihack/hooks/tests/test_workflow_state.py
  .claude/tools/amplihack/hooks/todo_interceptor.py
  .claude/tools/amplihack/hooks/workflow_gate.py
  .claude/tools/amplihack/hooks/workflow_state.py
  CLAUDE.md
  docs/workflow-enforcement.md
  tests/unit/test_workflow_enforcement.py
Due: check-imports, check-dependencies

cleanup: Remove 6 temporary analysis files from commit 7263a44f
  DOCUMENTATION_LINK_PATTERNS_ANALYSIS.md
  LINK_FIX_QUICK_REFERENCE.md
  LINK_PATTERNS_VISUAL_GUIDE.md
  PATTERN_ANALYSIS_SUMMARY.md
  broken_links_report.md
  docs/MKDOCS_BUILD_ANALYSIS.md
Due: none

cleanup: Remove 6 temporary analysis files from commit 7263a44f (#1879)
  DOCUMENTATION_LINK_PATTERNS_ANALYSIS.md
  LINK_FIX_QUICK_REFERENCE.md
  LINK_PATTERNS_VISUAL_GUIDE.md
  PATTERN_ANALYSIS_SUMMARY.md
  broken_links_report.md
  docs/MKDOCS_BUILD_ANALYSIS.md
Due: none

chore: Update .version to current commit
  .claude/.version
Due: none

fix: Restore 665 lines removed in 03ff38c + keep RustyClawd section
  README.md
Due: none

fix: Revert inappropriate deprecations from PR #1686 (#1878)
  .claude/commands/amplihack/ultrathink.md
  .claude/skills/default-workflow/SKILL.md
  .claude/skills/ultrathink-orchestrator/SKILL.md
  .claude/tools/amplihack/hooks/tests/test_todo_interceptor.py
  .claude/tools/amplihack/hooks/tests/test_workflow_gate.py
  .claude/tools/amplihack/hooks/tests/test_workflow_state.py
  .claude/tools/amplihack/hooks/todo_interceptor.py
  .claude/tools/amplihack/hooks/workflow_gate.py
  .claude/tools/amplihack/hooks/workflow_state.py
  CLAUDE.md
  docs/workflow-enforcement.md
  tests/unit/test_workflow_enforcement.py
Due: check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$
