Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$

feat: Add session classification to power-steering
  .claude/tools/amplihack/considerations.yaml
  .claude/tools/amplihack/hooks/power_steering_checker.py
Due: check-imports, check-dependencies

feat: Add session classification implementation to power steering
  .claude/tools/amplihack/considerations.yaml
  .claude/tools/amplihack/hooks/power_steering_checker.py
Due: check-imports, check-dependencies

refactor: Address PR #1497 review feedback
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_session_classification.py
Due: check-imports, check-dependencies

Add YAML frontmatter to slash command files for proper Claude Code discovery (#1494)
  .claude/commands/amplihack/analyze.md
  .claude/commands/amplihack/auto.md
  .claude/commands/amplihack/cascade.md
  .claude/commands/amplihack/debate.md
  .claude/commands/amplihack/expert-panel.md
  .claude/commands/amplihack/fix.md
  .claude/commands/amplihack/improve.md
  .claude/commands/amplihack/ingest-code.md
  .claude/commands/amplihack/install.md
  .claude/commands/amplihack/lock.md
  .claude/commands/amplihack/modular-build.md
  .claude/commands/amplihack/n-version.md
  .claude/commands/amplihack/reflect.md
  .claude/commands/amplihack/socratic.md
  .claude/commands/amplihack/transcripts.md
  .claude/commands/amplihack/ultrathink.md
  .claude/commands/amplihack/uninstall.md
  .claude/commands/amplihack/unlock.md
  .claude/commands/amplihack/xpia.md
Due: none

feat: Add session classification to Power Steering (fixes #1492) (#1497)
  .claude/tools/amplihack/considerations.yaml
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/SESSION_CLASSIFICATION_TEST_SPEC.md
  .claude/tools/amplihack/hooks/tests/TEST_COVERAGE_ANALYSIS.md
  .claude/tools/amplihack/hooks/tests/test_session_classification.py
Due: check-imports, check-dependencies

fix: Remove --no-bastion workaround (azlin #382 fixed)
  .claude/context/DISCOVERIES.md
  .claude/tools/amplihack/remote/orchestrator.py
Due: check-imports, check-dependencies

Fix FrameworkPathResolver to prioritize project directory over package cache
  src/amplihack/utils/paths.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix FrameworkPathResolver to prioritize project directory over package cache (#1500)
  scripts/azure-admin/README.md
  scripts/azure-admin/azure-assign-roles.sh
  scripts/azure-admin/create-azure-users.sh
  src/amplihack/utils/paths.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Document SessionStart hook double execution (Claude Code bug #10871)
  .claude/context/DISCOVERIES.md
Due: none

feat: Add PM Architect Claude Code skill
  .claude/skills/pm-architect/EXAMPLES.md
  .claude/skills/pm-architect/README.md
  .claude/skills/pm-architect/REFERENCE.md
  .claude/skills/pm-architect/SKILL.md
  .claude/skills/pm-architect/scripts/README.md
  .claude/skills/pm-architect/scripts/analyze_backlog.py
  .claude/skills/pm-architect/scripts/coordinate.py
  .claude/skills/pm-architect/scripts/create_delegation.py
  .claude/skills/pm-architect/scripts/manage_state.py
Due: check-imports, check-dependencies

feat: Implement /transcripts save command (fixes #1424, #1423) (#1479)
  .claude/commands/transcripts.py
Due: check-imports, check-dependencies

feat: Add working Docker support (Dockerfile + docker-compose) (#1453)
  docker/Dockerfile
  docker/README.md
  docker/docker-compose.yml
Due: none

feat: Emphasize Steps 11-12 are MANDATORY in workflow
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

feat: Add session classification to Power Steering (fixes #1492)
  .claude/tools/amplihack/hooks/tests/test_session_classification.py
Due: check-imports, check-dependencies

feat: Add task classification to prevent tool vs skill confusion
  .claude/agents/amplihack/core/builder.md
  .claude/agents/amplihack/specialized/prompt-writer.md
  .claude/workflow/DEFAULT_WORKFLOW.md
  tests/unit/test_task_classification_standalone.py
Due: check-imports, check-dependencies

feat: Add explicit tool vs skill classification to context
  .claude/context/TOOL_VS_SKILL_CLASSIFICATION.md
Due: none

fix: Make tool vs skill classification prominent in CLAUDE.md
  CLAUDE.md
Due: none

fix: Align test default classification with agent spec (AMBIGUOUS)
  tests/unit/test_task_classification_standalone.py
Due: check-imports, check-dependencies

fix: Default 'tool' to EXECUTABLE for eval compatibility
  .claude/agents/amplihack/specialized/prompt-writer.md
Due: none

fix: Update classification to prefer tool+skill pattern
  .claude/context/TOOL_VS_SKILL_CLASSIFICATION.md
  CLAUDE.md
Due: none

fix: Default to AMBIGUOUS for fail-secure classification
  .claude/agents/amplihack/specialized/prompt-writer.md
Due: none

docs: Add SDK import syntax verification notes to builder.md
  .claude/agents/amplihack/core/builder.md
Due: none

feat: Add Agent SDK vs Plain API decision framework to builder.md (fixes #1465)
  .claude/agents/amplihack/core/builder.md
Due: none

feat: Add session classification to power-steering
  .claude/tools/amplihack/hooks/power_steering_checker.py
Due: check-imports, check-dependencies

refactor: Address code review feedback for structure detection
  .claude/agents/amplihack/utils/structure_detection.py
  .claude/agents/amplihack/utils/test_structure_detection.py
Due: check-imports, check-dependencies

feat: Add project structure detection system (fixes #1464)
  .claude/agents/amplihack/utils/README.md
  .claude/agents/amplihack/utils/structure_detection.py
  .claude/agents/amplihack/utils/test_basic_functionality.py
  .claude/agents/amplihack/utils/test_structure_detection.py
  Specs/ProjectStructureDetection.md
  Specs/StructureDetectionAgentIntegration.md
  Specs/StructureDetectionImplementation.md
Due: check-imports, check-dependencies

Add Claude Code skill best practices reference to PM Architect
  .claude/skills/pm-architect/SKILL.md
Due: none

feat: Enforce mandatory Steps 11-12 (Code Review) in UltraThink workflow
  .claude/commands/amplihack/ultrathink.md
Due: none

feat: Add API Validation Before Implementation pattern (fixes #1463)
  .claude/context/PATTERNS.md
Due: none

refactor: Address PR #1482 review feedback (score 9/10)
  .claude/context/PATTERNS.md
Due: none

fix: Remove legacy debug print statements per Zero-BS philosophy
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add diagnostic instrumentation for auto mode bug (Phase 1 of #1425)
  DELIVERABLES.txt
  DIAGNOSTIC_AND_FIX_STRATEGY.md
  EXECUTIVE_SUMMARY.md
  FIX_DESIGNS.md
  INSTRUMENTATION_COMPLETE.md
  INSTRUMENTATION_REFERENCE.md
  MONITORING_AND_REGRESSION_PREVENTION.md
  PHASE_1_SUMMARY.md
  QUICK_START_DIAGNOSTIC.md
  README.md
  TEST_PLAN.md
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add session classification implementation to power steering
  .claude/tools/amplihack/hooks/power_steering_checker.py
Due: check-imports, check-dependencies

feat: Add PM Architect Claude Code skill (replaces #1478-#1486) (#1501)
  .claude/commands/amplihack/ultrathink.md
  .claude/skills/pm-architect/EXAMPLES.md
  .claude/skills/pm-architect/README.md
  .claude/skills/pm-architect/REFERENCE.md
  .claude/skills/pm-architect/SKILL.md
  .claude/skills/pm-architect/scripts/README.md
  .claude/skills/pm-architect/scripts/analyze_backlog.py
  .claude/skills/pm-architect/scripts/coordinate.py
  .claude/skills/pm-architect/scripts/create_delegation.py
  .claude/skills/pm-architect/scripts/manage_state.py
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: check-imports, check-dependencies

feat: Simplify task classification with contextual guidance
  .claude/agents/amplihack/core/builder.md
  .claude/scenarios/README.md
  CLAUDE.md
Due: none

fix: Simplify Claude CLI recovery logic and add comprehensive tests
  src/amplihack/utils/claude_cli.py
  tests/unit/test_claude_cli_recovery.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add MkDocs documentation website with auto-deployment
  .github/workflows/docs.yml
  .gitignore
  Makefile
  docs/README.md
  docs/index.md
  docs/javascripts/extra.js
  docs/stylesheets/extra.css
  mkdocs.yml
  requirements-docs.txt
Due: none
