Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

fix: Add error logging to launcher exception handlers
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add input validation to test callback functions
  tests/test_session_start_integration.py
  tests/test_xpia_defense.py
Due: check-imports, check-dependencies

fix: Add logging to silent exception handlers in tests
  tests/test_agent_memory_comprehensive.py
  tests/test_loop_prevention_e2e.py
Due: check-imports, check-dependencies

fix: Add type hints to nested functions in launcher
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Extract magic number timeouts to named constants
  src/amplihack/neo4j/detector.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Handle blarify CLI interface mismatch gracefully
  src/amplihack/memory/neo4j/code_graph.py
  src/amplihack/memory/neo4j/startup_wizard.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add progress indicator for codebase indexing during startup
  src/amplihack/memory/neo4j/code_graph.py
  src/amplihack/memory/neo4j/startup_wizard.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add exception logging, docstrings, validation, and __all__ declarations (27 fixes)
  scripts/memory_test_harness.py
  scripts/test_agent_memory_integration.py
  src/amplihack/__init__.py
  src/amplihack/bundle_generator/builder.py
  src/amplihack/bundle_generator/extractor.py
  src/amplihack/bundle_generator/parser.py
  src/amplihack/docker/manager.py
  src/amplihack/launcher/core.py
  src/amplihack/launcher/detector.py
  src/amplihack/memory/neo4j/diagnostics.py
  src/amplihack/memory/neo4j/startup_wizard.py
  tests/integration/memory/neo4j/conftest.py
  tests/integration/memory/neo4j/test_container_lifecycle.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Apply 106 code quality improvements - imports, unused vars, bare excepts
  QUALITY_FIXES_SUMMARY.md
  scripts/test_retrieval_isolation.py
  scripts/test_retrieval_isolation_simple.py
  src/amplihack/docker/manager.py
  src/amplihack/launcher/core.py
  src/amplihack/launcher/detector.py
  src/amplihack/memory/neo4j/extraction_patterns.py
  src/amplihack/neo4j/manager.py
  tests/integration/memory/neo4j/test_container_lifecycle.py
  tests/unit/memory/neo4j/test_port_manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Auto-fix F841, F401, E722 violations
  scripts/apply_50_fixes_automated.py
  scripts/apply_all_50_fixes.py
  scripts/apply_fixes_batch.py
  scripts/create_50_specific_fixes.py
  scripts/identify_50_fixes.py
  src/amplihack/proxy/refactor_proxy.py
  tests/integration/memory/neo4j/test_container_lifecycle.py
  tests/unit/memory/neo4j/test_lifecycle_port_resolution.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: All remaining ruff violations
  scripts/apply_50_fixes_automated.py
  scripts/apply_all_50_fixes.py
  scripts/apply_fixes_batch.py
  scripts/create_50_specific_fixes.py
  scripts/identify_50_fixes.py
  src/amplihack/proxy/refactor_proxy.py
  tests/integration/memory/neo4j/test_container_lifecycle.py
  tests/unit/memory/neo4j/test_lifecycle_port_resolution.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Enable import sorting (I001) in pre-commit hooks
  .pre-commit-config.yaml
Due: none

Consolidate Neo4j startup dialogs into single unified flow
  src/amplihack/memory/neo4j/container_selection.py
  src/amplihack/memory/neo4j/unified_startup_dialog.py
  src/amplihack/neo4j/manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add comprehensive PHILOSOPHY.md compliance audit report
  PHILOSOPHY_COMPLIANCE_AUDIT.md
Due: none

fix: Wait for Neo4j container readiness before connection attempts
  src/amplihack/memory/neo4j/startup_wizard.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Suppress Neo4j unknown label/property warnings on first startup
  src/amplihack/memory/neo4j/connector.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove fake data violations in update-agent (PHILOSOPHY.md compliance)
  src/amplihack/goal_agent_generator/tests/test_update_agent.py
  src/amplihack/goal_agent_generator/update_agent/changeset_generator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Update audit report - 100% PHILOSOPHY.md compliance achieved
  PHILOSOPHY_COMPLIANCE_AUDIT.md
Due: none

docs: Multi-agent review findings and philosophy enforcement proposal
  EARLY_PHILOSOPHY_ENFORCEMENT_PROPOSAL.md
  MULTI_AGENT_REVIEW_SYNTHESIS.md
Due: none

fix: Address PR review feedback for #1301
  src/amplihack/memory/neo4j/unified_startup_dialog.py
  src/amplihack/neo4j/connection_tracker.py
  src/amplihack/neo4j/manager.py
  src/amplihack/neo4j/shutdown_coordinator.py
  tests/memory/neo4j/test_unified_startup_dialog.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Dogfooding evaluation and simplified philosophy enforcement
  DOGFOODING_EVALUATION.md
  SIMPLE_PHILOSOPHY_ENFORCEMENT.md
Due: none

docs: Complete session summary with all findings and recommendations
  SESSION_SUMMARY.md
Due: none

fix: Add GitGuardian ignore comment for test fixture passwords
  tests/memory/neo4j/test_unified_startup_dialog.py
Due: check-imports, check-dependencies

fix: Use obviously fake password in test fixtures to avoid GitGuardian false positive
  tests/memory/neo4j/test_unified_startup_dialog.py
Due: check-imports, check-dependencies

fix: Update test assertion for new fake password
  tests/memory/neo4j/test_unified_startup_dialog.py
Due: check-imports, check-dependencies

fix: Replace all test password fixtures to avoid GitGuardian false positives
  tests/memory/neo4j/test_unified_startup_dialog.py
Due: check-imports, check-dependencies

fix: Critical security vulnerabilities + standalone execution
  .agent_state.json
  CRITICAL_FIXES_SUMMARY.md
  SECURITY_FIXES_REPORT.md
  src/amplihack/goal_agent_generator/packager.py
  src/amplihack/goal_agent_generator/phase4/execution_database.py
  src/amplihack/goal_agent_generator/tests/phase4/test_execution_database.py
  src/amplihack/goal_agent_generator/tests/test_update_agent.py
  src/amplihack/goal_agent_generator/update_agent/backup_manager.py
  src/amplihack/goal_agent_generator/update_agent/selective_updater.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Final comprehensive summary of complete implementation journey
  FINAL_COMPREHENSIVE_SUMMARY.md
Due: none

fix: Add test password hash to GitGuardian ignored_matches
  .gitguardian.yaml
Due: none

fix: Use correct SHA256 hash for test password
  .gitguardian.yaml
Due: none

fix: Handle PermissionError when checking path existence in namespace installer
  src/amplihack/installation/namespace_installer.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove accidental submodule entries wave16-dedup and wave17-dedup
  .gitignore
Due: none

docs: PR comparison validation - #1295 wins
  PR_COMPARISON_VALIDATION.md
Due: none

docs: Add comprehensive user guide and presentation for goal agent generator
  README.md
  docs/GOAL_AGENT_GENERATOR_GUIDE.md
  docs/GOAL_AGENT_GENERATOR_PRESENTATION.md
Due: none

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$
