Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$

feat: enhance reflection prompt to distinguish amplihack vs project issues
  .claude/tools/amplihack/hooks/claude_reflection.py
Due: check-imports, check-dependencies

feat: Add automatic mermaid diagram generation templates for system investigations (#1120)
  .claude/agents/amplihack/specialized/analyzer.md
  .claude/templates/diagrams/COMPONENT_RELATIONSHIPS.md
  .claude/templates/diagrams/DATA_FLOW.md
  .claude/templates/diagrams/EXECUTION_SEQUENCE.md
  .claude/templates/diagrams/HOOK_SYSTEM_FLOW.md
  .claude/templates/diagrams/PREFERENCE_SYSTEM.md
  .claude/templates/diagrams/README.md
Due: none

fix: Auto-fix all 43 ruff import sorting errors (#1145)
  .claude/tools/amplihack/orchestration/EXAMPLE_USAGE.py
  .claude/tools/amplihack/orchestration/claude_process.py
  .claude/tools/amplihack/orchestration/patterns/PATTERN_EXAMPLES.py
  .claude/tools/amplihack/orchestration/patterns/__init__.py
  .claude/tools/amplihack/orchestration/patterns/cascade.py
  .claude/tools/amplihack/orchestration/patterns/debate.py
  .claude/tools/amplihack/orchestration/patterns/expert_panel.py
  .claude/tools/amplihack/orchestration/patterns/n_version.py
  scripts/optimization_benchmark.py
  src/amplihack/cli.py
  src/amplihack/launcher/auto_mode.py
  src/amplihack/launcher/auto_mode_ui.py
  src/amplihack/launcher/fork_manager.py
  tests/agentic/test_expert_panel_outside_in.py
  tests/conftest.py
  tests/e2e/test_stop_hook_error_recovery.py
  tests/e2e/test_stop_hook_performance.py
  tests/integration/test_auto_mode_append_integration.py
  tests/integration/test_auto_mode_ui_integration.py
  tests/integration/test_expert_panel_integration.py
  tests/integration/test_stop_hook_lock_integration.py
  tests/integration/test_stop_hook_logging.py
  tests/integration/test_stop_hook_subprocess.py
  tests/proxy/test_message_sanitization.py
  tests/test_codex_launcher.py
  tests/unit/test_append_handler.py
  tests/unit/test_expert_panel.py
  tests/unit/test_orchestration_smoke.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add investigation task complexity estimator for ultrathink (issue #1108)
  .claude/commands/amplihack/ultrathink.md
  Specs/complexity_estimator_architecture.md
  Specs/complexity_estimator_tests.md
Due: none

refactor: extract constant and separate prompts from code
  .claude/tools/amplihack/hooks/claude_reflection.py
  .claude/tools/amplihack/hooks/templates/reflection_prompt.txt
Due: check-imports, check-dependencies

fix: remove fallback template - fail fast on missing config
  .claude/tools/amplihack/hooks/claude_reflection.py
Due: check-imports, check-dependencies

feat: enhance reflection to distinguish amplihack vs project issues (#1158)
  .claude/tools/amplihack/hooks/claude_reflection.py
  .claude/tools/amplihack/hooks/templates/reflection_prompt.txt
Due: check-imports, check-dependencies

refactor: implement hybrid documentation architecture for Investigation Workflow
  CLAUDE.md
Due: none

feat: Auto-generate documentation after investigation tasks
  .claude/agents/amplihack/specialized/knowledge-archaeologist.md
  .claude/docs/ARCHITECTURE_EXAMPLE.md
  .claude/docs/INVESTIGATION_EXAMPLE.md
  .claude/docs/README.md
  .claude/templates/FEEDBACK_SUMMARY.md
  .claude/templates/README.md
  .claude/templates/architecture-doc-template.md
  .claude/templates/investigation-doc-template.md
  .claude/workflow/INVESTIGATION_WORKFLOW.md
  CLAUDE.md
Due: none

feat: Add comprehensive investigation summary template with edge cases (#1124)
  .claude/templates/INVESTIGATION_SUMMARY_TEMPLATE.md
Due: none

feat: Add documentation discovery step to analyzer agent (#1125)
  .claude/agents/amplihack/specialized/analyzer.md
  .claude/context/PATTERNS.md
  TEST_PLAN.md
Due: none

feat: Add workflow phase awareness through prompting instead of code
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

feat: Enhance investigation workflow and add auto-detection to ultrathink
  .claude/commands/amplihack/ultrathink.md
  .claude/workflow/INVESTIGATION_WORKFLOW.md
Due: none

Revert "feat: Add workflow phase awareness through prompting instead of code"
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

feat: Add step-based TodoWrite guidance for workflow execution
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

feat: Add investigation-first pattern guidance for hybrid workflows
  .claude/commands/amplihack/ultrathink.md
  .claude/workflow/DEFAULT_WORKFLOW.md
  .claude/workflow/INVESTIGATION_WORKFLOW.md
Due: none

feat: Add optional workstream prefix for parallel workflows
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

feat: Add step-based TodoWrite guidance for workflow execution (#1169)
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

fix: Add missing pytest-asyncio configuration to resolve 245+ async test failures (#1128)
  pyproject.toml
Due: none

fix: Address reviewer feedback from PR #1167
  .claude/commands/amplihack/ultrathink.md
  .claude/workflow/INVESTIGATION_WORKFLOW.md
Due: none

feat: Enhance investigation workflow and add auto-detection to ultrathink (#1095) (#1167)
  .claude/commands/amplihack/ultrathink.md
  .claude/workflow/DEFAULT_WORKFLOW.md
  .claude/workflow/INVESTIGATION_WORKFLOW.md
Due: none

chore: Remove transient documentation files from project root
  DESIGN_SPECIFICATION.md
  TEST_COVERAGE.md
  TEST_PLAN.md
Due: none

fix: Remove bypass logic and use unified LiteLLM routing (Issue #829 Phase 2) (#1129)
  src/amplihack/proxy/integrated_proxy.py
  src/amplihack/utils/__init__.py
  src/amplihack/utils/defensive.py
  tests/test_defensive_basic.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: Simplify anti-sycophancy to use user preferences instead of code
  .claude/context/USER_PREFERENCES.md
  .claude/tools/amplihack/hooks/claude_reflection.py
  .claude/tools/amplihack/hooks/session_start.py
  src/amplihack/utils/defensive.py
  tests/test_defensive_basic.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add anti-sycophancy guidelines to agents and user preferences
  .claude/agents/amplihack/core/api-designer.md
  .claude/agents/amplihack/core/architect.md
  .claude/agents/amplihack/core/builder.md
  .claude/agents/amplihack/core/reviewer.md
  .claude/agents/amplihack/core/tester.md
  .claude/context/USER_PREFERENCES.md
Due: none

feat: Add anti-sycophancy guidelines to agents and user preferences (#1172)
  .claude/agents/amplihack/core/api-designer.md
  .claude/agents/amplihack/core/architect.md
  .claude/agents/amplihack/core/builder.md
  .claude/agents/amplihack/core/reviewer.md
  .claude/agents/amplihack/core/tester.md
  .claude/context/USER_PREFERENCES.md
Due: none

feat: Add Neo4j container detection and credential synchronization (Issue #1170)
  src/amplihack/launcher/core.py
  src/amplihack/neo4j/README.md
  src/amplihack/neo4j/__init__.py
  src/amplihack/neo4j/credential_sync.py
  src/amplihack/neo4j/detector.py
  src/amplihack/neo4j/manager.py
  tests/neo4j/__init__.py
  tests/neo4j/test_neo4j_container_detection.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add autonomy guidelines to reduce excessive question-asking
  .claude/context/USER_PREFERENCES.md
Due: none

chore: Remove temporary analysis and documentation artifacts
  AGENTS.md
  BLARIFY_INTEGRATION_COMPLETE.md
  CHANGES_SUMMARY.md
  CLEANUP_REPORT.md
  CLEANUP_SUMMARY.txt
  DEPENDENCY_INSTALLER_SUMMARY.md
  DESIGN_SPECIFICATION.md
  EXTERNAL_KNOWLEDGE_IMPLEMENTATION.md
  HANDOFF_REPORT.md
  MEMORY_INTEGRATION_COMPLETE.md
  NEO4J_IMPLEMENTATION_SUMMARY.md
  NEO4J_SESSION_SUMMARY.md
  RUN_TEST.md
  TEST_COVERAGE.md
  TEST_PLAN.md
  TUI_PR_INSTRUCTIONS.md
  VERIFICATION.md
  src/amplihack/neo4j/README.md
Due: none

feat: add automatic version bumping with CalVer on every commit to main
  .claude/docs/INVESTIGATION_UVX_VERSION_RESOLUTION.md
  .github/AUTO_VERSIONING.md
  .github/scripts/bump_version.py
  .github/workflows/auto-version-and-publish.yml
  .pre-commit-config.yaml
Due: check-imports, check-dependencies

simplify
  .claude/context/USER_PREFERENCES.md
Due: none

feat: Add autonomy guidelines to reduce excessive question-asking (#1178)
  .claude/context/USER_PREFERENCES.md
Due: none
