Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$

feat: Add comprehensive Azure administration skill
  worktrees/.claude/skills/azure-admin/README.md
  worktrees/.claude/skills/azure-admin/SKILL.md
  worktrees/.claude/skills/azure-admin/docs/cli-patterns.md
  worktrees/.claude/skills/azure-admin/docs/cost-optimization.md
  worktrees/.claude/skills/azure-admin/docs/devops-automation.md
  worktrees/.claude/skills/azure-admin/docs/mcp-integration.md
  worktrees/.claude/skills/azure-admin/docs/resource-management.md
  worktrees/.claude/skills/azure-admin/docs/role-assignments.md
  worktrees/.claude/skills/azure-admin/docs/troubleshooting.md
  worktrees/.claude/skills/azure-admin/docs/user-management.md
  worktrees/.claude/skills/azure-admin/examples/bulk-user-onboarding.md
  worktrees/.claude/skills/azure-admin/examples/environment-setup.md
  worktrees/.claude/skills/azure-admin/examples/mcp-workflow.md
  worktrees/.claude/skills/azure-admin/examples/role-audit.md
  worktrees/.claude/skills/azure-admin/references/api-references.md
  worktrees/.claude/skills/azure-admin/references/az-104-guide.md
  worktrees/.claude/skills/azure-admin/references/microsoft-learn.md
Due: none

docs: Add BENCHMARKING.md link
  README.md
Due: none

fix: Add --no-bastion flag per azlin PR #384
  .claude/tools/amplihack/remote/orchestrator.py
Due: check-imports, check-dependencies

fix: Address all review feedback with simplified recovery logic
  src/amplihack/utils/claude_cli.py
  tests/unit/test_claude_cli_recovery.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: Strip MkDocs to essentials per philosophy review
  docs/javascripts/extra.js
  docs/stylesheets/extra.css
  mkdocs.yml
Due: none

feat: Integrate Microsoft Amplifier patterns into PM Architect
  .claude/context/PM_PATTERNS.md
  .claude/skills/pm-architect/SKILL.md
  .claude/skills/pm-architect/scripts/batch_process.py
  .claude/skills/pm-architect/scripts/coordinate.py
  .claude/skills/pm-architect/scripts/search_decisions.py
  .claude/skills/pm-architect/scripts/session_state.py
Due: check-imports, check-dependencies

feat: Decompose pm-architect into 4 focused sub-skills + orchestrator
  .claude/skills/backlog-curator/scripts/analyze_backlog.py
  .claude/skills/backlog-curator/skill.md
  .claude/skills/pm-architect/SKILL.md
  .claude/skills/pm-architect/skill.md
  .claude/skills/roadmap-strategist/skill.md
  .claude/skills/work-delegator/scripts/create_delegation.py
  .claude/skills/work-delegator/skill.md
  .claude/skills/workstream-coordinator/scripts/coordinate.py
  .claude/skills/workstream-coordinator/skill.md
Due: check-imports, check-dependencies

feat: Add Profile Management System for Amplihack (#1512)
  .claude/commands/amplihack/profile.md
  .claude/profiles/all.yaml
  .claude/profiles/coding.yaml
  .claude/profiles/research.yaml
  .claude/tools/amplihack/profile_management/PHASE2_SUMMARY.md
  .claude/tools/amplihack/profile_management/__init__.py
  .claude/tools/amplihack/profile_management/cli.py
  .claude/tools/amplihack/profile_management/config.py
  .claude/tools/amplihack/profile_management/discovery.py
  .claude/tools/amplihack/profile_management/filter.py
  .claude/tools/amplihack/profile_management/index.py
  .claude/tools/amplihack/profile_management/loader.py
  .claude/tools/amplihack/profile_management/models.py
  .claude/tools/amplihack/profile_management/parser.py
  .claude/tools/amplihack/profile_management/tests/test_cli.py
  .claude/tools/amplihack/profile_management/tests/test_config.py
  .claude/tools/amplihack/profile_management/tests/test_discovery.py
  .claude/tools/amplihack/profile_management/tests/test_end_to_end.py
  .claude/tools/amplihack/profile_management/tests/test_filter.py
  .claude/tools/amplihack/profile_management/tests/test_index.py
Due: check-imports, check-dependencies

fix: Address critical security issues from code review
  .claude/tools/amplihack/profile_management/README.md
  .claude/tools/amplihack/profile_management/filter.py
  .claude/tools/amplihack/profile_management/loader.py
  .claude/tools/amplihack/profile_management/models.py
  .claude/tools/amplihack/profile_management/parser.py
Due: check-imports, check-dependencies

chore: Final cleanup after profile management implementation
  .claude/tools/amplihack/profile_management/PHASE2_SUMMARY.md
Due: none

refactor: Improve philosophy compliance with ruthless simplification
  .claude/tools/amplihack/profile_management/config.py
  .claude/tools/amplihack/profile_management/discovery.py
  .claude/tools/amplihack/profile_management/filter.py
  .claude/tools/amplihack/profile_management/index.py
  .claude/tools/amplihack/profile_management/models.py
  .claude/tools/amplihack/profile_management/parser.py
Due: check-imports, check-dependencies

refactor: Improve modular architecture and zero-BS compliance
  .claude/tools/amplihack/profile_management/__init__.py
  .claude/tools/amplihack/profile_management/cli.py
  .claude/tools/amplihack/profile_management/filter.py
  .claude/tools/amplihack/profile_management/index.py
  .claude/tools/amplihack/profile_management/tests/test_end_to_end.py
  .claude/tools/amplihack/profile_management/tests/test_filter.py
  PHILOSOPHY_DEEP_DIVE_ANALYSIS.md
Due: check-imports, check-dependencies

docs: Add transcripts investigation findings to DISCOVERIES.md
  .claude/context/DISCOVERIES.md
Due: none

fix: Remove stub function from batch_process.py - Zero-BS compliance
  .claude/skills/pm-architect/scripts/batch_process.py
Due: check-imports, check-dependencies

feat: Add progress visibility to power-steering execution
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/power_steering_progress.py
  .claude/tools/amplihack/test_integration.py
  .claude/tools/amplihack/test_progress.py
Due: check-imports, check-dependencies

docs: Add transcripts investigation findings to DISCOVERIES.md (#1518)
  .claude/context/DISCOVERIES.md
Due: none

feat: Add Profile Management System for Amplihack (#1516)
  .claude/commands/amplihack/profile.md
  .claude/profiles/all.yaml
  .claude/profiles/coding.yaml
  .claude/profiles/research.yaml
  .claude/tools/amplihack/profile_management/README.md
  .claude/tools/amplihack/profile_management/__init__.py
  .claude/tools/amplihack/profile_management/cli.py
  .claude/tools/amplihack/profile_management/config.py
  .claude/tools/amplihack/profile_management/discovery.py
  .claude/tools/amplihack/profile_management/filter.py
  .claude/tools/amplihack/profile_management/index.py
  .claude/tools/amplihack/profile_management/loader.py
  .claude/tools/amplihack/profile_management/models.py
  .claude/tools/amplihack/profile_management/parser.py
  .claude/tools/amplihack/profile_management/tests/test_cli.py
  .claude/tools/amplihack/profile_management/tests/test_config.py
  .claude/tools/amplihack/profile_management/tests/test_discovery.py
  .claude/tools/amplihack/profile_management/tests/test_end_to_end.py
  .claude/tools/amplihack/profile_management/tests/test_filter.py
  .claude/tools/amplihack/profile_management/tests/test_index.py
  PHILOSOPHY_DEEP_DIVE_ANALYSIS.md
Due: check-imports, check-dependencies

Integrate Microsoft Amplifier Patterns into PM Architect (#1513)
  .claude/context/PM_PATTERNS.md
  .claude/skills/pm-architect/SKILL.md
  .claude/skills/pm-architect/scripts/batch_process.py
  .claude/skills/pm-architect/scripts/coordinate.py
  .claude/skills/pm-architect/scripts/search_decisions.py
  .claude/skills/pm-architect/scripts/session_state.py
Due: check-imports, check-dependencies

refactor: Remove pirate mode transformation per user feedback
  .claude/tools/amplihack/power_steering_progress.py
  .claude/tools/amplihack/test_integration.py
  .claude/tools/amplihack/test_progress.py
Due: check-imports, check-dependencies

feat: Decompose pm-architect into 4 focused sub-skills + orchestrator (#1515)
  .claude/skills/backlog-curator/scripts/analyze_backlog.py
  .claude/skills/backlog-curator/skill.md
  .claude/skills/pm-architect/SKILL.md
  .claude/skills/pm-architect/skill.md
  .claude/skills/roadmap-strategist/skill.md
  .claude/skills/work-delegator/scripts/create_delegation.py
  .claude/skills/work-delegator/skill.md
  .claude/skills/workstream-coordinator/scripts/coordinate.py
  .claude/skills/workstream-coordinator/skill.md
Due: check-imports, check-dependencies

feat: Add progress visibility to power-steering execution (#1525)
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/power_steering_progress.py
  .claude/tools/amplihack/test_integration.py
  .claude/tools/amplihack/test_progress.py
Due: check-imports, check-dependencies

feat: Add power steering counter to statusline
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/statusline.sh
Due: check-imports, check-dependencies

feat: Add power-steering counter to statusline
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/statusline.sh
Due: check-imports, check-dependencies

docs: Add remote execution to README with documentation links
  README.md
Due: none

feat: Add power-steering counter to statusline (#1528)
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/statusline.sh
Due: check-imports, check-dependencies

Add PM Architect default configuration and skill definition
  .claude/skills/pm-architect/README.md
  .claude/skills/pm-architect/defaults.yaml
Due: none

fix: Auto-recover from corrupted/non-executable Claude CLI binary (#1462)
  src/amplihack/utils/claude_cli.py
  tests/unit/test_claude_cli_recovery.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add PM Architect default configuration and skill definition (#1506)
  .claude/skills/pm-architect/README.md
  .claude/skills/pm-architect/defaults.yaml
Due: none

Add trace log analysis tool for user preference extraction
  .claude/scenarios/analyze-trace-logs/HOW_TO_CREATE_YOUR_OWN.md
  .claude/scenarios/analyze-trace-logs/README.md
  .claude/scenarios/analyze-trace-logs/examples/basic_usage.py
  .claude/scenarios/analyze-trace-logs/tests/test_analyzer.py
  .claude/scenarios/analyze-trace-logs/tool.py
  .claude/skills/learning-path-builder.md
  CLAUDE.md
  Makefile
Due: check-imports, check-dependencies

Add trace log analysis tool for user preference extraction (#1507)
  .claude/scenarios/analyze-trace-logs/HOW_TO_CREATE_YOUR_OWN.md
  .claude/scenarios/analyze-trace-logs/README.md
  .claude/scenarios/analyze-trace-logs/examples/basic_usage.py
  .claude/scenarios/analyze-trace-logs/tests/test_analyzer.py
  .claude/scenarios/analyze-trace-logs/tool.py
  .claude/skills/learning-path-builder.md
  CLAUDE.md
  Makefile
Due: check-imports, check-dependencies

feat: Enhance pm-pr-triage with sophisticated validation
  .github/scripts/pr_triage.py
  .github/workflows/pm-pr-triage.yml
Due: check-imports, check-dependencies

feat: Add PM Architect GitHub Actions informational workflows
  .github/workflows/PM_WORKFLOWS_SETUP.md
  .github/workflows/pm-daily-status.yml
  .github/workflows/pm-pr-triage.yml
  .github/workflows/pm-roadmap-review.yml
Due: none

fix: Remove philosophy violations in GitHub Actions workflows
  .github/scripts/pm_daily_status.py
  .github/scripts/pm_roadmap_review.py
  .github/scripts/pr_triage.py
  .github/scripts/pr_triage/__init__.py
  .github/scripts/pr_triage/analyzers.py
  .github/scripts/pr_triage/claude_runner.py
  .github/scripts/pr_triage/formatters.py
  .github/scripts/pr_triage/github_client.py
  .github/scripts/pr_triage/report_generator.py
  .github/scripts/pr_triage/tests/__init__.py
  .github/scripts/pr_triage/tests/test_analyzers.py
  .github/scripts/pr_triage/tests/test_formatters.py
  .github/scripts/pr_triage/tests/test_report_generator.py
  .github/scripts/pr_triage/validator.py
  .github/scripts/pr_triage_main.py
  .github/workflows/pm-daily-status.yml
  .github/workflows/pm-roadmap-review.yml
Due: check-imports, check-dependencies

feat: Add PM Architect GitHub Actions informational workflows (#1514)
  .github/scripts/pm_daily_status.py
  .github/scripts/pm_roadmap_review.py
  .github/scripts/pr_triage/__init__.py
  .github/scripts/pr_triage/analyzers.py
  .github/scripts/pr_triage/claude_runner.py
  .github/scripts/pr_triage/formatters.py
  .github/scripts/pr_triage/github_client.py
  .github/scripts/pr_triage/report_generator.py
  .github/scripts/pr_triage/tests/__init__.py
  .github/scripts/pr_triage/tests/test_analyzers.py
  .github/scripts/pr_triage/tests/test_formatters.py
  .github/scripts/pr_triage/tests/test_report_generator.py
  .github/scripts/pr_triage/validator.py
  .github/scripts/pr_triage_main.py
  .github/workflows/PM_WORKFLOWS_SETUP.md
  .github/workflows/pm-daily-status.yml
  .github/workflows/pm-pr-triage.yml
  .github/workflows/pm-roadmap-review.yml
Due: check-imports, check-dependencies

feat: Implement draft-first PR pattern in workflow
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

feat: Integrate Claude Agent SDK into PM Architect workflows
  .claude/skills/pm-architect/scripts/README.md
  .claude/skills/pm-architect/scripts/generate_daily_status.py
  .claude/skills/pm-architect/scripts/generate_roadmap_review.py
  .claude/skills/pm-architect/scripts/triage_pr.py
Due: check-imports, check-dependencies

feat: Implement draft-first PR pattern in workflow (#1521)
  .claude/skills/pm-architect/scripts/README.md
  .claude/skills/pm-architect/scripts/generate_daily_status.py
  .claude/skills/pm-architect/scripts/generate_roadmap_review.py
  .claude/skills/pm-architect/scripts/triage_pr.py
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: check-imports, check-dependencies

test: Add comprehensive test suite for PM Architect scripts
  .claude/skills/pm-architect/scripts/pytest.ini
  .claude/skills/pm-architect/scripts/tests/__init__.py
  .claude/skills/pm-architect/scripts/tests/conftest.py
  .claude/skills/pm-architect/scripts/tests/requirements-test.txt
  .claude/skills/pm-architect/scripts/tests/test_delegate_response.py
  .claude/skills/pm-architect/scripts/tests/test_generate_daily_status.py
  .claude/skills/pm-architect/scripts/tests/test_generate_roadmap_review.py
  .claude/skills/pm-architect/scripts/tests/test_triage_pr.py
  PHILOSOPHY_VIOLATION_ANALYSIS.md
  PR_SPLIT_RECOMMENDATION.md
Due: check-imports, check-dependencies

feat: Add PM label-triggered delegation workflow
  .claude/skills/pm-architect/scripts/delegate_response.py
  .github/workflows/pm-label-delegate.yml
  TEST_PLAN.md
Due: check-imports, check-dependencies
