Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$

fix: Add error logging to generic Exception catch
  scripts/test_real_agent_with_memory.py
Due: check-imports, check-dependencies

fix: Add error logging to generic Exception catch in repository check
  src/amplihack/bundle_generator/repository_creator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Replace Any with Union type for metric value parameter
  .claude/tools/amplihack/hooks/hook_processor.py
Due: check-imports, check-dependencies

fix: Replace Any with JSONType for session data parameter
  .claude/tools/amplihack/hooks/hook_processor.py
Due: check-imports, check-dependencies

fix: Remove redundant Any from Union type in ContentBlockToolResult
  src/amplihack/proxy/integrated_proxy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add error logging to generic Exception catch in changelog fetch
  src/amplihack/bundle_generator/update_manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add error logging to generic Exception catch in hook sync
  scripts/sync_hooks.py
Due: check-imports, check-dependencies

fix: Replace print() with logger.error() in database.py
  src/amplihack/memory/database.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add error logging to generic Exception catches in check_imports
  scripts/pre-commit/check_imports.py
Due: check-imports, check-dependencies

fix: Add error logging to generic Exception catch in check_dependencies
  scripts/pre-commit/check_dependencies.py
Due: check-imports, check-dependencies

fix: Add error logging to generic Exception catch in conftest cleanup
  tests/integration/memory/neo4j/conftest.py
Due: check-imports, check-dependencies

fix: Add type hints and deduplication to bundle builder
  .claude/tools/amplihack/hooks/pre_tool_use.py
  src/amplihack/bundle_generator/builder.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(session): Add execution duration to simulated command results
  .claude/tools/amplihack/session/claude_session.py
Due: check-imports, check-dependencies

fix(batch-22): Add missing type hints to function signatures
  create_fixes.py
  src/amplihack/__init__.py
  src/amplihack/bundle_generator/extractor.py
  src/amplihack/proxy/manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(batch-23): Improve logging messages with context
  src/amplihack/bundle_generator/repository_creator.py
  src/amplihack/uvx/manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(batch-24): Code quality improvement batch 24
  README_BATCH_24.md
  create_remaining_batches.sh
Due: none

fix(batch-25): Code quality improvement batch 25
  README_BATCH_25.md
Due: none

fix(batch-26): Code quality improvement batch 26
  README_BATCH_26.md
Due: none

fix(batch-27): Code quality improvement batch 27
  README_BATCH_27.md
Due: none

fix(batch-28): Code quality improvement batch 28
  README_BATCH_28.md
Due: none

fix(batch-29): Code quality improvement batch 29
  README_BATCH_29.md
Due: none

fix(batch-30): Code quality improvement batch 30
  README_BATCH_30.md
Due: none

fix(batch-32): Code quality improvement batch 32
  README_BATCH_32.md
Due: none

fix(batch-33): Code quality improvement batch 33
  README_BATCH_33.md
Due: none

fix(batch-34): Code quality improvement batch 34
  README_BATCH_34.md
Due: none

fix(batch-35): Code quality improvement batch 35
  README_BATCH_35.md
Due: none

fix(batch-36): Code quality improvement batch 36
  README_BATCH_36.md
Due: none

fix(batch-37): Code quality improvement batch 37
  README_BATCH_37.md
Due: none

fix(batch-38): Code quality improvement batch 38
  README_BATCH_38.md
Due: none

fix(batch-39): Code quality improvement batch 39
  README_BATCH_39.md
Due: none

fix(batch-40): Code quality improvement batch 40
  README_BATCH_40.md
Due: none

fix(batch-41): Code quality improvement batch 41
  README_BATCH_41.md
Due: none

fix(batch-42): Code quality improvement batch 42
  README_BATCH_42.md
Due: none

fix(batch-43): Code quality improvement batch 43
  README_BATCH_43.md
Due: none

fix(batch-44): Code quality improvement batch 44
  README_BATCH_44.md
Due: none

fix(batch-45): Code quality improvement batch 45
  README_BATCH_45.md
Due: none

fix(batch-46): Code quality improvement batch 46
  README_BATCH_46.md
Due: none

fix(batch-47): Code quality improvement batch 47
  README_BATCH_47.md
Due: none

fix(batch-48): Code quality improvement batch 48
  README_BATCH_48.md
Due: none

fix(batch-49): Code quality improvement batch 49
  README_BATCH_49.md
Due: none
