Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

fix(power-steering): Address review feedback from PR #1751
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_checker.py
Due: check-imports, check-dependencies

fix(power-steering): Fix infinite loop and messaging bugs (Issue #1744)
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_checker.py
Due: check-imports, check-dependencies

fix(power-steering): Fix infinite loop and messaging bugs (Issue #1744) (#1751)
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_checker.py
Due: check-imports, check-dependencies

feat: CLAUDE.md preservation during UVX deployment (Issue #1746) (#1748)
  CLAUDE.md
  docs/features/claude-md-preservation.md
  src/amplihack/__init__.py
  src/amplihack/cli.py
  src/amplihack/utils/claude_md_preserver.py
  tests/unit/test_claude_md_preserver.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Exclude system metadata from git conflict detection (Issue #1765)
  .claude/.version
  .claude/context/DISCOVERIES.md
  .claude/context/PATTERNS.md
  src/amplihack/safety/git_conflict_detector.py
  tests/safety/test_git_conflict_detector.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Resolve merge conflict in stop.py (pragma comment)
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

fix: Add scripts to resolve merge conflicts across 14 branches
  fix_merge_conflicts.sh
  push_fixed_branches.sh
Due: none

fix: Address code review feedback (Priority 1 & 2 issues)
  branches.txt
  fix_conflict.py
  test_uvx_install.sh
Due: check-imports, check-dependencies

refactor: Address philosophy compliance recommendations
  fix_conflict.py
  push_fixed_branches.sh
Due: check-imports, check-dependencies

fix: Exclude system metadata from git conflict detection (Issue #1765) (#1767)
  .claude/.version
  .claude/context/DISCOVERIES.md
  .claude/context/PATTERNS.md
  src/amplihack/safety/git_conflict_detector.py
  tests/safety/test_git_conflict_detector.py
  uv.lock
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Parallel Task Orchestrator for large-scale migrations (Issue #1783)
  .claude/commands/amplihack/parallel-orchestrate.md
  .claude/skills/parallel-task-orchestrator/SKILL.md
  .claude/skills/parallel-task-orchestrator/demo_orchestrator.py
  .claude/skills/parallel-task-orchestrator/parallel_task_orchestrator/__init__.py
  .claude/skills/parallel-task-orchestrator/parallel_task_orchestrator/core/__init__.py
  .claude/skills/parallel-task-orchestrator/parallel_task_orchestrator/core/agent_deployer.py
  .claude/skills/parallel-task-orchestrator/parallel_task_orchestrator/core/issue_parser.py
  .claude/skills/parallel-task-orchestrator/parallel_task_orchestrator/core/orchestrator.py
  .claude/skills/parallel-task-orchestrator/parallel_task_orchestrator/core/pr_creator.py
  .claude/skills/parallel-task-orchestrator/parallel_task_orchestrator/core/status_monitor.py
  .claude/skills/parallel-task-orchestrator/parallel_task_orchestrator/models/__init__.py
  .claude/skills/parallel-task-orchestrator/parallel_task_orchestrator/models/agent_status.py
  .claude/skills/parallel-task-orchestrator/parallel_task_orchestrator/models/completion.py
  .claude/skills/parallel-task-orchestrator/parallel_task_orchestrator/models/orchestration.py
  .claude/skills/parallel-task-orchestrator/pytest.ini
  .claude/skills/parallel-task-orchestrator/requirements.txt
  .claude/skills/parallel-task-orchestrator/setup.py
  .claude/skills/parallel-task-orchestrator/tests/IMPLEMENTATION_GUIDE.md
  .claude/skills/parallel-task-orchestrator/tests/README.md
  .claude/skills/parallel-task-orchestrator/tests/SUITE_SUMMARY.txt
  .claude/skills/parallel-task-orchestrator/tests/TEST_SUMMARY.md
  .claude/skills/parallel-task-orchestrator/tests/__init__.py
  .claude/skills/parallel-task-orchestrator/tests/conftest.py
  .claude/skills/parallel-task-orchestrator/tests/e2e/test_simple_orchestration.py
  .claude/skills/parallel-task-orchestrator/tests/e2e/test_simserv_integration.py
  .claude/skills/parallel-task-orchestrator/tests/integration/test_github_integration.py
  .claude/skills/parallel-task-orchestrator/tests/integration/test_orchestration_flow.py
  .claude/skills/parallel-task-orchestrator/tests/integration/test_orchestrator.py
  .claude/skills/parallel-task-orchestrator/tests/unit/test_agent_deployer.py
  .claude/skills/parallel-task-orchestrator/tests/unit/test_issue_parser.py
  .claude/skills/parallel-task-orchestrator/tests/unit/test_models.py
  .claude/skills/parallel-task-orchestrator/tests/unit/test_orchestration_config.py
  .claude/skills/parallel-task-orchestrator/tests/unit/test_pr_creator.py
  .claude/skills/parallel-task-orchestrator/tests/unit/test_status_monitor.py
  DOCUMENTATION_SUMMARY.md
  docs/parallel-orchestration/EXAMPLES.md
  docs/parallel-orchestration/README.md
  docs/parallel-orchestration/TECHNICAL_REFERENCE.md
  docs/parallel-orchestration/USER_GUIDE.md
Due: check-imports, check-dependencies

fix: Remove TODO violation - implement gh issue comment posting
  .claude/skills/parallel-task-orchestrator/parallel_task_orchestrator/core/orchestrator.py
Due: check-imports, check-dependencies

fix: Make SubIssue hashable for deduplication (found via user testing)
  .claude/skills/parallel-task-orchestrator/parallel_task_orchestrator/models/orchestration.py
Due: check-imports, check-dependencies

docs(discoveries): User testing validates mandatory testing requirement
  .claude/context/DISCOVERIES.md
Due: none

docs(discoveries): User testing validates mandatory testing requirement
  .claude/context/DISCOVERIES.md
  docs/howto/string-utilities.md
  tests/unit/test_string_utils.py
Due: check-imports, check-dependencies

security: Fix critical security issues in Phase 2 remote session management
  .claude/tools/amplihack/remote/executor.py
  .claude/tools/amplihack/remote/session.py
  .claude/tools/amplihack/remote/state_lock.py
  .claude/tools/amplihack/remote/tests/test_state_lock.py
  .claude/tools/amplihack/remote/vm_pool.py
Due: check-imports, check-dependencies

feat(remote): Complete Phase 2 - CLI commands, VM pooling, tmux sessions (#1630)
  .claude/tools/amplihack/remote/AUTH_SETUP.md
  .claude/tools/amplihack/remote/README_AUTH.md
  .claude/tools/amplihack/remote/__init__.py
  .claude/tools/amplihack/remote/auth.py
  .claude/tools/amplihack/remote/cli.py
  .claude/tools/amplihack/remote/context_packager.py
  .claude/tools/amplihack/remote/errors.py
  .claude/tools/amplihack/remote/integrator.py
  .claude/tools/amplihack/remote/orchestrator.py
  .claude/tools/amplihack/remote/test_auth.py
  .claude/tools/amplihack/remote/tests/test_cli.py
  .claude/tools/amplihack/remote/tests/test_context_packager.py
  .claude/tools/amplihack/remote/tests/test_executor_tmux.py
  .claude/tools/amplihack/remote/tests/test_integration.py
  .claude/tools/amplihack/remote/tests/test_integrator.py
  .claude/tools/amplihack/remote/tests/test_orchestrator.py
  .claude/tools/amplihack/remote/tests/test_vm_pool.py
  pytest.ini
Due: check-imports, check-dependencies

fix(remote): Integrate Click CLI with main argparse CLI
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(remote): Critical memory allocation fix - 32GB per session
  .claude/tools/amplihack/remote/executor.py
  .claude/tools/amplihack/remote/vm_pool.py
  docs/remote-sessions/CLI_REFERENCE.md
  docs/remote-sessions/README.md
  docs/remote-sessions/index.md
Due: check-imports, check-dependencies

fix(tests): Fix 2 failing context_packager tests (100% pass rate)
  .claude/tools/amplihack/remote/tests/test_context_packager.py
Due: check-imports, check-dependencies

feat(remote): Add session management for disconnect-resilient remote execution (#1630)
  .claude/tools/amplihack/remote/AUTH_SETUP.md
  .claude/tools/amplihack/remote/README_AUTH.md
  .claude/tools/amplihack/remote/__init__.py
  .claude/tools/amplihack/remote/auth.py
  .claude/tools/amplihack/remote/cli.py
  .claude/tools/amplihack/remote/context_packager.py
  .claude/tools/amplihack/remote/errors.py
  .claude/tools/amplihack/remote/executor.py
  .claude/tools/amplihack/remote/integrator.py
  .claude/tools/amplihack/remote/orchestrator.py
  .claude/tools/amplihack/remote/session.py
  .claude/tools/amplihack/remote/state_lock.py
  .claude/tools/amplihack/remote/test_auth.py
  .claude/tools/amplihack/remote/tests/test_cli.py
  .claude/tools/amplihack/remote/tests/test_context_packager.py
  .claude/tools/amplihack/remote/tests/test_executor_tmux.py
  .claude/tools/amplihack/remote/tests/test_integration.py
  .claude/tools/amplihack/remote/tests/test_integrator.py
  .claude/tools/amplihack/remote/tests/test_orchestrator.py
  .claude/tools/amplihack/remote/tests/test_session.py
  .claude/tools/amplihack/remote/tests/test_state_lock.py
  .claude/tools/amplihack/remote/tests/test_vm_pool.py
  .claude/tools/amplihack/remote/vm_pool.py
  docs/remote-sessions/CLI_REFERENCE.md
  docs/remote-sessions/README.md
  docs/remote-sessions/index.md
  pytest.ini
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs(remote): Add comprehensive remote session tutorial
  docs/remote-sessions/TUTORIAL.md
Due: none

docs(gh-pages): Make GitHub Pages docs comprehensive and discoverable (#1824)
  docs/document_driven_development/README.md
  docs/document_driven_development/phases/00_planning_and_alignment.md
  docs/document_driven_development/phases/01_documentation_retcon.md
  docs/document_driven_development/phases/02_approval_gate.md
  docs/document_driven_development/phases/03_implementation_planning.md
  docs/document_driven_development/phases/04_code_implementation.md
  docs/document_driven_development/phases/05_testing_and_verification.md
  docs/document_driven_development/phases/06_cleanup_and_push.md
  docs/features/README.md
  docs/features/claude-md-preservation.md
  docs/index.md
  docs/memory/README.md
  docs/security/README.md
  docs/troubleshooting/README.md
  scripts/validate_docs_navigation.py
  tests/docs/MANUAL_TEST_PLAN.md
  tests/docs/QUICK_REFERENCE.md
  tests/docs/README.md
  tests/docs/TEST_RESULTS_BASELINE.md
  tests/docs/test_documentation_structure.py
Due: check-imports, check-dependencies

docs(discoveries): Document MkDocs docs/.claude/ copy pattern
  .claude/context/DISCOVERIES.md
Due: none

chore: Remove temporary test scripts after docs deployment fix
  test_docs_build.sh
  test_links_validation.sh
Due: none

hotfix(docs): Remove --strict flag to unblock GitHub Pages deployment
  .github/workflows/docs.yml
Due: none

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$
