Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

Add Workspace Pattern documentation (Fixes #1015)
  README.md
  docs/WORKSPACE_PATTERN.md
Due: none

Fix: Auto-install Rich when --ui flag used (make TUI "just work")
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix command references in workspace pattern docs
  docs/WORKSPACE_PATTERN.md
Due: none

Revert "Fix: Auto-install Rich when --ui flag used (make TUI "just work")"
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Revert "Revert "Fix: Auto-install Rich when --ui flag used (make TUI "just work")""
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix: Add robust builders import with 3 fallback strategies
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add enhanced documentation pattern (DISCOVERIES, THIS_IS_THE_WAY, CREATE_YOUR_OWN_TOOLS)
  AGENTS.md
  CLAUDE.md
  README.md
  docs/CREATE_YOUR_OWN_TOOLS.md
  docs/DISCOVERIES.md
  docs/THIS_IS_THE_WAY.md
Due: none

feat: Add Document-Driven Development (DDD) methodology to amplihack
  .claude/commands/amplihack/ddd/0-help.md
  .claude/commands/amplihack/ddd/1-plan.md
  .claude/commands/amplihack/ddd/2-docs.md
  .claude/commands/amplihack/ddd/3-code-plan.md
  .claude/commands/amplihack/ddd/4-code.md
  .claude/commands/amplihack/ddd/5-finish.md
  .claude/commands/amplihack/ddd/prime.md
  .claude/commands/amplihack/ddd/status.md
  docs/DDD_CONTEXT_POISONING.md
  docs/DDD_FILE_CRAWLING.md
  docs/DDD_METHODOLOGY.md
  docs/DDD_RETCON_WRITING.md
Due: none

feat: Add complete Document-Driven Development (DDD) methodology
  .claude/commands/ddd/0-help.md
  .claude/commands/ddd/1-plan.md
  .claude/commands/ddd/2-docs.md
  .claude/commands/ddd/3-code-plan.md
  .claude/commands/ddd/4-code.md
  .claude/commands/ddd/5-finish.md
  .claude/commands/ddd/prime.md
  .claude/commands/ddd/status.md
  docs/DDD_CONTEXT_POISONING.md
  docs/DDD_FILE_CRAWLING.md
  docs/DDD_METHODOLOGY.md
  docs/DDD_RETCON_WRITING.md
Due: none

Security: Fix CRITICAL path traversal and sys.path injection vulnerabilities
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix broken WORKSPACE_PATTERN.md references
  README.md
  docs/CREATE_YOUR_OWN_TOOLS.md
  docs/THIS_IS_THE_WAY.md
Due: none

Fix: Robust builders import with security hardening
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix: Auto-install Rich when --ui flag used
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Port Document-Driven Development (DDD) methodology from amplifier
  .claude/commands/ddd/0-help.md
  .claude/commands/ddd/1-plan.md
  .claude/commands/ddd/2-docs.md
  .claude/commands/ddd/3-code-plan.md
  .claude/commands/ddd/4-code.md
  .claude/commands/ddd/5-finish.md
  .claude/commands/ddd/prime.md
  .claude/commands/ddd/status.md
  CLAUDE.md
  README.md
  docs/document_driven_development/README.md
  docs/document_driven_development/core_concepts/README.md
  docs/document_driven_development/core_concepts/context_poisoning.md
  docs/document_driven_development/core_concepts/file_crawling.md
  docs/document_driven_development/core_concepts/retcon_writing.md
  docs/document_driven_development/overview.md
  docs/document_driven_development/phases/00_planning_and_alignment.md
  docs/document_driven_development/phases/01_documentation_retcon.md
  docs/document_driven_development/phases/02_approval_gate.md
  docs/document_driven_development/phases/03_implementation_planning.md
  docs/document_driven_development/phases/04_code_implementation.md
  docs/document_driven_development/phases/05_testing_and_verification.md
  docs/document_driven_development/phases/06_cleanup_and_push.md
  docs/document_driven_development/phases/README.md
  docs/document_driven_development/reference/README.md
  docs/document_driven_development/reference/checklists.md
  docs/document_driven_development/reference/common_pitfalls.md
  docs/document_driven_development/reference/faq.md
  docs/document_driven_development/reference/tips_for_success.md
Due: none

Fix: Use 'uv pip install' for Rich (UVX has no pip module)
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix: Use importlib for builders (works in UVX and local)
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix: Use uv pip install for Rich (UVX compatibility)
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix: Make Rich required dependency (remove broken auto-install)
  pyproject.toml
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix: Make Rich required dependency for --ui
  pyproject.toml
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix: Add dirs_exist_ok=True to copytree (fixes File exists error)
  src/amplihack/__init__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix: Add dirs_exist_ok to copytree
  src/amplihack/__init__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add workspace and worktree pattern documentation
  docs/WORKSPACE_PATTERN.md
  docs/WORKTREE_GUIDE.md
Due: none

Fix: Use importlib for builders import (works in UVX and local)
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix: Use importlib for builders import
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix: Hide DEBUG logs from console
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix: Hide DEBUG logs from console output
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix: Stream Claude output to UI logs panel
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix: Always stage .claude directory in UVX installations
  src/amplihack/utils/uvx_staging_v2.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add test for .claude directory staging with existing directory
  tests/test_uvx_staging_v2.py
Due: check-imports, check-dependencies

feat: Port Document-Driven Development (DDD) Methodology
  .claude/commands/ddd/0-help.md
  .claude/commands/ddd/1-plan.md
  .claude/commands/ddd/2-docs.md
  .claude/commands/ddd/3-code-plan.md
  .claude/commands/ddd/4-code.md
  .claude/commands/ddd/5-finish.md
  .claude/commands/ddd/prime.md
  .claude/commands/ddd/status.md
  CLAUDE.md
  README.md
  docs/document_driven_development/README.md
  docs/document_driven_development/core_concepts/README.md
  docs/document_driven_development/core_concepts/context_poisoning.md
  docs/document_driven_development/core_concepts/file_crawling.md
  docs/document_driven_development/core_concepts/retcon_writing.md
  docs/document_driven_development/overview.md
  docs/document_driven_development/phases/00_planning_and_alignment.md
  docs/document_driven_development/phases/01_documentation_retcon.md
  docs/document_driven_development/phases/02_approval_gate.md
  docs/document_driven_development/phases/03_implementation_planning.md
  docs/document_driven_development/phases/04_code_implementation.md
  docs/document_driven_development/phases/05_testing_and_verification.md
  docs/document_driven_development/phases/06_cleanup_and_push.md
  docs/document_driven_development/phases/README.md
  docs/document_driven_development/reference/README.md
  docs/document_driven_development/reference/checklists.md
  docs/document_driven_development/reference/common_pitfalls.md
  docs/document_driven_development/reference/faq.md
  docs/document_driven_development/reference/tips_for_success.md
Due: none

docs: Add Workspace Pattern Documentation
  README.md
  docs/WORKSPACE_PATTERN.md
Due: none

docs: Add Enhanced Documentation Pattern (DISCOVERIES, THIS_IS_THE_WAY, CREATE_YOUR_OWN_TOOLS)
  AGENTS.md
  CLAUDE.md
  README.md
  docs/CREATE_YOUR_OWN_TOOLS.md
  docs/DISCOVERIES.md
  docs/THIS_IS_THE_WAY.md
Due: none

Fix: Always stage .claude directory in UVX installations (#1035)
  src/amplihack/utils/uvx_staging_v2.py
  tests/test_uvx_staging_v2.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add Git Worktree Pattern Guide
  docs/WORKTREE_GUIDE.md
Due: none

feat: port 5 unique specialized agents from amplifier
  .claude/agents/README.md
  .claude/agents/ambiguity-guardian.md
  .claude/agents/concept-extractor.md
  .claude/agents/insight-synthesizer.md
  .claude/agents/knowledge-archaeologist.md
  .claude/agents/post-task-cleanup.md
Due: none

Add complete DevContainer setup for GitHub Codespaces
  .devcontainer/OPTIMIZING_FOR_CODESPACES.md
  .devcontainer/POST_SETUP_README.md
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/post-create.sh
Due: none

Add comprehensive defensive utilities for LLM interactions and file I/O
  src/amplihack/utils/__init__.py
  src/amplihack/utils/defensive.py
  tests/test_defensive_basic.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Complete TUI to match original spec - add pause/kill/SDK integration
  src/amplihack/launcher/auto_mode.py
  src/amplihack/launcher/auto_mode_ui.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

security: Add path validation and safe sys.path usage
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: Add humility preference to learned patterns
  .claude/context/USER_PREFERENCES.md
Due: none

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$
