Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$

docs: Add power steering architecture specifications (#1390)
  Specs/POWER_STEERING_SUMMARY.md
  Specs/considerations_format.md
  Specs/control_mechanisms.md
  Specs/edge_cases.md
  Specs/implementation_phases.md
  Specs/power_steering_architecture.md
  Specs/power_steering_checker.md
  Specs/power_steering_config.md
  Specs/stop_py_integration.md
Due: none

feat: Integrate Microsoft eval-recipes benchmarking for amplihack evaluation
  .claude/agents/eval-recipes/amplihack/agent.yaml
  .claude/agents/eval-recipes/amplihack/command_template.txt
  .claude/agents/eval-recipes/amplihack/install.dockerfile
  .claude/agents/eval-recipes/claude_code/agent.yaml
  .claude/agents/eval-recipes/claude_code/command_template.txt
  .claude/agents/eval-recipes/claude_code/install.dockerfile
  .claude/tools/benchmarking/README.md
  .claude/tools/benchmarking/__init__.py
  .claude/tools/benchmarking/agent_config.py
  .claude/tools/benchmarking/docker_manager.py
  .claude/tools/benchmarking/results.py
  .claude/tools/benchmarking/runner.py
  .claude/tools/benchmarking/secrets_manager.py
  .gitguardian.yaml
  Makefile
  pyproject.toml
  tests/test_benchmarking/__init__.py
  tests/test_benchmarking/test_agent_config.py
  tests/test_benchmarking/test_docker_manager.py
  tests/test_benchmarking/test_results.py
  tests/test_benchmarking/test_runner.py
  tests/test_benchmarking/test_secrets_manager.py
Due: check-imports, check-dependencies

feat: Add power-steering redirect summaries to session reflections
  .claude/tools/amplihack/hooks/claude_reflection.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/templates/reflection_prompt.txt
Due: check-imports, check-dependencies

fix: Resolve merge conflict in stop.py causing session exit failure
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

fix: Address review feedback - permissions, tests, plural handling
  .claude/tools/amplihack/hooks/claude_reflection.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_redirects.py
Due: check-imports, check-dependencies

docs: Add power steering architecture specifications (#1390) (#1391)
  Specs/POWER_STEERING_SUMMARY.md
  Specs/considerations_format.md
  Specs/control_mechanisms.md
  Specs/edge_cases.md
  Specs/implementation_phases.md
  Specs/power_steering_architecture.md
  Specs/power_steering_checker.md
  Specs/power_steering_config.md
  Specs/stop_py_integration.md
Due: none

feat: Add power-steering redirect summaries to session reflections (#1393)
  .claude/tools/amplihack/hooks/claude_reflection.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/templates/reflection_prompt.txt
  .claude/tools/amplihack/hooks/tests/test_power_steering_redirects.py
Due: check-imports, check-dependencies

fix: Add Neo4j pre-check gate to prevent spurious 401 errors
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

fix: Add Neo4j pre-check gate to prevent spurious 401 errors (#1399)
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

fix: Remove pirate language from documentation, keep it for interactions only
  .claude/context/USER_PREFERENCES.md
  docs/mcp_evaluation/README.md
  docs/mcp_evaluation/USER_GUIDE.md
Due: none

docs: Add benchmarking guide with eval-recipes findings and alternative approaches
  docs/BENCHMARKING.md
Due: none

fix: Strengthen workflow language and add to priority hierarchy (Quick Win)
  .claude/context/USER_REQUIREMENT_PRIORITY.md
  CLAUDE.md
Due: none

feat: Add fully automatic context management with PostToolUse hook integration
  .claude/skills/README.md
  .claude/skills/context_management/QUICK_START.md
  .claude/skills/context_management/README.md
  .claude/skills/context_management/SKILL.md
  .claude/skills/context_management/__init__.py
  .claude/skills/context_management/automation.py
  .claude/skills/context_management/context_extractor.py
  .claude/skills/context_management/context_rehydrator.py
  .claude/skills/context_management/core.py
  .claude/skills/context_management/examples/basic_usage.md
  .claude/skills/context_management/examples/proactive_workflow.md
  .claude/skills/context_management/examples/rehydration_levels.md
  .claude/skills/context_management/models.py
  .claude/skills/context_management/orchestrator.py
  .claude/skills/context_management/tests/__init__.py
  .claude/skills/context_management/tests/fixtures/high_token_usage.json
  .claude/skills/context_management/tests/fixtures/sample_conversation.json
  .claude/skills/context_management/tests/fixtures/sample_snapshot.json
  .claude/skills/context_management/tests/test_context_extractor.py
  .claude/skills/context_management/tests/test_context_rehydrator.py
  .claude/skills/context_management/tests/test_integration.py
  .claude/skills/context_management/tests/test_orchestrator.py
  .claude/skills/context_management/tests/test_token_monitor.py
  .claude/skills/context_management/token_monitor.py
  .claude/tools/amplihack/hooks/post_tool_use.py
  .pre-commit-config.yaml
  CLAUDE.md
  Specs/context-management-skill.md
Due: check-imports, check-dependencies

fix: Complete workflow adherence fix with monitoring (Maximum)
  .claude/tools/amplihack/generate_workflow_report.py
  .claude/tools/amplihack/hooks/workflow_tracker.py
  .claude/workflow/DEFAULT_WORKFLOW.md
  .pre-commit-config.yaml
  CLAUDE.md
  tests/conftest.py
  tests/test_code_quality.py
Due: check-imports, check-dependencies

fix: Add monitoring infrastructure and test prevention suite
  .claude/tools/amplihack/generate_workflow_report.py
  .claude/tools/amplihack/hooks/workflow_tracker.py
  tests/conftest.py
  tests/test_code_quality.py
Due: check-imports, check-dependencies

feat: Add containerized mode for Docker
  IMPLEMENTATION_SUMMARY.md
  src/amplihack/cli.py
  src/amplihack/launcher/core.py
  tests/integration/test_launcher_containerized.py
  verify_containerized.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Use actual transcript token data and add comprehensive real-world testing
  .claude/skills/context_management/automation.py
  .claude/skills/context_management/test_full_automation_flow.py
  .claude/skills/context_management/test_real_hook_integration.py
  .claude/skills/context_management/test_with_real_transcript.py
  .claude/tools/amplihack/hooks/post_tool_use.py
Due: check-imports, check-dependencies

perf: Add adaptive frequency to minimize performance impact
  .claude/skills/context_management/automation.py
  .claude/skills/context_management/test_performance.py
Due: check-imports, check-dependencies

feat: Add model-aware thresholds - top threshold at 50% for 1M models
  .claude/skills/context_management/README.md
  .claude/skills/context_management/SKILL.md
  .claude/skills/context_management/test_model_aware_thresholds.py
  .claude/skills/context_management/token_monitor.py
Due: check-imports, check-dependencies

fix: Set auto_update to always and improve section matching robustness
  .claude/context/USER_PREFERENCES.md
  .claude/tools/amplihack/update_prefs.py
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Eliminate 13 silent failures in stop.py hook
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

feat: Add TDD prevention test suite to catch syntax/conflict errors
  .pre-commit-config.yaml
  Specs/INTEGRATION.md
  Specs/check_syntax.md
  Specs/edge_case_tests.md
  Specs/performance_tests.md
  Specs/test_ordering.md
  pyproject.toml
  scripts/pre-commit/check_syntax.py
  tests/test_code_quality.py
Due: check-imports, check-dependencies

feat: Implement email-drafter Claude Code skill (Issue #1223) (#1232)
  .claude/skills/email-drafter/README.md
  .claude/skills/email-drafter/SKILL.md
  .claude/skills/email-drafter/tests/USAGE_TEST_CASES.md
Due: none

fix: Resolve critical code quality issues (Phase 1)
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/reflection/lightweight_analyzer.py
  src/amplihack/proxy/manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Implement meeting-synthesizer Claude Code Skill (Issue #1220) (#1231)
  .claude/skills/meeting-synthesizer/SKILL.md
Due: none

Update description for learning-path-builder
  .claude/skills/learning-path-builder.md
Due: none

feat: Implement learning-path-builder Claude Code Skill (Issue #1227) (#1237)
  .claude/skills/learning-path-builder.md
Due: none

feat: Add context-management skill for proactive context window optimization
  .claude/skills/README.md
  .claude/skills/context_management/QUICK_START.md
  .claude/skills/context_management/README.md
  .claude/skills/context_management/SKILL.md
  .claude/skills/context_management/__init__.py
  .claude/skills/context_management/context_extractor.py
  .claude/skills/context_management/context_rehydrator.py
  .claude/skills/context_management/core.py
  .claude/skills/context_management/examples/basic_usage.md
  .claude/skills/context_management/examples/proactive_workflow.md
  .claude/skills/context_management/examples/rehydration_levels.md
  .claude/skills/context_management/models.py
  .claude/skills/context_management/orchestrator.py
  .claude/skills/context_management/tests/__init__.py
  .claude/skills/context_management/tests/fixtures/high_token_usage.json
  .claude/skills/context_management/tests/fixtures/sample_conversation.json
  .claude/skills/context_management/tests/fixtures/sample_snapshot.json
  .claude/skills/context_management/tests/test_context_extractor.py
  .claude/skills/context_management/tests/test_context_rehydrator.py
  .claude/skills/context_management/tests/test_integration.py
  .claude/skills/context_management/tests/test_orchestrator.py
  .claude/skills/context_management/tests/test_token_monitor.py
  .claude/skills/context_management/token_monitor.py
  .pre-commit-config.yaml
  CLAUDE.md
  Specs/context-management-skill.md
Due: check-imports, check-dependencies

feat: Add context-management skill for proactive context window optimization
  .claude/skills/README.md
  .claude/skills/context_management/QUICK_START.md
  .claude/skills/context_management/README.md
  .claude/skills/context_management/SKILL.md
  .claude/skills/context_management/__init__.py
  .claude/skills/context_management/context_extractor.py
  .claude/skills/context_management/context_rehydrator.py
  .claude/skills/context_management/core.py
  .claude/skills/context_management/examples/basic_usage.md
  .claude/skills/context_management/examples/proactive_workflow.md
  .claude/skills/context_management/examples/rehydration_levels.md
  .claude/skills/context_management/models.py
  .claude/skills/context_management/orchestrator.py
  .claude/skills/context_management/tests/__init__.py
  .claude/skills/context_management/tests/fixtures/high_token_usage.json
  .claude/skills/context_management/tests/fixtures/sample_conversation.json
  .claude/skills/context_management/tests/fixtures/sample_snapshot.json
  .claude/skills/context_management/tests/test_context_extractor.py
  .claude/skills/context_management/tests/test_context_rehydrator.py
  .claude/skills/context_management/tests/test_integration.py
  .claude/skills/context_management/tests/test_orchestrator.py
  .claude/skills/context_management/tests/test_token_monitor.py
  .claude/skills/context_management/token_monitor.py
  Specs/context-management-skill.md
Due: check-imports, check-dependencies

feat: Add full automation with model-aware thresholds and adaptive frequency
  .claude/skills/context_management/automation.py
  .claude/skills/context_management/test_full_automation_flow.py
  .claude/skills/context_management/test_model_aware_thresholds.py
  .claude/skills/context_management/test_performance.py
  .claude/skills/context_management/test_real_hook_integration.py
  .claude/skills/context_management/test_with_real_transcript.py
  .claude/skills/context_management/token_monitor.py
  .claude/tools/amplihack/hooks/post_tool_use.py
Due: check-imports, check-dependencies

feat: Add context-management skill for proactive context window optimization (#1427)
  .claude/skills/README.md
  .claude/skills/context_management/QUICK_START.md
  .claude/skills/context_management/README.md
  .claude/skills/context_management/SKILL.md
  .claude/skills/context_management/__init__.py
  .claude/skills/context_management/context_extractor.py
  .claude/skills/context_management/context_rehydrator.py
  .claude/skills/context_management/core.py
  .claude/skills/context_management/examples/basic_usage.md
  .claude/skills/context_management/examples/proactive_workflow.md
  .claude/skills/context_management/examples/rehydration_levels.md
  .claude/skills/context_management/models.py
  .claude/skills/context_management/orchestrator.py
  .claude/skills/context_management/tests/__init__.py
  .claude/skills/context_management/tests/fixtures/high_token_usage.json
  .claude/skills/context_management/tests/fixtures/sample_conversation.json
  .claude/skills/context_management/tests/fixtures/sample_snapshot.json
  .claude/skills/context_management/tests/test_context_extractor.py
  .claude/skills/context_management/tests/test_context_rehydrator.py
  .claude/skills/context_management/tests/test_integration.py
  .claude/skills/context_management/tests/test_orchestrator.py
  .claude/skills/context_management/tests/test_token_monitor.py
  .claude/skills/context_management/token_monitor.py
  Specs/context-management-skill.md
Due: check-imports, check-dependencies

feat: Add full automation with model-aware thresholds and adaptive frequency (#1429)
  .claude/skills/context_management/automation.py
  .claude/skills/context_management/test_full_automation_flow.py
  .claude/skills/context_management/test_model_aware_thresholds.py
  .claude/skills/context_management/test_performance.py
  .claude/skills/context_management/test_real_hook_integration.py
  .claude/skills/context_management/test_with_real_transcript.py
  .claude/skills/context_management/token_monitor.py
  .claude/tools/amplihack/hooks/post_tool_use.py
Due: check-imports, check-dependencies

docs: Add BENCHMARKING.md from PR #1409
  docs/BENCHMARKING.md
Due: none

Update CLAUDE.md
  CLAUDE.md
Due: none
