Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

fix: Prevent Neo4j container setup prompt at session end
  .claude/tools/amplihack/hooks/stop.py
  src/amplihack/memory/neo4j/container_selection.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add documentation for AMPLIHACK_CLEANUP_MODE
  .claude/tools/amplihack/hooks/stop.py
  src/amplihack/memory/neo4j/container_selection.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Address code review feedback for Agent SDK skill
  .claude/skills/agent-sdk/README.md
  .claude/skills/agent-sdk/patterns.md
Due: none

feat: Add Microsoft Agent Framework skill for Claude Code
  .claude/skills/microsoft-agent-framework/IMPLEMENTATION_SUMMARY.md
  .claude/skills/microsoft-agent-framework/README.md
  .claude/skills/microsoft-agent-framework/examples/01-basic-agent.py
  .claude/skills/microsoft-agent-framework/examples/02-tool-integration.py
  .claude/skills/microsoft-agent-framework/examples/03-simple-workflow.py
  .claude/skills/microsoft-agent-framework/examples/04-basic-agent.cs
  .claude/skills/microsoft-agent-framework/examples/05-tool-integration.cs
  .claude/skills/microsoft-agent-framework/examples/06-simple-workflow.cs
  .claude/skills/microsoft-agent-framework/integration/amplihack-integration.md
  .claude/skills/microsoft-agent-framework/integration/decision-framework.md
  .claude/skills/microsoft-agent-framework/integration/migration-guide.md
  .claude/skills/microsoft-agent-framework/metadata/last-updated.txt
  .claude/skills/microsoft-agent-framework/metadata/sources.json
  .claude/skills/microsoft-agent-framework/metadata/version-tracking.json
  .claude/skills/microsoft-agent-framework/reference/01-overview.md
  .claude/skills/microsoft-agent-framework/reference/02-agents.md
  .claude/skills/microsoft-agent-framework/reference/03-workflows.md
  .claude/skills/microsoft-agent-framework/reference/04-tools-functions.md
  .claude/skills/microsoft-agent-framework/reference/05-context-middleware.md
  .claude/skills/microsoft-agent-framework/reference/06-telemetry-monitoring.md
  .claude/skills/microsoft-agent-framework/reference/07-advanced-patterns.md
  .claude/skills/microsoft-agent-framework/scripts/check-freshness.py
  .claude/skills/microsoft-agent-framework/skill.md
  .claude/skills/pptx/scripts/inventory.py
  .claude/skills/pptx/scripts/thumbnail.py
  .pre-commit-config.yaml
  Specs/microsoft-agent-framework-skill.md
Due: check-imports, check-dependencies

style: Apply ruff formatting and fix secret detection
  .claude/tools/amplihack/hooks/stop.py
  src/amplihack/memory/neo4j/container_selection.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add comprehensive Claude Agent SDK skill with drift detection (#1345)
  .claude/skills/agent-sdk/.metadata/versions.json
  .claude/skills/agent-sdk/README.md
  .claude/skills/agent-sdk/SKILL.md
  .claude/skills/agent-sdk/VALIDATION_REPORT.md
  .claude/skills/agent-sdk/drift-detection.md
  .claude/skills/agent-sdk/examples.md
  .claude/skills/agent-sdk/patterns.md
  .claude/skills/agent-sdk/reference.md
  .claude/skills/agent-sdk/scripts/check_drift.py
Due: check-imports, check-dependencies

fix: Prevent Neo4j container setup prompt at session end (#1348)
  .claude/tools/amplihack/hooks/stop.py
  src/amplihack/memory/neo4j/container_selection.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Implement Phase 1 (MVP) of power-steering mode
  .claude/tools/amplihack/.power_steering_config
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_checker.py
  POWER_STEERING_PHASE1_COMPLETE.md
Due: check-imports, check-dependencies

feat: Implement power-steering mode Phase 1 (MVP)
  .claude/tools/amplihack/.power_steering_config
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_checker.py
Due: check-imports, check-dependencies

security: Add transcript size limits to prevent memory exhaustion
  .claude/tools/amplihack/hooks/power_steering_checker.py
Due: check-imports, check-dependencies

style: Apply black formatter to power-steering tests
  .claude/tools/amplihack/hooks/tests/test_power_steering_checker.py
Due: check-imports, check-dependencies

feat: Add progress indicator for blarify codebase indexing (fixes #1299) (#1335)
  src/amplihack/memory/neo4j/code_graph.py
  tests/unit/memory/neo4j/test_code_graph_progress.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Address code review feedback for Microsoft Agent Framework skill
  .claude/skills/microsoft-agent-framework/examples/02-tool-integration.py
  .claude/skills/microsoft-agent-framework/examples/05-tool-integration.cs
  .claude/skills/microsoft-agent-framework/scripts/check-freshness.py
Due: check-imports, check-dependencies

feat: Complete Phase 2 of power-steering mode with full YAML configuration
  .claude/tools/amplihack/HOW_TO_CUSTOMIZE_POWER_STEERING.md
  .claude/tools/amplihack/considerations.yaml
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_phase2.py
Due: check-imports, check-dependencies

feat: Complete Phase 2 - All 21 considerations with user customization
  .claude/tools/amplihack/HOW_TO_CUSTOMIZE_POWER_STEERING.md
  .claude/tools/amplihack/considerations.yaml
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_power_steering_phase2.py
Due: check-imports, check-dependencies

feat: Add Microsoft Agent Framework skill for Claude Code (#1349)
  .claude/skills/microsoft-agent-framework/IMPLEMENTATION_SUMMARY.md
  .claude/skills/microsoft-agent-framework/README.md
  .claude/skills/microsoft-agent-framework/examples/01-basic-agent.py
  .claude/skills/microsoft-agent-framework/examples/02-tool-integration.py
  .claude/skills/microsoft-agent-framework/examples/03-simple-workflow.py
  .claude/skills/microsoft-agent-framework/examples/04-basic-agent.cs
  .claude/skills/microsoft-agent-framework/examples/05-tool-integration.cs
  .claude/skills/microsoft-agent-framework/examples/06-simple-workflow.cs
  .claude/skills/microsoft-agent-framework/integration/amplihack-integration.md
  .claude/skills/microsoft-agent-framework/integration/decision-framework.md
  .claude/skills/microsoft-agent-framework/integration/migration-guide.md
  .claude/skills/microsoft-agent-framework/metadata/last-updated.txt
  .claude/skills/microsoft-agent-framework/metadata/sources.json
  .claude/skills/microsoft-agent-framework/metadata/version-tracking.json
  .claude/skills/microsoft-agent-framework/reference/01-overview.md
  .claude/skills/microsoft-agent-framework/reference/02-agents.md
  .claude/skills/microsoft-agent-framework/reference/03-workflows.md
  .claude/skills/microsoft-agent-framework/reference/04-tools-functions.md
  .claude/skills/microsoft-agent-framework/reference/05-context-middleware.md
  .claude/skills/microsoft-agent-framework/reference/06-telemetry-monitoring.md
  .claude/skills/microsoft-agent-framework/reference/07-advanced-patterns.md
  .claude/skills/microsoft-agent-framework/scripts/check-freshness.py
  .claude/skills/microsoft-agent-framework/skill.md
  .claude/skills/pptx/scripts/inventory.py
  .claude/skills/pptx/scripts/thumbnail.py
  .pre-commit-config.yaml
  Specs/microsoft-agent-framework-skill.md
Due: check-imports, check-dependencies

fix: Enrich novelist and poet analyst reference materials
  .claude/skills/novelist-analyst/SKILL.md
  .claude/skills/poet-analyst/SKILL.md
Due: none

polish: Implement all code review feedback and enhancements
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/tests/test_security_features.py
Due: check-imports, check-dependencies

fix: Update config to reflect Phase 2 completion (version 2.0.0, phase: 2)
  .claude/tools/amplihack/.power_steering_config
Due: none

fix: Prevent Neo4j container prompt after /exit
  .claude/tools/amplihack/hooks/session_stop.py
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

fix: Use correct value format for AMPLIHACK_AUTO_MODE
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

CRITICAL FIX: Implement Claude SDK integration for intelligent analysis
  .claude/tools/amplihack/hooks/claude_power_steering.py
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/templates/power_steering_prompt.txt
  .claude/tools/amplihack/hooks/tests/test_sdk_integration.py
Due: check-imports, check-dependencies

fix: Update hooks to use current project directory
  .claude/settings.json
Due: sync-hooks-validation

feat: Add version checking mechanism (Phase 1 MVP)
  .claude/.version
  .claude/tools/amplihack/version_checker.py
Due: check-imports, check-dependencies

fix: Allow transcript files in /tmp for testing scenarios
  .claude/tools/amplihack/hooks/power_steering_checker.py
Due: check-imports, check-dependencies

feat: Add automated update with interactive prompt (Phase 2)
  .claude/tools/amplihack/file_classifier.py
  .claude/tools/amplihack/update_engine.py
  .claude/tools/amplihack/update_prefs.py
Due: check-imports, check-dependencies

fix: Add Market Failures and Externalities framework to economist-analyst
  .claude/skills/economist-analyst/SKILL.md
Due: none

fix: Integrate version check into session_start + security fix
  .claude/tools/amplihack/hooks/session_start.py
  .claude/tools/amplihack/update_engine.py
  tests/unit/tools/__init__.py
  tests/unit/tools/version_check/TEST_COVERAGE.md
  tests/unit/tools/version_check/__init__.py
  tests/unit/tools/version_check/test_file_classifier.py
  tests/unit/tools/version_check/test_update_engine.py
  tests/unit/tools/version_check/test_update_prefs.py
  tests/unit/tools/version_check/test_version_checker.py
Due: check-imports, check-dependencies

fix: Add import fallback for standalone execution
  .claude/tools/amplihack/update_engine.py
  tests/unit/tools/version_check/test_file_classifier.py
  tests/unit/tools/version_check/test_update_engine.py
  tests/unit/tools/version_check/test_update_prefs.py
  tests/unit/tools/version_check/test_version_checker.py
Due: check-imports, check-dependencies

feat: Add outside-in-testing skill for gadugi-agentic-test framework
  .claude/skills/outside-in-testing/README.md
  .claude/skills/outside-in-testing/SKILL.md
  .claude/skills/outside-in-testing/examples/cli/calculator-basic.yaml
  .claude/skills/outside-in-testing/examples/cli/cli-error-handling.yaml
  .claude/skills/outside-in-testing/examples/cli/cli-interactive-session.yaml
  .claude/skills/outside-in-testing/examples/custom-agents/custom-comprehension-agent.yaml
  .claude/skills/outside-in-testing/examples/custom-agents/custom-reporter-integration.yaml
  .claude/skills/outside-in-testing/examples/electron/electron-ipc-testing.yaml
  .claude/skills/outside-in-testing/examples/electron/electron-menu-testing.yaml
  .claude/skills/outside-in-testing/examples/electron/multi-window-coordination.yaml
  .claude/skills/outside-in-testing/examples/electron/single-window-basic.yaml
  .claude/skills/outside-in-testing/examples/tui/file-manager-navigation.yaml
  .claude/skills/outside-in-testing/examples/tui/tui-form-validation.yaml
  .claude/skills/outside-in-testing/examples/tui/tui-performance-monitoring.yaml
  .claude/skills/outside-in-testing/examples/web/dashboard-smoke-test.yaml
  .claude/skills/outside-in-testing/examples/web/web-authentication-flow.yaml
  .claude/skills/outside-in-testing/examples/web/web-visual-regression.yaml
  .claude/skills/outside-in-testing/scripts/check-freshness.py
  .claude/skills/outside-in-testing/tests/test_skill_examples.py
Due: check-imports, check-dependencies

feat: Complete Phase 3 - /amplihack:customize integration + rollback
  .claude/tools/amplihack/rollback_update.py
  .claude/tools/amplihack/update_prefs.py
Due: check-imports, check-dependencies

feat: Version check and auto-update for .claude directory (#1355)
  .claude/.version
  .claude/tools/amplihack/file_classifier.py
  .claude/tools/amplihack/hooks/session_start.py
  .claude/tools/amplihack/rollback_update.py
  .claude/tools/amplihack/update_engine.py
  .claude/tools/amplihack/update_prefs.py
  .claude/tools/amplihack/version_checker.py
  tests/unit/tools/__init__.py
  tests/unit/tools/version_check/TEST_COVERAGE.md
  tests/unit/tools/version_check/__init__.py
  tests/unit/tools/version_check/test_file_classifier.py
  tests/unit/tools/version_check/test_update_engine.py
  tests/unit/tools/version_check/test_update_prefs.py
  tests/unit/tools/version_check/test_version_checker.py
Due: check-imports, check-dependencies

feat: Add outside-in-testing skill for gadugi-agentic-test framework (#1358)
  .claude/skills/outside-in-testing/README.md
  .claude/skills/outside-in-testing/SKILL.md
  .claude/skills/outside-in-testing/examples/cli/calculator-basic.yaml
  .claude/skills/outside-in-testing/examples/cli/cli-error-handling.yaml
  .claude/skills/outside-in-testing/examples/cli/cli-interactive-session.yaml
  .claude/skills/outside-in-testing/examples/custom-agents/custom-comprehension-agent.yaml
  .claude/skills/outside-in-testing/examples/custom-agents/custom-reporter-integration.yaml
  .claude/skills/outside-in-testing/examples/electron/electron-ipc-testing.yaml
  .claude/skills/outside-in-testing/examples/electron/electron-menu-testing.yaml
  .claude/skills/outside-in-testing/examples/electron/multi-window-coordination.yaml
  .claude/skills/outside-in-testing/examples/electron/single-window-basic.yaml
  .claude/skills/outside-in-testing/examples/tui/file-manager-navigation.yaml
  .claude/skills/outside-in-testing/examples/tui/tui-form-validation.yaml
  .claude/skills/outside-in-testing/examples/tui/tui-performance-monitoring.yaml
  .claude/skills/outside-in-testing/examples/web/dashboard-smoke-test.yaml
  .claude/skills/outside-in-testing/examples/web/web-authentication-flow.yaml
  .claude/skills/outside-in-testing/examples/web/web-visual-regression.yaml
  .claude/skills/outside-in-testing/scripts/check-freshness.py
  .claude/skills/outside-in-testing/tests/test_skill_examples.py
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

fix: Address critical review feedback for Serena integration
  .claude/tools/amplihack/integrations/serena/README.md
  .claude/tools/amplihack/integrations/serena/cli.py
  .claude/tools/amplihack/integrations/serena/configurator.py
  .claude/tools/amplihack/integrations/serena/tests/test_cli.py
  .claude/tools/amplihack/integrations/serena/tests/test_configurator.py
  .claude/tools/amplihack/integrations/serena/tests/test_detector.py
Due: check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$
