Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$

fix(memory): Implement connection pooling to prevent resource exhaustion
  src/amplihack/memory/database.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(hooks): Properly detect --no-verify flag variations to prevent security bypass
  .claude/tools/amplihack/hooks/pre_tool_use.py
  tests/unit/hooks/test_pre_tool_use.py
Due: check-imports, check-dependencies

refactor(cli): Extract duplicate command handler logic into shared function
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(security): Replace ReDoS-vulnerable regex with safe length check
  src/amplihack/security/xpia_patterns.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Collect and attach sources to knowledge graph in Knowledge Builder
  src/amplihack/knowledge_builder/modules/knowledge_acquirer.py
  src/amplihack/knowledge_builder/orchestrator.py
  tests/knowledge_builder/test_kb_modules.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add REAL outside-in agentic tests + Neo4j 5.x endpoint fix
  scripts/test_neo4j_cleanup_real_e2e.py
  src/amplihack/neo4j/connection_tracker.py
  tests/unit/neo4j/test_connection_tracker.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Replace bare except blocks with specific exception types
  src/amplihack/__init__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Auto-start sessions on creation for better UX
  .claude/tools/amplihack/session/claude_session.py
  .claude/tools/amplihack/session/session_manager.py
  .claude/tools/amplihack/session/tests/test_claude_session.py
  .claude/tools/amplihack/session/tests/test_session_manager.py
Due: check-imports, check-dependencies

refactor: Eliminate hook configuration duplication with shared function
  src/amplihack/__init__.py
  src/amplihack/cli.py
  tests/unit/test_hook_config.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Implement fail-closed exception handling in pre-push hook
  .claude/tools/amplihack/hooks/pre_push.py
  tests/integration/hooks/test_pre_push_integration.py
  tests/unit/hooks/test_pre_push_exception_handling.py
Due: check-imports, check-dependencies

refactor: Extract duplicated CLI argument definitions into helper functions
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: Extract setup.py/pyproject.toml generation to shared templates module
  src/amplihack/bundle_generator/filesystem_packager.py
  src/amplihack/bundle_generator/packager.py
  src/amplihack/bundle_generator/templates/__init__.py
  src/amplihack/bundle_generator/templates/python_packaging.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(subprocess): Add standardized SubprocessRunner and refactor docker/neo4j modules
  src/amplihack/docker/detector.py
  src/amplihack/docker/manager.py
  src/amplihack/neo4j/detector.py
  src/amplihack/utils/subprocess_runner.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

test(subprocess): Add comprehensive tests for SubprocessRunner
  tests/unit/utils/test_subprocess_runner.py
Due: check-imports, check-dependencies

docs(subprocess): Add comprehensive refactoring documentation
  SUBPROCESS_REFACTORING.md
Due: none

refactor: Extract Neo4j schema initialization to BaseGraphManager
  src/amplihack/memory/neo4j/base_graph.py
  src/amplihack/memory/neo4j/code_graph.py
  src/amplihack/memory/neo4j/doc_graph.py
  src/amplihack/memory/neo4j/external_knowledge.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Eliminate N+1 query anti-pattern in Neo4j code graph relationships
  src/amplihack/memory/neo4j/code_graph.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add explicit transaction rollback to all database operations
  src/amplihack/memory/database.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore: cleanup temporary files and organize documentation
  .claude/context/USER_PREFERENCES.md
  docs/security/NEO4J_CLEANUP_SECURITY_AUDIT.md
  src/amplihack/utils/defensive.py
  test_log_fix_manual.py
  test_logging_fixes.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add Neo4j session end cleanup with connection tracking (#1211)
  .claude/context/USER_PREFERENCES.md
  .claude/tools/amplihack/hooks/stop.py
  .gitguardian.yaml
  docs/features/neo4j-session-cleanup.md
  docs/security/NEO4J_CLEANUP_SECURITY_AUDIT.md
  scripts/test_neo4j_cleanup_real_e2e.py
  scripts/test_signal_handler_cleanup.py
  src/amplihack/hooks/__init__.py
  src/amplihack/hooks/manager.py
  src/amplihack/launcher/core.py
  src/amplihack/neo4j/__init__.py
  src/amplihack/neo4j/connection_tracker.py
  src/amplihack/neo4j/shutdown_coordinator.py
  test_log_fix_manual.py
  test_logging_fixes.py
  tests/agentic/test_neo4j_session_cleanup.py
  tests/unit/neo4j_cleanup/__init__.py
  tests/unit/neo4j_cleanup/test_connection_tracker.py
  tests/unit/neo4j_cleanup/test_shutdown_coordinator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Use valid Docker TTY flag instead of invalid --no-TTY
  src/amplihack/docker/manager.py
  src/amplihack/proxy/config.py
  src/amplihack/proxy/integrated_proxy.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Remove -c flag support to prevent command injection in proxy manager
  src/amplihack/proxy/manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Fix: Prevent path traversal via symlink bypass in FilesystemPackager
  src/amplihack/bundle_generator/filesystem_packager.py
  tests/integration/test_filesystem_packager_symlink_security.py
  tests/verify_symlink_fix.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add checksum verification to package extraction
  src/amplihack/bundle_generator/packager.py
  tests/test_packager_checksum_verification.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add comprehensive documentation and tests for lock/reflection independence
  .claude/tools/amplihack/hooks/README_STOP_HOOK.md
  .claude/tools/amplihack/hooks/stop.py
  INVESTIGATION_FINDINGS.md
  tests/unit/hooks/test_lock_reflection_simple.py
  tests/unit/hooks/test_stop_lock_reflection_independence.py
Due: check-imports, check-dependencies

fix: Resolve CodeIndexMetadata warnings (Issue #1195)
  src/amplihack/memory/neo4j/schema.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add required --entity-id argument to blarify calls
  src/amplihack/memory/neo4j/code_graph.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: Add automode safety architecture specification (Issue #1090)
  Specs/automode-safety-architecture.md
  Specs/automode-safety-summary.md
Due: none

feat: Add module-spec-generator Claude Code Skill (Issue #1219)
  .claude/skills/QUICK_REFERENCE.md
  .claude/skills/README.md
  .claude/skills/SKILL.md
  .claude/skills/examples/analysis-workflow.md
  .claude/skills/examples/session-management-spec.md
  .claude/skills/examples/simple-utility-spec.md
Due: none

docs: Add comprehensive Claude Code Skills documentation
  .claude/skills/README.md
  CLAUDE.md
Due: none

fix: Update lock mode configuration for independent operation
  .claude/settings.json
  .claude/tools/amplihack/hooks/claude_reflection.py
Due: sync-hooks-validation, check-imports, check-dependencies

feat: Eliminate 10 code duplication patterns with shared utilities
  DEDUPLICATION_SUMMARY.md
  src/amplihack/common/__init__.py
  src/amplihack/common/markdown_utils.py
  src/amplihack/common/parsing.py
  src/amplihack/common/session_utils.py
  src/amplihack/common/subprocess_utils.py
  src/amplihack/common/validation.py
  src/amplihack/knowledge_builder/modules/artifact_generator.py
  src/amplihack/knowledge_builder/modules/question_generator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add comprehensive type hints to 10 function sets
  .claude/tools/amplihack/hooks/hook_processor.py
  .claude/tools/amplihack/session/file_utils.py
  .claude/tools/amplihack/session/session_toolkit.py
  src/amplihack/bundle_generator/extractor.py
  src/amplihack/bundle_generator/generator.py
  src/amplihack/bundle_generator/packager.py
  src/amplihack/cli_extensions.py
  src/amplihack/utils/claude_trace.py
  src/amplihack/utils/prerequisites.py
  src/amplihack/utils/process.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Implement comprehensive exception handling with logging and cleanup
  src/amplihack/bundle_generator/distributor.py
  src/amplihack/bundle_generator/packager.py
  src/amplihack/bundle_generator/repository_creator.py
  src/amplihack/bundle_generator/update_manager.py
  src/amplihack/cli_extensions.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Implement strict input validation for API keys and tokens
  src/amplihack/proxy/config.py
  src/amplihack/proxy/server.py
  tests/proxy/test_input_validation_strict.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add full-text indexes to Neo4j for efficient content search
  scripts/test_fulltext_search.py
  src/amplihack/memory/neo4j/code_graph.py
  src/amplihack/memory/neo4j/doc_graph.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add required --entity-id argument to blarify create command
  src/amplihack/memory/neo4j/code_graph.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add comprehensive defensive utilities for LLM interactions and file I/O
  src/amplihack/utils/defensive.py
  tests/test_defensive_basic.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add PDF Processing Skill from Anthropic
  .claude/skills/INTEGRATION_STATUS.md
  .claude/skills/README.md
  .claude/skills/common/README.md
  .claude/skills/common/dependencies.txt
  .claude/skills/common/verification/README.md
  .claude/skills/common/verification/verify_skill.py
  .claude/skills/pdf/DEPENDENCIES.md
  .claude/skills/pdf/README.md
  .claude/skills/pdf/SKILL.md
  .claude/skills/pdf/examples/example_usage.md
  .claude/skills/pdf/tests/test_pdf_skill.py
  README.md
Due: check-imports, check-dependencies
