Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$

feat: Add power-steering visibility on first stop (#1592)
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/power_steering_progress.py
Due: check-imports, check-dependencies

fix: Address review feedback - race condition and docstring
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/power_steering_progress.py
Due: check-imports, check-dependencies

refactor: Major restructuring of DEFAULT_WORKFLOW.md for documentation-first development (#1591)
  .claude/commands/amplihack/ultrathink.md
  .claude/skills/default-workflow/SKILL.md
  .claude/skills/ultrathink-orchestrator/README.md
  .claude/skills/ultrathink-orchestrator/SKILL.md
  .claude/workflow/CONSENSUS_WORKFLOW.md
  .claude/workflow/DEFAULT_WORKFLOW.md
  docs/commands/COMMAND_SELECTION_GUIDE.md
Due: none

feat: Add power-steering visibility on first stop (#1596)
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/power_steering_progress.py
Due: check-imports, check-dependencies

fix: Remove default model specification from amplihack launcher (#1595)
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add --skip-secret-scan flag for development workflows
  .claude/tools/amplihack/remote/cli.py
  .claude/tools/amplihack/remote/context_packager.py
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add JWT authentication to API
  docs/JWT_AUTHENTICATION.md
  examples/jwt_api_example.py
  requirements-auth.txt
  src/amplihack/auth/README.md
  src/amplihack/auth/__init__.py
  src/amplihack/auth/jwt_handler.py
  src/amplihack/auth/middleware.py
  src/amplihack/auth/models.py
  src/amplihack/auth/routes.py
  src/amplihack/auth/user_store.py
  test_jwt_live.py
  tests/test_auth.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

perf: Parallelize power-steering SDK calls for 95% speedup
  .claude/tools/amplihack/hooks/power_steering_checker.py
Due: check-imports, check-dependencies

fix(pm-triage): Recognize comprehensive code reviews in comments
  .github/scripts/pr_triage/analyzers_mvp.py
  .github/scripts/pr_triage/tests/test_analyzers_mvp.py
Due: check-imports, check-dependencies

fix: Move test_jwt_live.py to examples directory
  examples/test_jwt_live.py
Due: check-imports, check-dependencies

docs(pm-triage): Add pattern justification and examples
  .github/scripts/pr_triage/analyzers_mvp.py
Due: check-imports, check-dependencies

fix: Remove VM size mapping - azlin handles it internally
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Replace deprecated asyncio.get_event_loop().run_in_executor()
  .claude/tools/amplihack/hooks/power_steering_checker.py
Due: check-imports, check-dependencies

fix(pm-triage): Recognize comprehensive code reviews in comments (#1602)
  .github/scripts/pr_triage/analyzers_mvp.py
  .github/scripts/pr_triage/tests/test_analyzers_mvp.py
Due: check-imports, check-dependencies

perf: Parallelize power-steering SDK calls for 95% speedup (#1600)
  .claude/tools/amplihack/hooks/power_steering_checker.py
Due: check-imports, check-dependencies

fix: statusline indicators now show without session_id requirement
  .claude/tools/amplihack/lock_tool.py
  .claude/tools/statusline.sh
Due: check-imports, check-dependencies

feat: Implement review feedback for JWT authentication
  docs/JWT_AUTHENTICATION.md
  src/amplihack/auth/__init__.py
  src/amplihack/auth/jwt_handler.py
  src/amplihack/auth/rate_limiter.py
  src/amplihack/auth/routes.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: change power steering emoji from target to traffic light
  .claude/tools/statusline.sh
Due: none

fix: Add missing newline at end of rate_limiter.py
  src/amplihack/auth/rate_limiter.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: statusline indicators show without session_id + emoji fix (#1603)
  .claude/tools/amplihack/lock_tool.py
  .claude/tools/statusline.sh
Due: check-imports, check-dependencies

fix: make power steering counter session-specific
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/statusline.sh
Due: check-imports, check-dependencies

fix: make power steering counter session-specific (#1605)
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/statusline.sh
Due: check-imports, check-dependencies

fix: Add keyword-based session type detection for investigation/troubleshooting
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_session_classification.py
Due: check-imports, check-dependencies

docs: Add discovery entry for power-steering session type detection fix
  .claude/context/DISCOVERIES.md
Due: none

refactor: Address code review feedback
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_session_classification.py
Due: check-imports, check-dependencies

feat: Add --vm-name support with Azure CLI fallback
  .claude/tools/amplihack/remote/orchestrator.py
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add keyword-based session type detection for investigation/troubleshooting (#1604) (#1606)
  .claude/context/DISCOVERIES.md
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/tests/test_session_classification.py
Due: check-imports, check-dependencies

feat: Add Step 0 Workflow Preparation to prevent step skipping
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

feat(skills): Add quality-audit-workflow skill for comprehensive codebase audits
  .claude/skills/quality-audit-workflow/SKILL.md
  .claude/skills/quality-audit-workflow/examples.md
  .claude/skills/quality-audit-workflow/reference.md
Due: none

fix: Add prerequisite check at Step 1 to verify Step 0 completion
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

feat: Add Step 0 Workflow Preparation to prevent step skipping (#1608)
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

feat(skills): Add quality-audit-workflow skill for comprehensive codebase audits (#1609)
  .claude/skills/quality-audit-workflow/SKILL.md
  .claude/skills/quality-audit-workflow/examples.md
  .claude/skills/quality-audit-workflow/reference.md
Due: none

fix(neo4j): Fix Docker reconnection by reordering credential detection
  src/amplihack/memory/neo4j/lifecycle.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(memory): Add Kùzu embedded graph database as alternative to Neo4j Docker
  pyproject.toml
  src/amplihack/memory/__init__.py
  src/amplihack/memory/auto_backend.py
  src/amplihack/memory/kuzu/__init__.py
  src/amplihack/memory/kuzu/connector.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(config): Add Docker MCP server integration for container management
  .mcp.json
Due: none

docs: Add Neo4j memory system investigation findings to DISCOVERIES.md
  .claude/context/DISCOVERIES.md
Due: none

feat(skills): Add consensus-voting skill for multi-agent decisions
  .claude/skills/consensus-voting/README.md
  .claude/skills/consensus-voting/SKILL.md
Due: none
