Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

feat: Add comprehensive Gang of Four Design Patterns skill
  .claude/skills/design-patterns-expert/README.md
  .claude/skills/design-patterns-expert/SKILL.md
  .claude/skills/design-patterns-expert/examples/01_quick_lookup.md
  .claude/skills/design-patterns-expert/examples/02_implementation_guide.md
  .claude/skills/design-patterns-expert/examples/03_pattern_recognition.md
  .claude/skills/design-patterns-expert/examples/04_pattern_comparison.md
  .claude/skills/design-patterns-expert/examples/05_philosophy_check.md
  .claude/skills/design-patterns-expert/examples/06_deep_dive.md
  DESIGN_PATTERNS_SKILL_ARCHITECTURE.md
  IMPLEMENTATION_SUMMARY.md
  verify_skill.sh
Due: none

chore: Remove temporary implementation artifacts for design patterns skill
  DESIGN_PATTERNS_SKILL_ARCHITECTURE.md
  IMPLEMENTATION_SUMMARY.md
  verify_skill.sh
Due: none

feat: Remove duplicate agents and deprecate /amplihack:reflection command
  .claude/agents/README.md
  .claude/agents/ambiguity-guardian.md
  .claude/agents/post-task-cleanup.md
  .claude/commands/amplihack/reflection.md
  .claude/commands/ddd/0-help.md
  .claude/commands/ddd/2-docs.md
  .claude/commands/ddd/5-finish.md
Due: none

refactor: Implement progressive disclosure for design patterns skill
  .claude/skills/design-patterns-expert/SKILL.md
  .claude/skills/design-patterns-expert/antipatterns.md
  .claude/skills/design-patterns-expert/examples.md
  .claude/skills/design-patterns-expert/reference-patterns.md
Due: none

feat: Update skill builder to emphasize progressive disclosure
  .claude/commands/amplihack/skill-builder.md
  .claude/skills/skill-builder/reference.md
Due: none

Cleanup: Remove duplicate agents and commands (#1366)
  .claude/agents/README.md
  .claude/agents/ambiguity-guardian.md
  .claude/agents/post-task-cleanup.md
  .claude/commands/amplihack/reflection.md
  .claude/commands/ddd/0-help.md
  .claude/commands/ddd/2-docs.md
  .claude/commands/ddd/5-finish.md
Due: none

feat: Update skill builder to emphasize progressive disclosure (#1367)
  .claude/commands/amplihack/skill-builder.md
  .claude/skills/skill-builder/reference.md
Due: none

docs: Add Priority 2 decision trees and usage guides (Issue #1365)
  .claude/agents/USAGE_GUIDE.md
  CLAUDE.md
Due: none

refactor: Ultra-minimal SKILL.md with aggressive progressive disclosure
  .claude/skills/design-patterns-expert/SKILL.md
  .claude/skills/design-patterns-expert/reference-patterns.md
Due: none

refactor: Reorganize guides by audience (AI context vs user docs)
  .claude/context/AGENT_SELECTION_GUIDE.md
  CLAUDE.md
  docs/commands/COMMAND_SELECTION_GUIDE.md
Due: none

feat: Add token count display to statusline
  .claude/tools/statusline.sh
Due: none

feat: Add Gang of Four Design Patterns Expert Skill (#1362)
  .claude/skills/design-patterns-expert/README.md
  .claude/skills/design-patterns-expert/SKILL.md
  .claude/skills/design-patterns-expert/antipatterns.md
  .claude/skills/design-patterns-expert/examples.md
  .claude/skills/design-patterns-expert/examples/01_quick_lookup.md
  .claude/skills/design-patterns-expert/examples/02_implementation_guide.md
  .claude/skills/design-patterns-expert/examples/03_pattern_recognition.md
  .claude/skills/design-patterns-expert/examples/04_pattern_comparison.md
  .claude/skills/design-patterns-expert/examples/05_philosophy_check.md
  .claude/skills/design-patterns-expert/examples/06_deep_dive.md
  .claude/skills/design-patterns-expert/reference-patterns.md
Due: none

Add Goal-Seeking Agent Design Pattern Skill
  .claude/skills/goal-seeking-agent-pattern/README.md
  .claude/skills/goal-seeking-agent-pattern/SKILL.md
  .claude/skills/goal-seeking-agent-pattern/examples/adaptive_testing.md
  .claude/skills/goal-seeking-agent-pattern/examples/data_pipeline.md
  .claude/skills/goal-seeking-agent-pattern/examples/workflow_automation.md
  .claude/skills/goal-seeking-agent-pattern/templates/goal_prompt_template.md
  .claude/skills/goal-seeking-agent-pattern/templates/integration_guide.md
  .claude/skills/goal-seeking-agent-pattern/tests/test_skill_activation.md
Due: none

feat: Enable Serena MCP server by default
  .claude/docs/integrations/SERENA.md
  .claude/tools/amplihack/hooks/session_start.py
  IMPLEMENTATION_SUMMARY.md
  src/amplihack/__init__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add Goal-Seeking Agent Design Pattern Skill (#1374)
  .claude/skills/goal-seeking-agent-pattern/README.md
  .claude/skills/goal-seeking-agent-pattern/SKILL.md
  .claude/skills/goal-seeking-agent-pattern/examples/adaptive_testing.md
  .claude/skills/goal-seeking-agent-pattern/examples/data_pipeline.md
  .claude/skills/goal-seeking-agent-pattern/examples/workflow_automation.md
  .claude/skills/goal-seeking-agent-pattern/templates/goal_prompt_template.md
  .claude/skills/goal-seeking-agent-pattern/templates/integration_guide.md
  .claude/skills/goal-seeking-agent-pattern/tests/test_skill_activation.md
Due: none

feat: Add token count display to statusline (#1373)
  .claude/tools/statusline.sh
Due: none

refactor: Remove redundant AGENT_SELECTION_GUIDE.md
  .claude/context/AGENT_SELECTION_GUIDE.md
  CLAUDE.md
Due: none

feat: Generic MCP evaluation framework
  .gitignore
  Specs/MCP_EVALUATION_ARCHITECTURE_DIAGRAM.md
  Specs/MCP_EVALUATION_FRAMEWORK.md
  Specs/MCP_EVALUATION_IMPLEMENTATION_PLAN.md
  Specs/MCP_EVALUATION_SUMMARY.md
  Specs/MCP_TOOL_CONFIGURATION_SCHEMA.md
  tests/mcp_evaluation/IMPLEMENTATION_SUMMARY.md
  tests/mcp_evaluation/QUICK_START.md
  tests/mcp_evaluation/README.md
  tests/mcp_evaluation/framework/__init__.py
  tests/mcp_evaluation/framework/adapter.py
  tests/mcp_evaluation/framework/evaluator.py
  tests/mcp_evaluation/framework/metrics.py
  tests/mcp_evaluation/framework/reporter.py
  tests/mcp_evaluation/framework/types.py
  tests/mcp_evaluation/run_evaluation.py
  tests/mcp_evaluation/scenarios/__init__.py
  tests/mcp_evaluation/scenarios/scenario_1_navigation.py
  tests/mcp_evaluation/scenarios/scenario_2_analysis.py
  tests/mcp_evaluation/scenarios/scenario_3_modification.py
  tests/mcp_evaluation/scenarios/test_codebases/microservice_project/__init__.py
  tests/mcp_evaluation/scenarios/test_codebases/microservice_project/handlers/__init__.py
  tests/mcp_evaluation/scenarios/test_codebases/microservice_project/handlers/base_handler.py
  tests/mcp_evaluation/scenarios/test_codebases/microservice_project/handlers/grpc_handler.py
  tests/mcp_evaluation/scenarios/test_codebases/microservice_project/handlers/http_handler.py
  tests/mcp_evaluation/scenarios/test_codebases/microservice_project/handlers/websocket_handler.py
  tests/mcp_evaluation/scenarios/test_codebases/microservice_project/models/__init__.py
  tests/mcp_evaluation/scenarios/test_codebases/microservice_project/models/session.py
  tests/mcp_evaluation/scenarios/test_codebases/microservice_project/models/user.py
  tests/mcp_evaluation/scenarios/test_codebases/microservice_project/services/__init__.py
  tests/mcp_evaluation/scenarios/test_codebases/microservice_project/services/auth_service.py
  tests/mcp_evaluation/scenarios/test_codebases/microservice_project/services/database_service.py
  tests/mcp_evaluation/scenarios/test_codebases/microservice_project/services/user_service.py
  tests/mcp_evaluation/scenarios/test_codebases/microservice_project/utils/__init__.py
  tests/mcp_evaluation/scenarios/test_codebases/microservice_project/utils/config.py
  tests/mcp_evaluation/scenarios/test_codebases/microservice_project/utils/logger.py
  tests/mcp_evaluation/test_framework.py
  tests/mcp_evaluation/tools/__init__.py
Due: check-imports, check-dependencies

fix: Update worktree settings.json to prevent duplicate stop hooks
  .claude/settings.json
Due: sync-hooks-validation

refactor: Rename zen-architect and improve 12 agent frontmatter descriptions
  .claude/agents/amplihack/core/architect.md
  .claude/agents/amplihack/core/optimizer.md
  .claude/agents/amplihack/specialized/ambiguity.md
  .claude/agents/amplihack/specialized/amplifier-cli-architect.md
  .claude/agents/amplihack/specialized/analyzer.md
  .claude/agents/amplihack/specialized/ci-diagnostic-workflow.md
  .claude/agents/amplihack/specialized/fix-agent.md
  .claude/agents/amplihack/specialized/integration.md
  .claude/agents/amplihack/specialized/knowledge-archaeologist.md
  .claude/agents/amplihack/specialized/memory-manager.md
  .claude/agents/amplihack/specialized/patterns.md
  .claude/agents/amplihack/specialized/philosophy-guardian.md
  .claude/agents/amplihack/specialized/pre-commit-diagnostic.md
  .claude/agents/amplihack/specialized/preference-reviewer.md
  .claude/agents/amplihack/specialized/prompt-writer.md
  .claude/agents/amplihack/specialized/worktree-manager.md
  .claude/commands/ddd/0-help.md
  .claude/commands/ddd/1-plan.md
  .claude/commands/ddd/3-code-plan.md
  CLAUDE.md
  README.md
Due: none

chore: Gitignore settings.json and preserve uncommitted work
  .claude/commands/amplihack/customize.md
  .claude/context/DISCOVERIES.md
  .claude/context/USER_PREFERENCES.md
  .gitignore
  .pre-commit-config.yaml
  src/amplihack/__version_manifest__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Make LAST_UPDATED static constant in version manifest
  src/amplihack/__version_manifest__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Priority 2: Add decision trees and usage guides for overlapping agents/commands (#1375)
  .claude/agents/amplihack/core/architect.md
  .claude/agents/amplihack/core/optimizer.md
  .claude/agents/amplihack/specialized/ambiguity.md
  .claude/agents/amplihack/specialized/amplifier-cli-architect.md
  .claude/agents/amplihack/specialized/analyzer.md
  .claude/agents/amplihack/specialized/ci-diagnostic-workflow.md
  .claude/agents/amplihack/specialized/fix-agent.md
  .claude/agents/amplihack/specialized/integration.md
  .claude/agents/amplihack/specialized/knowledge-archaeologist.md
  .claude/agents/amplihack/specialized/memory-manager.md
  .claude/agents/amplihack/specialized/patterns.md
  .claude/agents/amplihack/specialized/philosophy-guardian.md
  .claude/agents/amplihack/specialized/pre-commit-diagnostic.md
  .claude/agents/amplihack/specialized/preference-reviewer.md
  .claude/agents/amplihack/specialized/prompt-writer.md
  .claude/agents/amplihack/specialized/worktree-manager.md
  .claude/commands/ddd/0-help.md
  .claude/commands/ddd/1-plan.md
  .claude/commands/ddd/3-code-plan.md
  CLAUDE.md
  README.md
  docs/commands/COMMAND_SELECTION_GUIDE.md
Due: none

chore: Gitignore settings.json and preserve uncommitted work (#1379)
  .claude/commands/amplihack/customize.md
  .claude/context/DISCOVERIES.md
  .claude/context/USER_PREFERENCES.md
  .gitignore
  .pre-commit-config.yaml
  src/amplihack/__version_manifest__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add automated evaluation with amplihack auto mode
  tests/mcp_evaluation/automated_evaluation.py
Due: check-imports, check-dependencies

fix: Resolve stop.py merge conflict and add Neo4j learning capture
  .claude/tools/amplihack/hooks/neo4j/__init__.py
  .claude/tools/amplihack/hooks/neo4j/learning_capture.py
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

refactor: Remove Zero-BS violations from Neo4j learning capture
  .claude/tools/amplihack/hooks/neo4j/learning_capture.py
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

refactor: Address remaining review feedback
  .claude/tools/amplihack/hooks/neo4j/learning_capture.py
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

fix: Relax power-steering path validation and improve error visibility
  .claude/context/DISCOVERIES.md
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/tests/test_security_features.py
Due: check-imports, check-dependencies

fix: Resolve stop.py merge conflict and add Neo4j learning capture (#1381)
  .claude/tools/amplihack/hooks/neo4j/__init__.py
  .claude/tools/amplihack/hooks/neo4j/learning_capture.py
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

fix: Relax power-steering path validation and improve error visibility (#1384)
  .claude/context/DISCOVERIES.md
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/hooks/tests/test_security_features.py
Due: check-imports, check-dependencies

fix: Prevent neo4j prompts during session cleanup (#1387)
  Specs/NEO4J_POST_SESSION_PROMPT_FIX.md
  src/amplihack/memory/neo4j/container_selection.py
  tests/memory/neo4j/test_container_selection.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Prevent neo4j prompts during session cleanup (#1387) (#1388)
  Specs/NEO4J_POST_SESSION_PROMPT_FIX.md
  src/amplihack/memory/neo4j/container_selection.py
  tests/memory/neo4j/test_container_selection.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$
