Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

fix(kuzu): Only create parent directory, let kuzu create db dir
  src/amplihack/memory/kuzu/connector.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(remote): Add session management for disconnect-resilient remote execution (#1616)
  .claude/tools/amplihack/remote/session.py
  .claude/tools/amplihack/remote/tests/test_session.py
  docs/remote-sessions/CLI_REFERENCE.md
  docs/remote-sessions/README.md
Due: check-imports, check-dependencies

fix(remote): Add logging to SSH command exceptions for better debuggability
  .claude/tools/amplihack/remote/session.py
Due: check-imports, check-dependencies

feat: Add GitHub Pages site generation to documentation-writer skill
  .claude/skills/documentation-writing/github_pages/README.md
  .claude/skills/documentation-writing/github_pages/__init__.py
  .claude/skills/documentation-writing/github_pages/deployer.py
  .claude/skills/documentation-writing/github_pages/generator.py
  .claude/skills/documentation-writing/github_pages/mkdocs_config.py
  .claude/skills/documentation-writing/github_pages/tests/__init__.py
  .claude/skills/documentation-writing/github_pages/tests/conftest.py
  .claude/skills/documentation-writing/github_pages/tests/test_deployer.py
  .claude/skills/documentation-writing/github_pages/tests/test_generator.py
  .claude/skills/documentation-writing/github_pages/tests/test_integration.py
  .claude/skills/documentation-writing/github_pages/tests/test_mkdocs_config.py
  .claude/skills/documentation-writing/github_pages/tests/test_validator.py
  .claude/skills/documentation-writing/github_pages/validator.py
  .pre-commit-config.yaml
  docs/howto/github-pages-generation.md
  docs/index.md
  docs/reference/github-pages-api.md
  docs/tutorials/first-docs-site.md
Due: check-imports, check-dependencies

docs: Add GitHub Pages feature to README with links to documentation
  README.md
Due: none

Remove example code from GitHub Pages section
  README.md
Due: none

docs: Reorganize README - move Features section after Agents Reference
  README.md
Due: none

feat: Add GitHub Pages site generation to documentation-writer skill (#1631)
  .claude/skills/documentation-writing/github_pages/README.md
  .claude/skills/documentation-writing/github_pages/__init__.py
  .claude/skills/documentation-writing/github_pages/deployer.py
  .claude/skills/documentation-writing/github_pages/generator.py
  .claude/skills/documentation-writing/github_pages/mkdocs_config.py
  .claude/skills/documentation-writing/github_pages/tests/__init__.py
  .claude/skills/documentation-writing/github_pages/tests/conftest.py
  .claude/skills/documentation-writing/github_pages/tests/test_deployer.py
  .claude/skills/documentation-writing/github_pages/tests/test_generator.py
  .claude/skills/documentation-writing/github_pages/tests/test_integration.py
  .claude/skills/documentation-writing/github_pages/tests/test_mkdocs_config.py
  .claude/skills/documentation-writing/github_pages/tests/test_validator.py
  .claude/skills/documentation-writing/github_pages/validator.py
  .pre-commit-config.yaml
  README.md
  docs/howto/github-pages-generation.md
  docs/index.md
  docs/reference/github-pages-api.md
  docs/tutorials/first-docs-site.md
Due: check-imports, check-dependencies

docs(readme): reorganize README with table of contents (#1632)
  README.md
  docs/reference/STATUSLINE.md
Due: none

docs(readme): reorganize README with table of contents (#1632) (#1633)
  README.md
  docs/reference/STATUSLINE.md
Due: none

chore: remove misplaced CODE_REVIEW_CONTEXT_REFACTORING.md from root
  CODE_REVIEW_CONTEXT_REFACTORING.md
Due: none

docs(readme): fix Features section placement and expand feature list
  README.md
Due: none

docs(readme): fix Features section placement and expand feature list (#1635)
  README.md
Due: none

feat(docs): Add documentation website links to README
  README.md
Due: none

feat(docs): Add documentation website links to README (#1638)
  README.md
Due: none

docs: Add deep links and remove hardcoded workflow step counts (#1639)
  .claude/agents/amplihack/specialized/amplifier-cli-architect.md
  .claude/commands/amplihack/fix.md
  .claude/context/DISCOVERIES.md
  .claude/context/PROJECT_AMPLIHACK.md
  .claude/skills/investigation-workflow/SKILL.md
  .claude/workflow/INVESTIGATION_WORKFLOW.md
  .claude/workflow/README.md
  CLAUDE.md
  README.md
  Specs/power_steering_checker.md
  docs/CREATE_YOUR_OWN_TOOLS.md
  docs/THIS_IS_THE_WAY.md
  docs/WORKFLOW_COMPLETION.md
  docs/index.md
Due: none

docs: Add deep links and remove hardcoded workflow step counts (#1639) (#1641)
  .claude/agents/amplihack/specialized/amplifier-cli-architect.md
  .claude/commands/amplihack/fix.md
  .claude/context/DISCOVERIES.md
  .claude/context/PROJECT_AMPLIHACK.md
  .claude/skills/investigation-workflow/SKILL.md
  .claude/workflow/INVESTIGATION_WORKFLOW.md
  .claude/workflow/README.md
  CLAUDE.md
  README.md
  Specs/power_steering_checker.md
  docs/CREATE_YOUR_OWN_TOOLS.md
  docs/THIS_IS_THE_WAY.md
  docs/WORKFLOW_COMPLETION.md
  docs/index.md
Due: none

fix(statusline): Normalize JSON input by removing newlines
  .claude/tools/statusline.sh
Due: none

Revert "fix(statusline): Normalize JSON input by removing newlines"
  .claude/tools/statusline.sh
Due: none

Revert "Revert "fix(statusline): Normalize JSON input by removing newlines""
  .claude/tools/statusline.sh
Due: none

fix(hooks): Add turn-aware state tracking to prevent power-steering infinite loop (#1640)
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/power_steering_state.py
Due: check-imports, check-dependencies

fix: Address review feedback for context_management v3
  .claude/skills/context_management/__init__.py
  .claude/skills/context_management/automation.py
Due: check-imports, check-dependencies

fix: Address review feedback - cleanup and documentation
  src/amplihack/memory/neo4j/lifecycle.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Address review feedback - add tests and interface parity
  src/amplihack/memory/auto_backend.py
  src/amplihack/memory/kuzu/connector.py
  tests/memory/kuzu/__init__.py
  tests/memory/kuzu/test_kuzu_connector.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

chore(cleanup): Philosophy compliance - remove transient docs, add __all__
  CODE_REVIEW_CONTEXT_REFACTORING.md
  src/amplihack/memory/kuzu/connector.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat(hooks): Enhanced turn-aware power-steering with delta analysis (#1640)
  .claude/tools/amplihack/hooks/power_steering_checker.py
  .claude/tools/amplihack/hooks/power_steering_state.py
Due: check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$
