Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$

refactor: Address code review feedback
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Prevent stop hooks from running twice at each stop
  src/amplihack/launcher/core.py
  tests/manual_test_stop_hook_duplicate_fix.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Wrap rich imports in try/except for optional dependency compliance
  .claude/tools/amplihack/profile_management/README.md
  .claude/tools/amplihack/profile_management/cli.py
  .claude/tools/amplihack/profile_management/config.py
  .claude/tools/amplihack/profile_management/loader.py
Due: check-imports, check-dependencies

fix: Use 'amplihack launch --auto' for autonomous execution
  .claude/tools/amplihack/remote/executor.py
Due: check-imports, check-dependencies

fix: Pass working_dir to ClaudeTranscriptBuilder in auto mode
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Correct script path in PM PR triage workflow
  .github/workflows/pm-pr-triage.yml
Due: none

fix: Statusline power-steering counter now works in worktrees
  .claude/tools/statusline.sh
Due: none

fix: Pass working_dir to ClaudeTranscriptBuilder in auto mode (#1581)
  src/amplihack/launcher/auto_mode.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Correct script path in PM PR triage workflow (#1580)
  .github/workflows/pm-pr-triage.yml
Due: none

refactor: Simplify profile API - Remove URI scheme for built-in profiles
  .claude/tools/amplihack/profile_management/README.md
  .claude/tools/amplihack/profile_management/cli.py
  .claude/tools/amplihack/profile_management/config.py
  .claude/tools/amplihack/profile_management/loader.py
  .claude/tools/amplihack/profile_management/tests/test_simple_names.py
Due: check-imports, check-dependencies

fix: Add --no-nfs flag to skip NFS mounting
  .claude/tools/amplihack/remote/orchestrator.py
Due: check-imports, check-dependencies

refactor: Simplify profile API - Remove URI scheme for built-in profiles (#1582)
  .claude/tools/amplihack/profile_management/README.md
  .claude/tools/amplihack/profile_management/cli.py
  .claude/tools/amplihack/profile_management/config.py
  .claude/tools/amplihack/profile_management/loader.py
  .claude/tools/amplihack/profile_management/tests/test_simple_names.py
Due: check-imports, check-dependencies

fix: Remove --no-nfs flag (doesn't exist in azlin)
  .claude/tools/amplihack/remote/orchestrator.py
Due: check-imports, check-dependencies

feat: Auto-migrate global amplihack hooks to project-local
  .claude/tools/amplihack/hooks/session_start.py
  .claude/tools/amplihack/hooks/settings_migrator.py
  .claude/tools/amplihack/hooks/tests/README.md
  .claude/tools/amplihack/hooks/tests/TEST_SUMMARY.md
  .claude/tools/amplihack/hooks/tests/test_settings_migrator.py
Due: check-imports, check-dependencies

fix: Remove unused variables in test_settings_migrator.py
  .claude/tools/amplihack/hooks/tests/test_settings_migrator.py
Due: check-imports, check-dependencies

docs: Add power-steering documentation to user-facing docs
  docs/features/power-steering/README.md
  docs/features/power-steering/customization-guide.md
  docs/index.md
  mkdocs.yml
Due: none

feat: Clean up .claude/skills directory structure
  .claude/skills/ANALYST_VALIDATION_PLAN.md
  .claude/skills/INTEGRATION_STATUS.md
  .claude/skills/README.md
  .claude/skills/SKILLS_QUICK_REFERENCE.md
  .claude/skills/learning-path-builder/README.md
  .claude/skills/learning-path-builder/SKILL.md
  .claude/skills/learning-path-builder/examples/python-beginner.md
  .claude/skills/mermaid-diagram-generator/README.md
  .claude/skills/mermaid-diagram-generator/SKILL.md
  .claude/skills/mermaid-diagram-generator/examples/architecture.md
  .claude/skills/mermaid-diagram-generator/examples/workflow.md
  docs/skills/SKILL_CATALOG.md
  docs/skills/investigations/ANALYST_SEARCH_2024.md
Due: none

docs: Add power-steering documentation to user-facing docs (#1584)
  docs/features/power-steering/README.md
  docs/features/power-steering/customization-guide.md
  docs/index.md
  mkdocs.yml
Due: none

fix: Copy PHILOSOPHY.md to docs for mkdocs build
  docs/PHILOSOPHY.md
Due: none

fix: Remove --strict from mkdocs build to allow deployment
  .github/workflows/docs.yml
Due: none

refactor: Address code review feedback on settings_migrator
  .claude/tools/amplihack/hooks/settings_migrator.py
Due: check-imports, check-dependencies

fix: Remove README from .claude/skills/ and delete investigations doc
  .claude/skills/README.md
  docs/skills/investigations/ANALYST_SEARCH_2024.md
Due: none

refactor: Extract context management to reusable tools following best practices
  .claude/commands/amplihack/transcripts.md
  .claude/docs/context-management-refactoring-architecture.md
  .claude/skills/context_management/SKILL.md
  .claude/tools/amplihack/context_automation_hook.py
  .claude/tools/amplihack/context_manager.py
  .claude/tools/amplihack/hooks/post_tool_use.py
  .claude/tools/amplihack/hooks/tool_registry.py
  .claude/tools/amplihack/transcript_manager.py
  CODE_REVIEW_CONTEXT_REFACTORING.md
Due: check-imports, check-dependencies

fix: Correct power-steering documentation links in index
  docs/index.md
Due: none

fix: Re-add --no-nfs flag (user confirmed it works)
  .claude/tools/amplihack/remote/orchestrator.py
Due: check-imports, check-dependencies

Clean up .claude/skills directory structure (#1586)
  .claude/skills/ANALYST_SEARCH_CAPABILITY.md
  .claude/skills/ANALYST_VALIDATION_PLAN.md
  .claude/skills/INTEGRATION_STATUS.md
  .claude/skills/SKILLS_QUICK_REFERENCE.md
  .claude/skills/learning-path-builder/README.md
  .claude/skills/learning-path-builder/SKILL.md
  .claude/skills/learning-path-builder/examples/python-beginner.md
  .claude/skills/mermaid-diagram-generator/README.md
  .claude/skills/mermaid-diagram-generator/SKILL.md
  .claude/skills/mermaid-diagram-generator/examples/architecture.md
  .claude/skills/mermaid-diagram-generator/examples/workflow.md
  docs/skills/SKILL_CATALOG.md
Due: none

docs: Add comprehensive handoff document for next agent
  HANDOFF.md
Due: none

fix: Prevent stop hooks from running twice at each stop (#1576)
  .claude/tools/amplihack/hooks/session_start.py
  .claude/tools/amplihack/hooks/settings_migrator.py
  .claude/tools/amplihack/hooks/tests/README.md
  .claude/tools/amplihack/hooks/tests/TEST_SUMMARY.md
  .claude/tools/amplihack/hooks/tests/test_settings_migrator.py
  .claude/tools/statusline.sh
  src/amplihack/launcher/core.py
  tests/manual_test_stop_hook_duplicate_fix.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

refactor: Extract context management to reusable tools + Simplify profile API (#1587)
  .claude/commands/amplihack/transcripts.md
  .claude/docs/context-management-refactoring-architecture.md
  .claude/skills/context_management/SKILL.md
  .claude/tools/amplihack/context_automation_hook.py
  .claude/tools/amplihack/context_manager.py
  .claude/tools/amplihack/hooks/post_tool_use.py
  .claude/tools/amplihack/hooks/tool_registry.py
  .claude/tools/amplihack/transcript_manager.py
  CODE_REVIEW_CONTEXT_REFACTORING.md
Due: check-imports, check-dependencies

feat: Add mandatory ultrathink-orchestrator skill invocation
  CLAUDE.md
Due: none

fix: Add VM size shortcuts mapping (s/m/l/xl) to Azure VM names
  .claude/tools/amplihack/remote/README.md
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Install amplihack from transferred repo, not PyPI
  .claude/tools/amplihack/remote/executor.py
Due: check-imports, check-dependencies

feat: Add documentation-writing skill and agent
  .claude/agents/amplihack/specialized/documentation-writer.md
  .claude/skills/documentation-writing/SKILL.md
  .claude/skills/documentation-writing/examples.md
  .claude/skills/documentation-writing/reference.md
  docs/DOCUMENTATION_GUIDELINES.md
  docs/index.md
Due: none

fix: Address reviewer feedback on documentation-writing skill
  .claude/skills/documentation-writing/SKILL.md
  docs/DOCUMENTATION_GUIDELINES.md
Due: none

refactor: Major restructuring of DEFAULT_WORKFLOW.md for documentation-first development
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

feat: Add documentation-writing skill and agent (#1590)
  .claude/agents/amplihack/specialized/documentation-writer.md
  .claude/skills/documentation-writing/SKILL.md
  .claude/skills/documentation-writing/examples.md
  .claude/skills/documentation-writing/reference.md
  docs/DOCUMENTATION_GUIDELINES.md
  docs/index.md
Due: none

refactor: Re-number workflow steps and remove hardcoded step counts
  .claude/commands/amplihack/ultrathink.md
  .claude/skills/default-workflow/SKILL.md
  .claude/skills/ultrathink-orchestrator/README.md
  .claude/skills/ultrathink-orchestrator/SKILL.md
  .claude/workflow/CONSENSUS_WORKFLOW.md
  .claude/workflow/DEFAULT_WORKFLOW.md
  docs/commands/COMMAND_SELECTION_GUIDE.md
Due: none

fix: Remove default model specification from amplihack launcher
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies
