Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$

fix: add missing logger definition in config.py
  src/amplihack/memory/neo4j/config.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add Neo4j diagnostics with node/relationship counts
  src/amplihack/launcher/core.py
  src/amplihack/memory/neo4j/diagnostics.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: rewrite _create_container to use direct docker run
  src/amplihack/memory/neo4j/lifecycle.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: remove undefined env variable in _create_container
  src/amplihack/memory/neo4j/lifecycle.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: detect and avoid Neo4j instances belonging to other apps
  src/amplihack/memory/neo4j/port_manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

docs: add complete session summary
  NEO4J_SESSION_SUMMARY.md
Due: none

docs: add comprehensive stop hooks and reflection guide
  .claude/templates/FEEDBACK_SUMMARY.md
  docs/README.md
  docs/STOP_HOOKS_GUIDE.md
Due: none

feat: make reflection synchronous and blocking in stop hook
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

fix: use safe characters in password generation (CRITICAL)
  src/amplihack/memory/neo4j/auto_setup.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: update feedback template and enable reflection by default
  .claude/templates/FEEDBACK_SUMMARY.md
  .claude/tools/amplihack/.reflection_config
Due: none

fix: disable broken memory extraction in stop hook
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

fix: properly disable broken memory extraction in stop hook
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

fix: clean up stop hook completely
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

fix: PROPERLY implement stop hook memory extraction
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

feat: interactive Neo4j startup with proper user feedback
  src/amplihack/launcher/core.py
  src/amplihack/memory/neo4j/startup_wizard.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: integrate Code Understanding freshness check into startup
  src/amplihack/memory/neo4j/startup_wizard.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: ensure runtime dirs and fix hook paths at startup
  .claude/tools/amplihack/hooks/stop.py
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: TWO critical bugs in startup wizard
  src/amplihack/launcher/core.py
  src/amplihack/memory/neo4j/startup_wizard.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: replace pattern matching with Claude SDK-powered reflection
  .claude/tools/amplihack/hooks/claude_reflection.py
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

chore: remove unused pattern-matching reflection code
  .claude/tools/amplihack/hooks/reflection.py
  .claude/tools/amplihack/hooks/reflection_issue_template.py
  .claude/tools/amplihack/hooks/session_reflection.py
Due: check-imports, check-dependencies

fix: resolve ruff linting errors in stop hook
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

fix: prioritize CWD over package in path resolution
  .claude/tools/amplihack/paths.py
Due: check-imports, check-dependencies

feat: comprehensive reflection system improvements
  .claude/commands/amplihack/reflection.md
  .claude/commands/amplihack/ultrathink.md
  .claude/templates/FEEDBACK_SUMMARY.md
  .claude/tools/amplihack/.reflection_config
  .claude/tools/amplihack/hooks/claude_reflection.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: check-imports, check-dependencies

fix: re-enable reflection (was disabled for testing)
  .claude/tools/amplihack/.reflection_config
Due: none

fix: update run_claude_reflection signature to accept optional conversation param
  .claude/tools/amplihack/hooks/claude_reflection.py
Due: check-imports, check-dependencies

feat: use unique descriptive filenames for reflection outputs
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

docs: add automode safety guide to prevent session conflicts
  docs/AUTOMODE_SAFETY.md
Due: none

feat: add workflow enforcement and parallel investigation guidance
  .claude/commands/amplihack/ultrathink.md
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

refactor: move automode workflow improvements to separate PR
  .claude/commands/amplihack/ultrathink.md
  .claude/workflow/DEFAULT_WORKFLOW.md
Due: none

feat: Make reflection synchronous and blocking in stop hook (#1083)
  .claude/commands/amplihack/reflection.md
  .claude/templates/FEEDBACK_SUMMARY.md
  .claude/tools/amplihack/.reflection_config
  .claude/tools/amplihack/hooks/claude_reflection.py
  .claude/tools/amplihack/hooks/reflection.py
  .claude/tools/amplihack/hooks/reflection_issue_template.py
  .claude/tools/amplihack/hooks/session_reflection.py
  .claude/tools/amplihack/hooks/stop.py
  .claude/tools/amplihack/paths.py
  docs/AUTOMODE_SAFETY.md
  src/amplihack/launcher/core.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Prevent reflection chaining on trivial follow-up sessions (#1104)
  .claude/context/USER_PREFERENCES.md
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

feat: Add statusline script for session context display (#1078)
  .claude/settings.json
  .claude/tools/statusline.sh
Due: sync-hooks-validation

feat: prompt user to index codebase on first startup
  src/amplihack/memory/neo4j/startup_wizard.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Add message count thresholds to prevent reflection chaining (#1104)
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

feat: Add pre-flight safety validation for automode (Strategy 1)
  src/amplihack/cli.py
  src/amplihack/launcher/preflight.py
  src/amplihack/utils/git_state.py
  tests/test_preflight.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Implement automatic worktree creation for automode isolation
  .claude/tools/amplihack/hooks/claude_reflection.py
  docs/AUTOMODE_SAFETY.md
  docs/AUTOMODE_WORKTREE_GUIDE.md
  src/amplihack/launcher/auto_mode.py
  src/amplihack/launcher/worktree_manager.py
  tests/integration/test_preflight_git_guard.py
  tests/unit/test_git_state.py
  tests/unit/test_worktree_manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Implement Strategy 3 - Git State Guard for automode safety
  src/amplihack/cli.py
  src/amplihack/launcher/preflight.py
  src/amplihack/utils/git_state.py
  tests/test_preflight.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: add investigation complexity estimator to Ultra-Think
  .claude/commands/amplihack/ultrathink.md
  Specs/complexity_estimator_architecture.md
  Specs/complexity_estimator_tests.md
Due: none

feat: Add comprehensive investigation summary template with edge cases
  .claude/templates/INVESTIGATION_SUMMARY_TEMPLATE.md
Due: none
