Repository rysweet/MicrosoftHackathon2025-AgenticCoding: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, sync-hooks-validation, check-imports, check-dependencies

no-print-statements:
  name: No print statements in production code
  entry: bash
  args:
  - -c
  ...

no-dev-artifacts:
  name: No development artifacts in production code
  entry: bash
  args:
  - -c
  ...

no-bare-except:
  name: No bare except clauses
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l \"except:\" {} \\; | grep -v \"# noqa\"; then\n  echo \"ERROR: Found bare except clauses. Use specific exception types.\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false

secure-error-messages:
  name: Check for secure error message patterns
  entry: bash
  args:
  - -c
  - "if find src/ -name \"*.py\" -exec grep -l -E \"(Exception.*path|Error.*password|\\.py.*line)\" {} \\; | grep -v \"# noqa\"; then\n  echo \"WARNING: Found potentially sensitive information in error messages.\"\nfi\n"
  ...

sync-hooks-validation:
  name: Validate hooks sync between settings files
  entry: python3 src/amplihack/utils/sync_validator.py
  language: system
  pass_filenames: false

check-imports:
  name: Validate Python imports and type hints
  entry: python3 scripts/pre-commit/check_imports.py
  language: system
  pass_filenames: true

check-dependencies:
  name: Validate optional dependency handling
  entry: python3 scripts/pre-commit/check_dependencies.py
  language: system
  pass_filenames: true

fix: Apply 50 automated code quality fixes
  FIXES_SUMMARY.md
  STATUS_REPORT.md
  identified_fixes.json
  scripts/apply_50_fixes_automated.py
  scripts/apply_all_50_fixes.py
  scripts/apply_fixes_batch.py
  scripts/apply_remaining_49_fixes.sh
  scripts/create_50_specific_fixes.py
  scripts/identify_50_fixes.py
  src/amplihack/proxy/integrated_proxy.py.backup
  src/amplihack/proxy/refactor_proxy.py
  verify_fixes.sh
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Replace generic exception handling with specific exceptions in cleanup_handler
  src/amplihack/utils/cleanup_handler.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Replace bare exception with specific types in defensive.py
  src/amplihack/utils/defensive.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add goal-seeking agent generator (Phase 1 MVP)
  .claude/context/USER_PREFERENCES.md
  docs/goal_agent_generator/IMPLEMENTATION_SUMMARY.md
  examples/goal_agent_generator/example_goal_prompt.md
  src/amplihack/cli.py
  src/amplihack/goal_agent_generator/README.md
  src/amplihack/goal_agent_generator/__init__.py
  src/amplihack/goal_agent_generator/agent_assembler.py
  src/amplihack/goal_agent_generator/cli.py
  src/amplihack/goal_agent_generator/models.py
  src/amplihack/goal_agent_generator/objective_planner.py
  src/amplihack/goal_agent_generator/packager.py
  src/amplihack/goal_agent_generator/prompt_analyzer.py
  src/amplihack/goal_agent_generator/skill_synthesizer.py
  src/amplihack/goal_agent_generator/tests/__init__.py
  src/amplihack/goal_agent_generator/tests/test_integration.py
  src/amplihack/goal_agent_generator/tests/test_models.py
  src/amplihack/goal_agent_generator/tests/test_objective_planner.py
  src/amplihack/goal_agent_generator/tests/test_prompt_analyzer.py
  src/amplihack/goal_agent_generator/tests/test_skill_synthesizer.py
  src/amplihack/utils/defensive.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Replace bare exceptions with specific types in database.py
  src/amplihack/memory/database.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Replace print statements with logging in proxy/manager.py
  src/amplihack/proxy/manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix: Replace bare Exception with specific types in neo4j/manager.py
  src/amplihack/neo4j/manager.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix(error-handling): Add explicit error logging in reflection loader
  .claude/tools/amplihack/hooks/claude_reflection.py
Due: check-imports, check-dependencies

fix(documentation): Add timing note for Neo4j cleanup operation
  .claude/tools/amplihack/hooks/stop.py
Due: check-imports, check-dependencies

fix(documentation): Add return docstring to _generate_session_id
  .claude/tools/amplihack/session/claude_session.py
Due: check-imports, check-dependencies

fix(batch-002): Add 20 type safety and validation improvements
  .claude/tools/amplihack/hooks/hook_processor.py
  .claude/tools/amplihack/session/claude_session.py
  .claude/tools/amplihack/session/file_utils.py
  .claude/tools/amplihack/session/session_manager.py
  scripts/fix_batch_manager.py
Due: check-imports, check-dependencies

fix: Add recovery suggestions to exception classes
  src/amplihack/bundle_generator/exceptions.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Add configuration conflict handling with namespaced installation
  .claude/tools/amplihack/hooks/session_start.py
  src/amplihack/__init__.py
  src/amplihack/installation/__init__.py
  src/amplihack/installation/claude_md_integrator.py
  src/amplihack/installation/config_cli.py
  src/amplihack/installation/conflict_detector.py
  src/amplihack/installation/namespace_installer.py
  src/amplihack/installation/orchestrator.py
  tests/installation/__init__.py
  tests/installation/test_claude_md_integrator.py
  tests/installation/test_config_cli.py
  tests/installation/test_conflict_detector.py
  tests/installation/test_namespace_installer.py
  tests/installation/test_orchestrator.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

feat: Smart PROJECT.md initialization for user projects
  src/amplihack/utils/project_initializer.py
  tests/unit/test_project_initializer.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Integrate PROJECT.md initializer into installation flow
  src/amplihack/__init__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Use FORCE mode for PROJECT.md during installation
  src/amplihack/__init__.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

Add PROJECT.md initialization to UVX installation path
  src/amplihack/cli.py
Due: no-print-statements, no-dev-artifacts, no-bare-except, secure-error-messages, check-imports, check-dependencies

fix 1
  fix_1.marker
Due: none

fix 2
  fix_2.marker
Due: none

fix 3
  fix_3.marker
Due: none

fix 4
  fix_4.marker
Due: none

fix 5
  fix_5.marker
Due: none

fix 6
  fix_6.marker
Due: none

fix 7
  fix_7.marker
Due: none

fix 8
  fix_8.marker
Due: none

fix 9
  fix_9.marker
Due: none

fix 10
  fix_10.marker
Due: none

fix 11
  fix_11.marker
Due: none

fix 12
  fix_12.marker
Due: none

fix 13
  fix_13.marker
Due: none

fix 14
  fix_14.marker
Due: none

fix 15
  fix_15.marker
Due: none

fix 16
  fix_16.marker
Due: none

fix 17
  fix_17.marker
Due: none

fix 18
  fix_18.marker
Due: none

fix 19
  fix_19.marker
Due: none

fix 20
  fix_20.marker
Due: none

fix 21
  fix_21.marker
Due: none

fix 22
  fix_22.marker
Due: none

Path conditions:
  no-print-statements: any of: ^src/.*\.py$
  no-dev-artifacts: any of: ^src/.*\.py$
  no-bare-except: any of: ^src/.*\.py$
  secure-error-messages: any of: ^src/.*\.py$
  sync-hooks-validation: any of: ^(\.claude/settings\.json|src/amplihack/utils/uvx_settings_template\.json)$
  check-imports: any of: \.py$
  check-dependencies: any of: \.py$
